<div class="my-dialog-mask">
  <div class="my-dialog" >
    <div class="dialog-top" layout="column" ng-cloak>
      <div class="dialog-msg" layout="column" style="border-bottom: 1px solid #dedede;padding:20px;">
        <p>{{dialogMsg}}</p>
        <md-input-container ng-show="!logOut">
          <label>描述</label>
          <input   md-no-asterisk name="description" ng-model="description">
        </md-input-container>
        <md-slider-container layout="row" layout-align="start center" ng-show="!logOut">
          <span flex="none" style="display:inline-block;padding-right: 10px">百分比</span>
          <md-slider flex min="0" max="100" ng-model="percentage" aria-label="red" id="red-slider">
          </md-slider>
          <md-input-container style="width:40px;">
            <input type="number" ng-model="percentage" aria-label="red" aria-controls="red-slider">
          </md-input-container>
        </md-slider-container>
        <!--<md-input-container>-->
        <!--<label>百分比</label>-->
        <!--<input  type="number"  md-no-asterisk name="description" ng-model="percentage">-->
        <!--</md-input-container>-->
      </div>
      <md-button  flex style="width:100%;" ng-click="submit($event)">{{dialogSure}}</md-button>
    </div>
    <div class="dialog-bottom"><md-button flex style="width:100%;" ng-click="cancel($event)">取消</md-button></div>
  </div>
</div>
