.transform90{
  transform:rotate(180deg);
}
.topbar{
  //padding:0 10px;
  //height: 50px;
  position: relative;
  .swap-btn{
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index:60;
      >div{
        height:28px;
        line-height: 28px;
        border:1px solid #fff;
        border-radius: 4px;
        margin-top: 8px;
        .active{
          background: #fff;
          color:#f00;
        }
      }
  }
  //md-icon{
  //  margin:auto 6px;
  //  width:22px;
  //  height:22px;
  //  min-width: 22px;
  //}
  .md-button{
    &.little-btn{
      md-icon{
        margin: auto 0;
        min-width: 18px;
        width: 18px;
      }
      padding:0;
      margin:0;
      margin-left:5px;
      min-width: 50px;
      font-size: 14px;
    }
    &.leftbar{
      margin-left:0;
      padding:0;
      min-width: 30px;
      max-width:100px;text-align:left;overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;
    }
    span{
      padding-top:0;
    }
  }

  .toptitle{
    line-height: 44px;
    text-align: center;
    width:100px;
    overflow: hidden;
    text-overflow:ellipsis;
    font-size:18px;
    position: absolute;
    left:50%;
    margin-left:-50px;
    white-space:nowrap;
  }
}


.is-tabs{
  font-size: 14px;
  >div{
    border-bottom: 3px solid transparent;
    .md-button{
      margin:0;
    }
  }
  .active{
    border-color:#f00;
  }
}
.is-list{
  .circle{
    border:1px solid #dedede;
    border-radius:50%;
    height:30px;
    width:30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-left:8px;
  }
  .md-button{
    min-width: 60px;
    min-height: 32px;
    line-height: 32px;
  }
  md-list-item{
    .md-secondary-container{
      margin-left: 5px;
    }
  }
}
.cjwt{
  md-list-item{
    &.active{
      background: #fff;
    }
  }
  .colRed{
    color:red;
  }


  .cjwt-list{
    height:48px;
    line-height: 48px;
    .circle{
      width: 32px;
      height: 32px;
      flex:none;
      border:1px solid #dedede;
      border-radius: 50%;
      margin-right: 10px;
      line-height: 32px;
      text-align: center;
    }
  }
}
.img-list{
  .photos{
  position: relative;
  display: inline-block;
  }

  .remove{
  position: absolute;
  top: -7px;
  right: -5px;
  }
  span{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right:5px;
    margin-bottom: 5px;
    vertical-align: top;
    border:1px solid #dedede;
    img{
      max-width: 48px;
      max-height: 48px;
      display: block;
      margin: auto;
      &.camera{
        margin-top:5px;
      }
    }
  }
}
.is-cjwt{
  background: #fff;
}
.comments{
  .precent{
    background: #fff;
    padding: 0;
    border-top:1px solid #dedede;
    md-list-item{
      p{
        &.p-label{
          border:2px solid #ff3b30;
          text-align: center;
          line-height: 36px;
          width: 36px;
          height: 36px;
          overflow: hidden;
          color:#ff3b30;
          font-weight: 600;
          margin-top:5px;
          margin-bottom: 5px;
        }
      }
      .md-button{
        &.md-default-theme{
          &:not([disabled]){
            :hover{
              background-color: rgba(0,0,0,0);
            }
          }
        }
        &:not([disabled]){
          &:hover{
            background-color: rgba(0,0,0,0);
          }
        }
      }
    }
  }
}
.comments{
  md-switch{
    ._md-bar{
      left: 0px;
      width: 41px;
      top: 0;
      height: 23px;
      border-radius: 10px;
    }
    ._md-thumb-container{
      top:1px;
      width:20px;
    }
    &.md-sxt-blue-theme{
      &.md-checked {
        ._md-bar{
          background-color:#2eb54c;
        }
        ._md-thumb{
          background-color:#fff;
        }
      }
    }
  }
  .pic-content{
    padding:0 13px 13px 0;
    p{
      position: relative;
      float: left;
      //display: inline-block;
      //vertical-align: top;
      width: 25%;
      padding-top:22%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-width: 13px 0 0 13px;
      border-style: solid;
      border-color: transparent;
      -webkit-background-clip: padding-box;
      -webkit-background-size: cover;
      background-clip: padding-box;
      background-size: cover;
      img{
        //width: 100%;
      }
      b{
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -webkit-background-size: cover;
        background-size: cover;
        border:1px solid #dedede;
      }
    }
  }
}


#meter {
  md-datepicker{
  padding-right: 0px;
  margin-right: 0px;
 input{
   text-align: right;
 }
}little-btnr{
    border-bottom-width: 0 !important;
  }
  .md-button.md-icon-button{
    display: none;
  }
  .md-datepicker-input-container{
    border-bottom-width: 0 !important;
  }
  md-input-container .md-input {
    border-width: 0 0 0 0 !important;
  }
}


#statistic{

  md-tab-content{
    top: -40px;
    left: -10px;
  }
  md-tabs{
    min-height: 430px;
  }

  md-datepicker{
    padding-right: 0px;
    margin-right: 0px;
    input{
      text-align: left;
    }
  }
  .md-datepicker-input-container{
    border-bottom-width: 0 !important;
  }

}
#statistic1{

  md-tab-content{
    top: -40px;
    left: -10px;
  }
  md-tabs{
    min-height: 430px;
  }

  md-datepicker{
    padding-right: 0px;
    margin-right: 0px;
    input{
      text-align: left;
    }
  }
  .md-datepicker-input-container{
    border-bottom-width: 0 !important;
  }

}

#closed{
  color: #888888
}

//#none{
//  .leaflet-right{
//    display: none;
//  }
//}

.nglast:last-of-type{
  display: none;
}

.color_red{
  color: red !important;
}

.shine {
  animation: opacity-change 1s ease-in-out infinite;
  -webkit-animation: opacity-change 1s ease-in-out infinite;
  -moz-animation: opacity-change 1s ease-in-out infinite;
  -o-animation: opacity-change 1s ease-in-out infinite;
}
.shine2 {
  animation: opacity-change 1s ease-in-out infinite;
  -webkit-animation: opacity-change 1s ease-in-out infinite;
  -moz-animation: opacity-change 1s ease-in-out infinite;
  -o-animation: opacity-change 1s ease-in-out infinite;
}
@keyframes opacity-change {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes opacity-change {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes opacity-change {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes opacity-change {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
