<div ng-if="vm.yw==4" flex="none" style="background-color: white;">
  <md-progress-circular id="toolbar-progress" ng-if="!vm.f_isOver" class="md-accent"
                        md-mode="indeterminate" md-diameter="28" style="margin-left: 8px;margin-top: 8px">
  </md-progress-circular>
  <md-list ng-show="vm.isOver" style="background-color: #FFFFFF">
    <md-list-item style="background-color: #FFFFFF" ng-click="vm.zbzgAction(item)" layout="row" ng-repeat="item in vm.zglist|zgFilter:[1,8]">
      <div  layout="column" style="padding-bottom: 16px">
        <p style="padding-right: 20px;font-size:16px;line-height: 20px;padding-left:8px;margin-bottom: 12px">
          <span style="margin-left:1%;color:white;background-color: #ff6d1f;font-size:12px;border-radius: 3px">总包整改</span>
        </p>

        <p style="color:#999;padding-right: 20px;margin:0;font-size:12px;padding-left:8px;line-height: 22px">
          {{item.Describe}}
        </p>
      </div>
      <span flex></span>
      <md-button ng-click="vm.zbzgbtnAction(item,$event)" class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="app/main/xhsc/images/more_vert.svg"></md-icon>
      </md-button>
      <span class="border1px bottom1px"></span>
    </md-list-item>
  </md-list>
</div>

<div ng-if="vm.yw==32" flex="none" style="background-color: white;">
  <md-progress-circular id="toolbar-progress" ng-if="!vm.f_isOver" class="md-accent"
                        md-mode="indeterminate" md-diameter="28" style="margin-left: 8px;margin-top: 8px">
  </md-progress-circular>
  <md-list-item style="background-color: #FFFFFF" ng-click="vm.jlfyAction(item)" ng-repeat="item in vm.zglist|zgFilter:[64]">
    <div style="padding-bottom: 16px" layout="column">
      <p style="padding-right: 20px;font-size:16px;line-height: 20px;padding-left:8px;margin-bottom: 12px">
        <span style="margin-left:1%;color:white;background-color: #ff6d1f;font-size:12px;border-radius: 3px">验房复验</span>
      </p>
      <p style="color:#999;padding-right: 20px;margin:0;font-size:12px;padding-left:8px;line-height: 22px"><span style="display: block;height: 24px">
            {{item.Describe}} </span></p>
    </div>
    <span flex></span>
    <md-button ng-click="vm.jlfybtnAction(item,$event)" class="md-icon-button" aria-label="More">
      <md-icon md-svg-icon="app/main/xhsc/images/more_vert.svg"></md-icon>
    </md-button>
    <span class="border1px bottom1px"></span>
  </md-list-item>
</div>

<div ng-if=" vm.isShowbg" layout="column" flex layout-align="center center">
  <div layout="row" layout-align="center center">
    <img class="nullImg" src="app/main/xhsc/images/null.png"/>
  </div>
  <div layout="row">
    <p style=" font-size: 16px; color: #808080;">暂无数据</p>
  </div>
</div>





