﻿<div>
    <md-list >
        <md-subheader class="md-no-sticky">已选择项</md-subheader>
         <md-list-item ng-repeat="st in selectors" ng-if="st.selected"><p>{{st.label}}：{{st.selected.$name}}</p><md-checkbox class="md-secondary"  ng-click="item_clear(st.index)"  ng-checked="1"></md-checkbox></md-list-item>
        <md-divider></md-divider>
</md-list>

    <div ng-repeat="st in selectors" data-title="{{st.label}}" ng-if="st.items.length"  ng-show="isShow(st)">
<div class="md-padding">
      <md-input-container class="md-block" ng-disabled="st.loading">
        <label>{{st.label}}</label>
        <md-select ng-model="st.current" md-on-close="st.current && item_selected(st.current, st.index)">
          <md-option ng-repeat="item in st.filters" ng-value="item">
            {{item.$name}}
          </md-option>
        </md-select>
      </md-input-container></div>

      <md-list>
<!--            <md-subheader class="md-no-sticky">
                <div layout="row">
                    <div flex="none" class="stlabel">{{st.label}}</div>
                    <div flex>
                        <md-button class="md-fab md-mini" ng-class="{'md-primary':lt.selected}" ng-repeat="lt in st.letters" ng-click="st.filter(lt)">
                            {{lt.$name}}
                        </md-button>
                    </div>
                </div>
            </md-subheader>-->

            <!--<md-list-item ng-repeat="item in st.filters" ng-click="item_selected(item, st.index)">-->
                <!--<p>{{item.$name}}</p>-->
                <!--<md-divider></md-divider>-->
            <!--</md-list-item>-->
        </md-list>
      <md-divider></md-divider>
    </div>
    <div ng-transclude></div>
</div>
