.menu-toggle-list {
  max-height: 4000px;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: 0.55s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.55s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.55s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
  &.ng-hide{
    max-height: 0;
  }
}
.panel>.table-responsive{
  border-top:2px solid rgb(221, 221, 221);
}
.menu{
  position:relative;
}
.text-disabled{
  text-decoration: line-through;
  color:silver;
  font-style: italic;
}

.point-add {
  background: #f10417 url(../assets/images/logos/logo_03.jpg) no-repeat center;
  background-size:80%;
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  border: 3px solid #fff;
  z-index: 9;
}

.mouse-over {
  box-shadow:0 0 12px rgba(0,0,0,0.19);
  width:336px;
  height:195px;
  background:#fff;
  border-radius:5px;
  z-index:999;
  &:after{
    background:url(../assets/images/backgrounds/jiao.png) no-repeat center top;
    width:363px;
    height:22px;
    content:"";
    display:block;
    margin:23px 0 0 0;
  }
  .point-nav {


    div {
      float: left;
      width: 108px;
      text-align: center;
      font-size: 14px;
      color: #373737;
      height: 96px;
      border-right: 1px solid #E6E6E6;
      &:last-child {
        border: none;
        width: 109px;
      }
    }
    i {
      height: 70px;
      display: block;
      width: 100%;
    }
    .nav01 i {
      display: block;
      background: url(../assets/images/backgrounds/ico-01.png) no-repeat center;
    }
    .nav02 i {
      display: block;
      background: url(../assets/images/backgrounds/ico-02.png) no-repeat center;
    }
    .nav03 i {
      display: block;
      background: url(../assets/images/backgrounds/ico-03.png) no-repeat center;
    }
  }
  .name {
    color: #fa0014;
    font-size: 16px;
    padding: 18px 0 0 18px;
  }
  .add {
    background: url(../assets/images/backgrounds/ico-04.png) no-repeat left center;
    margin: 8px 18px;
    text-indent: 17px;
  }
}

.imageEdit{
  div{cursor:hand;}
  .edititem{
    min-width:100px;
    float:left;
    padding:5px 0;
    position:relative;
    .action{
      position:absolute;
      top:10px;
      right:10px;
    }
    .proc{
      position:absolute;
      top:45%;
      left:45%;
    }
  }
  .file-drop-zone{
    width:140px;
    cursor:hand;
    border-style:solid;
    overflow: hidden;
    background:url(../assets/images/etc/plug.png) no-repeat center center;
    input{
      opacity: 0;
      text-indent: -1000px;
    }
  }
}
.piclayer{
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background:rgba(100,100,100,.95);
  z-index:10000;
  .pic_close{

    height:50px;
    position: absolute;
    right:0;
    top: 0;
  }
  .swiper-container{
    width:100%;
    .swiper-wrapper{
      height:100%;
      .swiper-slide{
        display:table;
        width: 100%;
        p{
          display: table-cell;
          vertical-align:middle;
          width:100%;
          padding:0;
          margin:0;
          -webkit-margin-before: 0;
          -webkit-margin-after: 0;
          img{
            max-width:100%;
            max-height:100%;
            margin:0 auto;
            display: block;
          }
        }

      }
    }
    .swiper-pagination-bullet{
      width: 20px;
      height: 20px;
      background:#ffffff;
      opacity:.9;
    }
    .swiper-pagination-bullet-active{
      background: #ff0000!important;
    }
  }
}

//building
.floor-layer1{
  text-align: center;
  position: relative;
  .item{
    position: absolute;
    bottom:0;
    width:100%;
    margin:0 auto;
    a{
      color:#333;
      p{
        white-space: nowrap;
        overflow: hidden;
        margin:0;
      }
      .whole{
        position:relative; width: 180px; margin: 0 auto;
        .whole-progress{
          position:absolute; bottom:0;
        }
        ul{
          -webkit-padding-start:0;
          li{
            list-style: none;
          }
        }
        .whole-target{
          .wall-t,.wall-m,.build-b{
            filter:alpha(opacity=20); opacity:0.2;
          }
        }
        .build-t{ position:relative; background-image:url(../app/main/szgc/images/build-t.png); width:184px; height:107px; margin: 0 0 -89px 0;}
        .build-m{ position:relative; background-image:url(../app/main/szgc/images/build-m.png); width:184px; height:109px; margin: 0 0 -92px 0;}
        .build-b{ position:relative; background-image:url(../app/main/szgc/images/build-b.png); width:184px; height:129px; margin: -95px 0 0 0; }
        .wall-t{ position:relative; background-image:url(../app/main/szgc/images/wall-t.png); width:184px; height:107px; margin: 0 0 -89px 0;}
        .wall-m{ position:relative; background-image:url(../app/main/szgc/images/wall-m.png); width:184px; height:109px; margin: 0 0 -92px 0;}
        .build-m-presell{ position:relative; background-image:url(../app/main/szgc/images/build-m-red.png); width:184px; height:109px; margin: 0 0 -92px 0}
        .wall-m-presell{ position:relative; background-image:url(../app/main/szgc/images/wall-m-red.png); width:184px; height:109px; margin: 0 0 -92px 0}
      }
    }

  }
}
.floor-layer{
  //width:20%;
  //display: inline-block;
  text-align: center;
  position: relative;
  //overflow:hidden;
  .item{
    position: absolute;
    bottom:0;
    width:100%;
    margin:0 auto;
    a{
      color:#333;
      &:hover{
        color:#f00;
      }
      p{
        white-space: nowrap;
        overflow: hidden;
        margin:0;
      }
      .whole{
        position:relative; width: 180px; margin: 0 auto;overflow: hidden;
        .whole-progress{
          position:absolute; bottom:0;
        }
        ul{
          -webkit-padding-start:0;
          li{
            list-style: none;
          }
        }
        .whole-target{
          .wall-t,.wall-m,.build-b{
            filter:alpha(opacity=20); opacity:0.2;
          }
        }
        .build-t{ position:relative; background-image:url(../app/main/szgc/images/build-t.png); width:184px; height:107px; margin: 0 0 -89px 0;}
        .build-m{ position:relative; background-image:url(../app/main/szgc/images/build-m.png); width:184px; height:109px; margin: 0 0 -92px 0;}
        .build-b{ position:relative; background-image:url(../app/main/szgc/images/build-b.png); width:184px; height:129px; margin: -95px 0 0 0; }
        .wall-t{ position:relative; background-image:url(../app/main/szgc/images/wall-t.png); width:184px; height:107px; margin: 0 0 -89px 0;}
        .wall-m{ position:relative; background-image:url(../app/main/szgc/images/wall-m.png); width:184px; height:109px; margin: 0 0 -92px 0;}
        .build-m-presell{ position:relative; background-image:url(../app/main/szgc/images/build-m-red.png); width:184px; height:109px; margin: 0 0 -92px 0}
        .wall-m-presell{ position:relative; background-image:url(../app/main/szgc/images/wall-m-red.png); width:184px; height:109px; margin: 0 0 -92px 0}
      }
    }

  }
}





.relpos {
  position: relative;
}

#target {
  left: 0;
  top: 0;
  width: 500px;
  height: 500px;
  vertical-align: middle;
  text-align: center;
  color: white;
  background-color: #444;
  font-size: 36pt;
  font-family: 'Futura', 'Avenir', 'Helvetica', sans-serif;
}

.marker-cluster-small {
  background-color: rgba(255, 0, 0, 0.6);
  div {
    background-color: rgba(204, 57, 57, 0.60);
  }
}
.marker-cluster-medium {
  background-color: rgba(241, 104, 87, 0.60);
  div {
    background-color: rgba(240, 12, 12, 0.60);
  }
}
.marker-cluster-large {
  background-color: rgba(253, 115, 115, 0.60);
  div {
    background-color: rgba(241, 23, 23, 0.60);
  }
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
}
.marker-cluster span {
  line-height: 30px;
  color:white;
}
.gridListyhyd {

  md-grid-list {
    margin: 8px;
    img {
      width: 30%;
    }
  }

  md-grid-tile {
    transition: all 300ms ease-out 50ms;
    border: solid 1px rgba(200,200,200,.9);
    margin-top: 1px;
    img {
      padding-bottom: 32px;
    }
    md-grid-tile-footer {
      background: rgba(255,255,255,1);
      height: 80px;
      figcaption {
        width: 100%;
        h3 {
          line-height: 80px;
          margin: 0;
          font-weight: 700;
          width: 100%;
          text-align: center;
          color:rgb(215,62,50);
        }
      }
    }
  }
  md-grid-tile[disabled]{
    md-grid-tile-footer {
      background:rgba(255,255,255,1);
      figcaption {
        h3{
          color:silver;
        }
      }
    }
  }
}
