<form name="projectForm">
  <md-list ng-cloak>
    <md-list-item style="height: 48px;">
      <label flex="40">退场原因</label>
      <md-input-container flex="60" class="md-block" style="height: 48px; margin: 0;padding: 0;">
        <input type="text" ng-model="vm.data.ExitReason"  ng-disabled="true" style="padding: 0;margin-top: 10px;text-align: right;" />
      </md-input-container>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p flex="40">退场数量</p>
      <md-input-container flex="60" class="md-block" style="height: 48px; margin: 0;padding: 0;">
        <input type="number" ng-model="vm.data.ExitCount" style="padding: 0;margin-top: 10px;text-align: right;" required>
      </md-input-container>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item style="height: 48px;">
      <p flex="40">退场见证人</p>
      <md-input-container flex="60" class="md-block" style="height: 48px; margin: 0;padding: 0;">
        <input ng-model="vm.data.ExitWitness" style="padding: 0;margin-top: 10px;text-align: right;" required>
      </md-input-container>
    </md-list-item>
    <div style="background-color: lightgrey; padding: 16px 16px 16px 8px;">退场照片</div>
    <md-list-item style="padding-right: 0;">
      <div flex="60" ng-repeat="img in vm.exitImgs" sxt-images="vm.exitImgs" style="text-align: center;margin: 5px 0;">
        <img ng-src="{{img.ImageByte}}" style="width: 450px;" flex="95" style="display: block;"/>
      </div>
      <md-button class="md-secondary" ng-click="vm.addPhoto(128)"><md-icon md-font-icon="icon-camera" class="icon s40"></md-icon></md-button>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</form>
