<!--<md-content flex layout-padding>-->
    <!--<div style="background-color: #F2F2F2;font-size: 12px;color: #757575;padding-top: 16px;padding-bottom:  16px;">材料计划信息</div>-->
    <!--<md-divider class="md-no-sticky"></md-divider>-->
    <!--<div>计划名称：{{vm.data.PlanName}}</div>-->
    <!--<div>材料/设备名称：{{vm.data.MaterialName}}</div>-->
    <!--<div>规格：{{vm.data.Specifications}}</div>-->
    <!--<div>型号：{{vm.data.Model}}</div>-->
    <!--<div>厂家/品牌：{{vm.data.Brands}}</div>-->
    <!--<div>计划进场时间：{{vm.data.PlanTime}}</div>-->
    <!--<div>计划进场数量：{{vm.data.PlanCount}}&nbsp;{{vm.data.Unit}}</div>-->
    <!--<div>使用部位：{{vm.data.Position}}</div>-->
    <!--<div>合同编号：{{vm.data.Contract}}</div>-->
    <!--<div>供货方式：-->
      <!--&lt;!&ndash;{{vm.data.SupplyType}}&ndash;&gt;-->
      <!--<label ng-if="vm.data.SupplyType == 1">甲供</label>-->
      <!--<label ng-if="vm.data.SupplyType == 2">认质认价</label>-->
      <!--<label ng-if="vm.data.SupplyType == 4">甲指乙供</label>-->
    <!--</div>-->
    <!--<md-divider class="md-no-sticky"></md-divider>-->
    <!--<section>-->
      <!--<md-checkbox aria-label="Disabled checkbox" ng-model="vm.confirm">本人确认本批进场材料与上述材料计划信息相符</md-checkbox>-->
    <!--</section>-->
    <!--<md-divider class="md-no-sticky"></md-divider>-->
    <!--<section layout="row" layout-align="center" style="padding: 0;">-->
      <!--<md-button flex="50" class="groupX middle md-secondary" ng-disabled="!vm.confirm" style="color: black;margin-right: 0px" ui-sref="app.xhsc.materialys.intoFactory({status:1,Id:vm.data.Id,BatchId:vm.data.BatchId})">分批进场</md-button>-->
      <!--<md-button flex="50" class="groupX middle md-secondary" ng-disabled="!vm.confirm" ui-sref="app.xhsc.materialys.intoFactory({status:0,Id:vm.data.Id,BatchId:vm.data.BatchId})" style="color: black;margin-right: 0px">一次性进场</md-button>-->
    <!--</section>-->
    <!--<md-divider class="md-no-sticky"></md-divider>-->
<!--</md-content>-->

<md-content>
  <md-list flex style="padding-top: 0;">
    <div style="background-color: lightgrey; padding: 16px 16px 16px 8px;">材料计划信息</div>
    <md-list-item>
      <p flex="30">计划名称</p>
      <p>{{vm.data.PlanName}}</p>
    </md-list-item>
    <md-list-item>
      <p flex="30">材料/设备名称</p>
      <p>{{vm.data.MaterialName}}</p>
    </md-list-item>
    <md-list-item>
      <p flex="30">规格</p>
      <p>{{vm.data.Specifications}}</p>
    </md-list-item>
    <md-list-item>
      <p flex="30">型号</p>
      <p>{{vm.data.Model}}</p>
    </md-list-item>
    <!--<md-list-item>-->
      <!--<p flex="30">厂家/品牌</p>-->
      <!--<p>{{vm.data.Brands}}</p>-->
    <!--</md-list-item>-->
    <md-list-item>
      <p flex="30">计划进场时间</p>
      <p>{{vm.data.PlanTime | date:'yyyy-MM-dd'}}</p>
    </md-list-item>
    <md-list-item>
      <p flex="30">计划进场数量</p>
      <p>{{vm.data.PlanCount + vm.data.Unit}}</p>
    </md-list-item>
    <md-list-item>
      <p flex="30">使用部位</p>
      <p>{{vm.data.Position}}</p>
    </md-list-item>
    <md-list-item>
      <p flex="30">合同编号</p>
      <p>{{vm.data.Contract}}</p>
    </md-list-item>
    <md-list-item>
      <p flex="30">供货方式</p>
      <p ng-if="vm.data.SupplyType == 1">甲供</p>
      <p ng-if="vm.data.SupplyType == 2">认质认价</p>
      <p ng-if="vm.data.SupplyType == 4">甲指乙供</p>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item style="height: 80px;">
      <md-checkbox aria-label="Disabled checkbox" ng-model="vm.confirm"></md-checkbox>
      <p>本人确认本批进场材料与上述材料计划信息相符</p>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item style="height: 80px;">
      <md-button flex="50" class="md-raised md-primary" ng-disabled="!vm.confirm" ui-sref="app.xhsc.materialys.intoFactory({status:1,BatchId:vm.data.Id,PlanId:vm.data.PlanId,PlanCount:vm.data.PlanCount,Brand:vm.data.Brands})">分批进场</md-button>
      <md-button flex="50" class="md-raised md-primary" ng-disabled="!vm.confirm" ui-sref="app.xhsc.materialys.intoFactory({status:0,BatchId:vm.data.Id,PlanId:vm.data.PlanId,PlanCount:vm.data.PlanCount,Brand:vm.data.Brands})">一次性进场</md-button>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
  </md-list>
</md-content>

