<md-content flex layout-padding>
    <div style="font-size: 1.1em;background-color: #F2F2F2;">材料计划信息</div>
    <md-divider class="md-no-sticky"></md-divider>
    <div>计划名称：{{vm.data.PlanName}}</div>
    <div>材料/设备名称：{{vm.data.MaterialName}}</div>
    <div>规格：{{vm.data.Specifications}}</div>
    <div>型号：{{vm.data.Model}}</div>
    <div>厂家/品牌：{{vm.data.Brands}}</div>
    <div>计划进场时间：{{vm.data.PlanTime}}</div>
    <div>计划进场数量：{{vm.data.PlanCount}}&nbsp;{{vm.data.Unit}}</div>
    <div>使用部位：{{vm.data.Position}}</div>
    <div>合同编号：{{vm.data.Contract}}</div>
    <div>供货方式：{{vm.data.SupplyType}}</div>
    <md-divider class="md-no-sticky"></md-divider>
    <section>
      <md-checkbox aria-label="Disabled checkbox" ng-model="vm.confirm">本人确认本批进场材料与上述材料计划信息相符</md-checkbox>
    </section>
    <md-divider class="md-no-sticky"></md-divider>
    <section layout="row" layout-align="center">
      <md-button flex="50" class="groupX middle" ng-disabled="!vm.confirm" style="color: black;margin-right: 0px" ui-sref="app.xhsc.materialys.intoFactory({status:1,id:vm.data.Id})">分批进场</md-button>
      <md-button flex="50" class="groupX middle" ng-disabled="!vm.confirm" ui-sref="app.xhsc.materialys.intoFactory({status:2,id:vm.data.Id})" style="color: black;margin-right: 0px">一次性进场</md-button>
    </section>
    <md-divider class="md-no-sticky"></md-divider>
</md-content>
