<md-content  flex layout-padding>
  <md-list>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item class="secondary-button-padding">
      <p>进厂时间</p>
      <md-input>2016-10-24</md-input>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <p>进场数量</p>
      <md-input>100吨</md-input>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <p>厂家/品牌</p>
      <md-input>龙泰利</md-input>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <p>供货方</p>
      <md-input>肯德基</md-input>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <p>有无封样</p>
      <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <p>检查人</p>
      <md-input>张三、李四</md-input>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-subheader class="md-no-sticky" style="font-size: 1.1em;background-color: #F2F2F2;">检查照片</md-subheader>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <p>车辆</p>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <p>货物</p>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <p>检查人</p>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <p>合格证</p>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
  </md-list>
</md-content>
