<div class="track-rcol">
  <div class="track-list">
    <ul>
      <li ng-hide="vm.data.ExitOperatorTime==null" aria-label="材料退场">
        <i class="node-icon icon-album"></i>
        <span class="time">{{vm.data.ExitOperatorTime | date:'yyyy-MM-dd HH:mm'}}</span>
        <span class="txt"><label>{{vm.data.ExitReason}}</label>{{vm.data.ExitOperatorName}}</span>
      </li>
      <li ng-hide="vm.data.ApprovalTime==null" aria-label="甲方经理批示">
        <i class="node-icon icon-album"></i>
        <span class="time">{{vm.data.ApprovalTime | date:'yyyy-MM-dd HH:mm'}}</span>
        <span class="txt"><label>甲方经理批示</label>{{vm.data.PartyA}}</span>
      </li>
      <li ng-hide="vm.data.ReportTime==null" aria-label="送检报告归档">
        <i class="node-icon icon-album"></i>
        <span class="time">{{vm.data.ReportTime | date:'yyyy-MM-dd HH:mm'}}</span>
        <span class="txt"><label>送检报告归档</label>{{vm.data.InspectionReporterName}}</span>
      </li>
      <li ng-hide="vm.data.InspectionTime==null" aria-label="监理送检">
        <i class="node-icon icon-album"></i>
        <span class="time">{{vm.data.InspectionTime | date:'yyyy-MM-dd HH:mm'}}</span>
        <span class="txt"><label>监理送检</label>{{vm.data.Inspectioner}}</span>
      </li>
      <li ng-hide="vm.data.AcceptanceTime==null" aria-label="监理验收">
        <i class="node-icon icon-album"></i>
        <span class="time">{{vm.data.AcceptanceTime | date:'yyyy-MM-dd HH:mm'}}</span>
        <span class="txt"><label>监理验收</label>{{vm.data.Accepter}}</span>
      </li>
      <li ng-hide="vm.data.ApproachTime==null" aria-label="材料进场">
        <i class="node-icon  icon-album"></i>
        <span class="time">{{vm.data.ApproachTime | date:'yyyy-MM-dd HH:mm'}}</span>
        <span class="txt"><label>材料进场</label>{{vm.data.Inspector}}</span>
      </li>
      <li aria-label="创建计划">
        <i class="node-icon icon-album"></i>
        <span class="time">{{vm.data.PlanCreateTime | date:'yyyy-MM-dd HH:mm'}}</span>
        <span class="txt"><label>创建计划</label>{{vm.data.PlanCreatorName}}</span>
      </li>
    </ul>
  </div>
</div>
