<md-content>
  <md-list ng-cloak style="padding-top: 0;">
    <div style="background-color: lightgrey; padding: 16px 16px 16px 8px;">材料计划信息</div>
    <md-list-item>
      <p>计划名称</p>
    </md-list-item>
    <md-list-item>
      <p>材料/设备名称</p>
    </md-list-item>
    <md-list-item>
      <p>规格</p>
    </md-list-item>
    <md-list-item>
      <p>型号</p>
    </md-list-item>
    <md-list-item>
      <p>厂家/品牌</p>
    </md-list-item>
    <md-list-item>
      <p>计划进场时间</p>
    </md-list-item>
    <md-list-item>
      <p>计划进场数量</p>
    </md-list-item>
    <md-list-item>
      <p>使用部位</p>
    </md-list-item>
    <md-list-item>
      <p>合同编号</p>
    </md-list-item>
    <md-list-item>
      <p>供货方式</p>
    </md-list-item>
    <div style="background-color: lightgrey; padding: 16px 16px 16px 8px;">材料进场信息</div>
    <md-list-item>
      <p>进场时间</p>
    </md-list-item>
    <md-list-item>
      <p>进场数量</p>
    </md-list-item>
    <md-list-item>
      <p>厂家/品牌</p>
    </md-list-item>
    <md-list-item>
      <p>供货方</p>
    </md-list-item>
    <md-list-item>
      <p>有无封样</p>
    </md-list-item>
    <md-list-item>
      <p>检查人</p>
    </md-list-item>
    <md-list-item>
      <p>进场照片</p>
    </md-list-item>
    <div style="background-color: lightgrey; padding: 16px 16px 16px 8px;">监理验收信息</div>
    <md-list-item>
      <p>验收时间</p>
    </md-list-item>
    <md-list-item>
      <p>现场检查</p>
    </md-list-item>
    <md-list-item>
      <p>是否送检</p>
    </md-list-item>
    <md-list-item>
      <p>验收人</p>
    </md-list-item>
    <md-list-item>
      <p>验收照片</p>
    </md-list-item>
  </md-list>
</md-content>
