<md-content>
  <md-list ng-cloak>
    <md-list-item>
      <label flex="50">进场时间</label>
      <p flex="50" style="text-align: right;">{{vm.outPutDate | date:'yyyy年MM月dd日'}}</p>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <label flex="50">进场数量</label>
      <md-input-container flex  style="margin:0;padding: 0;">
        <input type="number" ng-model="vm.data.ApproachCount" style="top: 10px;position: relative; text-align: right;" min="0" required />
      </md-input-container>
       <label style="text-align:right;" flex="10">{{vm.data.Unit}}</label>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item style="height: 54px;">
      <label flex="50">厂家/品牌</label>
      <md-select name="type" ng-model="vm.data.Brand" flex="50" style="top: 10px;text-align: right;">
        <md-option ng-value="brand" ng-repeat="brand in vm.Brands">{{brand}}</md-option>
      </md-select>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <label flex="50">供货方</label>
      <md-input-container flex="50"style="margin:0;padding: 0;">
        <input type="text" ng-model="vm.data.Supplier" style="top: 10px;position: relative; text-align: right;" required />
      </md-input-container>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <label flex="50">有无封样</label>
      <div flex="50">
        <label style="float: right; padding-right: 10px;">{{vm.data.IsPacking?'有':'无'}}</label>
        <md-switch class="md-secondary" ng-model="vm.data.IsPacking" required ></md-switch>
      </div>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item>
      <label flex="50">配合检查人</label>
      <md-input-container flex="50"style="margin:0;padding: 0;">
        <input type="text" ng-model="vm.data.Inspector" style="top: 10px;position: relative; text-align: right;" required />
      </md-input-container>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-subheader class="md-no-sticky" style="font-size: 1.1em;background-color: #F2F2F2;">检查照片</md-subheader>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item style="padding-right: 0;">
      <label flex="30" style="display: block; word-break:keep-all;white-space:nowrap;padding-right: 5px;">车辆</label>
       <!--<images-material ng-model="vm.groupId_32" files="vm.vehicleImgs" project="vm.vehicleImgs" edit="true"></images-material>-->
      <div flex="60" ng-repeat="img in vm.vehicleImgs" sxt-images-material="vm.vehicleImgs" style="text-align: center;margin:5px 0;">
        <img ng-src="{{img.ImageByte}}" flex="95" class="uploadPhoto"/>
      </div>
      <md-button flex="10" class="md-secondary" ng-click="vm.addPhoto(256)"><md-icon md-font-icon="icon-camera" class="icon s40"></md-icon></md-button>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item  style="padding-right: 0;">
      <label flex="30" style="display: block; word-break:keep-all;white-space:nowrap;padding-right: 5px;">货物</label>
      <div flex="60" ng-repeat="img in vm.goodsImgs" sxt-images-material="vm.goodsImgs" style="text-align: center;margin:5px 0;">
        <img ng-src="{{img.ImageByte}}" flex="95" class="uploadPhoto"/>
      </div>
      <md-button flex="10" class="md-secondary" ng-click="vm.addPhoto(512)"><md-icon md-font-icon="icon-camera" class="icon s40"></md-icon></md-button>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item  style="padding-right: 0;">
      <label flex="30" style="display: block; word-break:keep-all;white-space:nowrap;padding-right: 5px;">配合检查人</label>
      <div flex="60" ng-repeat="img in vm.rummagerImgs" sxt-images-material="vm.rummagerImgs" style="text-align: center;margin:5px 0;">
        <img ng-src="{{img.ImageByte}}" flex="95" class="uploadPhoto"/>
      </div>
      <md-button flex="10" class="md-secondary" ng-click="vm.addPhoto(1024)" ><md-icon md-font-icon="icon-camera" class="icon s40"></md-icon></md-button>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
    <md-list-item  style="padding-right: 0;">
      <label flex="30" style="display: block; word-break:keep-all;white-space:nowrap;padding-right: 5px;">送货单</label>
      <div flex="60" ng-repeat="img in vm.CertificateImgs" sxt-images-material="vm.CertificateImgs" style="text-align: center;margin:5px 0;">
        <img ng-src="{{img.ImageByte}}" flex="95" class="uploadPhoto"/>
      </div>
      <md-button flex="10" class="md-secondary" ng-click="vm.addPhoto(2048)"><md-icon md-font-icon="icon-camera" class="icon s40"></md-icon></md-button>
    </md-list-item>
    <md-divider class="md-no-sticky"></md-divider>
  </md-list>
</md-content>
