<form name="projectForm">
  <md-list ng-cloak>
    <md-list-item style="height: 48px;">
      <p flex="50">验收时间</p>
      <p style="text-align: right;">{{vm.data.AcceptanceTime}}</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>现场检查</p>
      {{vm.data.WgCheck?'合格':'不合格'}}
      <md-switch class="md-secondary" ng-model="vm.data.WgCheck"></md-switch>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <p>是否送检</p>
      {{vm.data.IsInspection?'需要':'不需要'}}
      <md-switch class="md-secondary" ng-model="vm.data.IsInspection"></md-switch>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item style="height: 48px;">
      <p flex="30">验收人</p>
      <md-input-container flex="70" class="md-block" style="height: 48px; margin: 0;padding: 0;">
        <input ng-model="vm.data.Accepter" style="padding: 0;margin-top: 10px;">
      </md-input-container>
    </md-list-item>
    <div style="background-color: lightgrey; padding: 16px 16px 16px 8px;">验收照片</div>
    <md-button ng-click="addPhoto(question)"><md-icon><img src="app/main/xhsc/images/plus.png"></md-icon></md-button>
    <md-button class="md-button" ng-click="delete(item)" style="margin:0;"><md-icon style="width: 28px;height:28px;"><img src="app/main/xhsc/images/del1.png"></md-icon></md-button>
  </md-list>
</form>
