<md-dialog style="width:400px;" aria-label="修改密码">
  <form name="resetPasswordForm" novalidate>
    <md-toolbar class="toolbar-background-image">
      <div class="md-toolbar-tools">
        <h2>修改密码</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
      <div class="title" style="text-align: center;">{{d.LoginID}}</div>
      <div class="mt20 m15 bindemail" flex>
        <div layout="row" flex>
          <md-input-container style="width:100%">
            <label for="curpwd">请输入原密码</label>
             <input class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id='curpwd' style="background-color: #fff;width:100%;" type="password" name="CurrentPassword" ng-model="d.CurrentPassword" required>
          </md-input-container>
          <div ng-messages="form.CurrentPassword.$error" role="alert">
            <div ng-message="required">
              <span>原密码不能为空</span>
            </div>
          </div>
        </div>
        <div layout="row" flex>
          <md-input-container style="width:100%">
            <label for="newpwd">请输入新密码</label>
             <input class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id='newpwd' style="background-color: #fff;border:1px solid #d9d9d9;border-radius:4px;line-height:30px;padding:0 5px;width:100%;" type="password" name="NewPassword" ng-model="d.NewPassword" required>
          </md-input-container>
          <div ng-messages="form.NewPassword.$error" role="alert">
            <div ng-message="required">
              <span>新密码不能为空</span>
            </div>
          </div>
        </div>
          <!--<input type="password" style="padding-left: 0" placeholder="请输入新密码" ng-model="vm.new">-->
       <div layout="row" flex>
          <md-input-container style="width:100%">
            <label for="newpwdw">请再次输入新密码</label>
            <input class="ng-pristine ng-valid md-input ng-not-empty ng-touched" id="newpwdw" style="background-color: #fff;border:1px solid #d9d9d9;border-radius:4px;line-height:30px;padding:0 5px;width:100%;" type="password" name="passwordConfirm" ng-model="d.passwordConfirm" required>
          </md-input-container>
          <div ng-messages="form.passwordConfirm.$error" role="alert">
            <div ng-message="required">
              <span>确认密码不能为空</span>
            </div>
          </div>
        </div>
        <div layout="row" flex class="bind-input">
          <p flex layout-align="center center">
         
            </p>
          <div ng-messages="form.passwordConfirm.$error" role="alert">
            <div ng-message="required">
              <span>确认密码不能为空</span>
            </div>
          </div>
          <!--<input type="password" style="padding-left: 0" placeholder="请再次输入新密码" ng-model="vm.newonce">-->
        </div>
        <!--<div layout="row" flex>
              <md-button type="submit" class="md-raised md-accent submit-button" aria-label="UPDATE MY PASSWORD" ng-click="submit()" ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine">
                提交
              </md-button>
            </div>-->
        <div layout="row" flex>
          <p flex style="color: red;">{{resetError}}</p>
        </div>
        <div layout="row" flex>
          <p flex style="color: limegreen;">{{resetTrue}}</p>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout-align="center center" layout="row">
      <md-button class="md-raised" ng-click="cancel()">
        取消
      </md-button>

      <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine">
        保存
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>