<md-tabs md-border-bottom flex layout="column">
  <md-tab label="基础信息">
    <md-tab-content flex layout-fill class="white-bg" layout-padding>
      <form>
        <md-input-container class="md-block">
          <label>名称</label>
          <input type="text" ng-model="vm.data.name" md-autofocus>
        </md-input-container>
        <md-input-container class="md-block">
          <label>变量名</label>
          <input type="text" ng-model="vm.data.Variable" md-autofocus>
        </md-input-container>
        <md-input-container class="md-block">
          <label>工期</label>
          <input type="number" ng-model="vm.data.Duration" >
        </md-input-container>
        <md-input-container class="md-block">
          <label>预留开始天数 </label>
          <input type="number" ng-model="vm.data.ReservedStartDays" >
        </md-input-container>
        <md-input-container class="md-block">
          <label>预留结束天数</label>
          <input type="number" ng-model="vm.data.ReservedEndDays" >
        </md-input-container>
        <md-input-container class="md-block">
          <label>层级</label>
          <input type="number" ng-model="vm.data.Level" >
        </md-input-container>
        <md-select ng-model="weapon" placeholder="关联工序" class="md-block" multiple>
          <md-select-header class="sxt-select-header">
            <md-input-container md-no-float class="md-block">
              <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
              <md-icon md-font-icon="icon-plus" style="display:inline-block;" ng-click="vm.add()"></md-icon>
            </md-input-container>
          </md-select-header>
          <md-optgroup>
            <md-option value="{{gx.id}}" ng-repeat="gx in vm.procedure | filter:searchTerm">{{gx.name}}</md-option>
          </md-optgroup>
        </md-select>
        <md-checkbox ng-model="vm.data.ManuallyClose" aria-label="Checkbox 1">
          手工关闭
        </md-checkbox>

      </form>
      <md-button ng-click="vm.ClickSaveleft(vm.data)" class="md-primary md-raised">
        保存
      </md-button>
    </md-tab-content>
  </md-tab>
  <md-tab label="任务流程" ng-disabled="!vm.data.TaskLibraryId" md-on-select="vm.onLoadTemplate()">
    <md-tab-content flex layout-fill layout="row">
      <md-content layout="column" class="md-padding white-bg" flex >
        <canvas id="gitGraph"></canvas>
      </md-content>
      <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-4dp white-bg" style="max-width: 600px;width:600px" md-component-id="right">
        <md-tabs md-border-bottom flex >
          <md-tab label="流程信息" ng-disabled="!vm.current">
            <md-tab-content layout-padding >
              <form>
                <md-input-container class="md-block">
                  <label>名称</label>
                  <input type="text" ng-model="vm.current.Name" md-autofocus>
                </md-input-container>
                <md-checkbox ng-model="vm.current.IsFloor ">IsFloor </md-checkbox>
                <md-select ng-model="weapon" placeholder="关联工序" class="md-block" multiple>
                  <md-select-header class="sxt-select-header">
                    <md-input-container md-no-float class="md-block">
                      <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
                      <md-icon md-font-icon="icon-plus" style="display:inline-block;" ng-click="vm.add()"></md-icon>
                    </md-input-container>
                  </md-select-header>
                  <md-optgroup>
                    <md-option value="{{gx.id}}" ng-repeat="gx in vm.procedure | filter:searchTerm">{{gx.name}}</md-option>
                  </md-optgroup>
                </md-select>
                <!--<md-select ng-model="weapon" placeholder="备选任务" class="md-block" multiple>-->
                  <!--<md-select-header class="demo-select-header">-->
                    <!--<md-input-container md-no-float class="md-block">-->
                      <!--<input ng-model="user.address" type="text" placeholder="Address" >-->
                      <!--<md-icon md-font-icon="icon-plus" style="display:inline-block;"></md-icon>-->
                    <!--</md-input-container>-->
                  <!--</md-select-header>-->
                  <!--<md-option value="axe">Axe</md-option>-->
                  <!--<md-option value="sword">Sword</md-option>-->
                  <!--<md-option value="wand">Wand</md-option>-->
                  <!--<md-option value="pen">Pen?</md-option>-->
                <!--</md-select>-->
                <md-select ng-model="weapon" placeholder="开始通知" class="md-block" multiple>
                  <md-option value="axe">Axe</md-option>
                  <md-option value="sword">Sword</md-option>
                  <md-option value="wand">Wand</md-option>
                  <md-option value="pen">Pen?</md-option>
                </md-select>
                <md-select ng-model="weapon" placeholder="预警通知" class="md-block" multiple>
                  <md-option value="axe">Axe</md-option>
                  <md-option value="sword">Sword</md-option>
                  <md-option value="wand">Wand</md-option>
                  <md-option value="pen">Pen?</md-option>
                </md-select>
                <md-select ng-model="weapon" placeholder="关闭通知" class="md-block" multiple>
                  <md-option value="axe">Axe</md-option>
                  <md-option value="sword">Sword</md-option>
                  <md-option value="wand">Wand</md-option>
                  <md-option value="pen">Pen?</md-option>
                </md-select>
              </form>
              <md-button ng-click="vm.save()" class="md-primary md-raised md-mini">
                保存
              </md-button>
              <md-button ng-click="vm.remove()" class="md-warn md-raised md-mini">
                删除
              </md-button>
            </md-tab-content>
          </md-tab>
          <md-tab label="添加流程" ng-disabled="vm.current && vm.current.hasNext">
            <md-tab-content  layout-padding>
              <form>
                <md-input-container class="md-block">
                  <label>下一流程名称</label>
                  <input type="text" ng-model="vm.next.Name" md-autofocus>
                </md-input-container>
              </form>
              <md-button ng-click="vm.nextSave()" class="md-primary md-raised  md-mini">
                添加
              </md-button>
            </md-tab-content>
          </md-tab>
          <md-tab label="添加分支">
            <md-tab-content  layout-padding>
              <form>
                <md-input-container class="md-block">
                  <label>分支流程名称</label>
                  <input type="text" ng-model="vm.branch.name" md-autofocus>
                </md-input-container>
              </form>
              <md-button ng-click="vm.nextBranch()" class="md-primary md-raised  md-mini" >
                添加
              </md-button>
            </md-tab-content>
          </md-tab>
        </md-tabs>
      </md-sidenav>
    </md-tab-content>
  </md-tab>
</md-tabs>

