<md-dialog>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools tasks-list">
      <h2>
        <span>关联项选择</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content  style="padding: 0;width:400px;">
    <div ng-if="!vm.loadMeasure">loading...</div>
    <div>
      <md-tabs md-dynamic-height ng-if="vm.loadMeasure">
        <!--<md-tab label="关联任务">-->
          <!--<md-content  class="p-15" style="background-color: rgb(245,245,245)" layout="column" flex>-->
            <!--<md-input-container flex>-->
              <!--<label>关联任务</label>-->
              <!--<md-select ng-model="vm.relatedTask">-->
                <!--<md-select-header class="sxt-select-header">-->
                  <!--<md-input-container md-no-float class="md-block">-->
                    <!--<input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >-->
                  <!--</md-input-container>-->
                <!--</md-select-header>-->
                <!--<md-optgroup>-->
                  <!--<md-option ng-value="m" ng-selected="vm.current == m" ng-repeat="m in vm.subTasks | filter:searchTerm">{{m.Name}}</md-option>-->
                <!--</md-optgroup>-->
              <!--</md-select>-->
            <!--</md-input-container>-->
          <!--</md-content>-->
        <!--</md-tab>-->
        <!--<md-tab label="关联实测项">-->
          <!--<md-content  class="p-15" style="background-color: rgb(245,245,245)" layout="column" flex>-->
            <!--<md-input-container flex>-->
              <!--<label>关联实测项</label>-->
              <!--<md-select ng-model="vm.CloseRelatedObjectId" placeholder="关联实测项" flex>-->
                <!--<md-select-header class="sxt-select-header">-->
                  <!--<md-input-container md-no-float class="md-block">-->
                    <!--<input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >-->
                  <!--</md-input-container>-->
                <!--</md-select-header>-->
                <!--<md-optgroup>-->
                  <!--<md-option ng-value="m" ng-selected="vm.current == m" ng-repeat="m in vm.measureData | filter:searchTerm">{{m.MeasureItemName}}</md-option>-->
                <!--</md-optgroup>-->
              <!--</md-select>-->
            <!--</md-input-container>-->
          <!--</md-content>-->
        <!--</md-tab>-->
        <md-tab label="关联工序">
          <md-content layout="column" style="background-color: rgb(245,245,245)" flex class="p-15">
            <md-input-container md-no-float>
              <input type="text" ng-model="vm.searchT" placeholder="搜索工序">
            </md-input-container>
            <md-input-container ng-if="vm.gxName">
              <label>已选工序</label>
              <input type="text" ng-model="vm.gxName" disabled>
            </md-input-container>
            <!--<md-subheader>工序列表</md-subheader>-->
            <div ng-repeat="p in vm.proceduresData|filter:vm.searchT">
              <label style="display: block;height:49px;line-height: 49px;padding:0 10px;margin-bottom: 0;border-bottom: 1px solid #dedede;white-space: nowrap;overflow: hidden;">{{p.SpecialtyName}}</label>
                <md-list style="padding-top:0;padding-bottom: 0;">
                  <md-list-item ng-class="{'active':gx1.checked}" ng-repeat="gx1 in p.SpecialtyChildren|filter:vm.searchT">
                    <div flex layout="column">
                      <div flex ng-click="selectProcedure(gx1)">
                        <label style="display: block;height:49px;line-height: 49px;padding:0 10px;margin-bottom: 0;border-bottom: 1px solid #dedede;white-space: nowrap;overflow: hidden;">{{gx1.SpecialtyName}}</label>
                      </div>
                      <md-list flex ng-if="gx1.WPAcceptanceList.length" class="ph-16">
                        <md-list-item ng-class="{'gxselected':vm.current ==ac}" layout="row" flex ng-repeat="ac in gx1.WPAcceptanceList|filter:vm.searchT" ng-click="vm.choose(ac)">
                          <div flex style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ac.AcceptanceItemName}}</div>
                        </md-list-item>
                      </md-list>
                    </div>
                  </md-list-item>
                </md-list>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="vm.select(selectedIndex)" class="md-raised">
      确定
    </md-button>
  </md-dialog-actions>
</md-dialog>

