<!--<md-toolbar class="md-hue-2">-->
  <!--<div class="md-toolbar-tools">-->
    <!--<h2>-->
      <!--<span>个人计划列表</span>-->
    <!--</h2>-->
  <!--</div>-->
<!--</md-toolbar>-->
<!--<md-content layout="column" flex>-->
  <!--<table class="simple">-->
    <!--<thead>-->
      <!--<tr>-->
        <!--<th>-->
          <!--任务名-->
        <!--</th>-->
        <!--<th>-->
          <!--开始时间-->
        <!--</th>-->
        <!--<th>-->
          <!--结束时间-->
        <!--</th>-->
        <!--<th>-->
          <!--操作-->
        <!--</th>-->
      <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
      <!--<tr style="height:44px;">-->
        <!--<td>-->
          <!--任务名-->
        <!--</td>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td>-->
          <!--<md-radio-group ng-model="data.group1">-->
            <!--<md-radio-button value="0" style="display: inline-block;" class="mb-0 mr-10">开启</md-radio-button>-->
            <!--<md-radio-button value="1" style="display: inline-block;" class="mb-0">关闭</md-radio-button>-->
          <!--</md-radio-group>-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr style="height:44px;">-->
        <!--<td>-->
          <!--任务名-->
        <!--</td>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td>-->
          <!--<md-radio-group ng-model="data.group1">-->
            <!--<md-radio-button value="0" style="display: inline-block;" class="mb-0 mr-10">开启</md-radio-button>-->
            <!--<md-radio-button value="1" style="display: inline-block;" class="mb-0">关闭</md-radio-button>-->
          <!--</md-radio-group>-->
        <!--</td>-->
      <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</md-content>-->

<md-calendar ng-model="myDate" md-placeholder="Enter date" md-date-filter="onlyWeekendsPredicate"></md-calendar>
<md-content style="border-top:1px solid #dedede;">
  <div style="height:400px;">aaa</div>
</md-content>
