<md-tabs md-border-bottom flex layout="column">
  <md-tab label="任务流程"  >
    <md-tab-content flex layout-fill layout="row">
      <md-content layout="row" flex ms-scroll>
        <div flex="80">
        <table class="simple">
          <thead>
          <tr>
            <th>流程</th>
            <th style="width: 24px;min-width: 24px">
              <md-menu ng-show="vm.flows && vm.flows.length===0">
                <span aria-label="任务流程" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon md-font-icon="icon-plus" ng-click="$mdOpenMenu($event)"></md-icon>
                </span>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click="vm.addNext($event)">
                      任务流程
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </th>
            <th ng-if="vm.data.Level==0" style="width: 24px;min-width: 24px">必选</th>
            <th ng-if="vm.data.Level==0" style="width: 80px;min-width: 80px">可选任务</th>
            <th ng-if="vm.data.Level==1" style="width: 24px;min-width: 24px">工期</th>
            <th ng-if="vm.data.Level==1" style="width: 24px;min-width: 24px">龄期</th>
            <th style="width: 80px;min-width: 80px">通知</th>
            <th style="width: 80px;min-width: 80px">执行</th>
            <th ng-if="vm.data.Level==0" style="width: 80px;min-width: 80px">里程碑</th>
            <th ng-if="vm.data.Level==0" style="width: 24px;min-width: 24px">楼层</th>
          </tr>
          </thead>
          <tr ng-repeat="flow in vm.flows track by flow.TaskFlowId">
            <td ng-style="{'padding-left':10+(flow.line*12)+'px'}">
              {{$index+1}}、<input type="text" ng-blur="vm.updateFlowName(flow)"  ng-model="flow.Name">
            </td>
            <td>
              <md-menu>
                <span aria-label="添加" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon md-font-icon="icon-plus" ng-click="$mdOpenMenu($event)"></md-icon>
                </span>
              <md-menu-content>
                <md-menu-item>
                  <md-button ng-click="vm.addNext($event,flow)">
                    下一流程
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="vm.addNext($event,flow,true)">
                    分支流程
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="flow.line!==0">
                  <md-menu>
                    <md-button style="margin:0;padding: 0 16px;height: 48px" ng-click="$mdOpenMenu()">后置任务</md-button>
                    <md-menu-content>
                      <md-menu-item ng-repeat="f2 in vm.flows">
                        <md-button ng-click="vm.setEndFlow(flow,f2)">
                          {{f2.Name}}
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="vm.removeFlow($event,flow)">
                    删除流程
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            </td>
            <td ng-if="vm.data.Level==0" align="center"><input  ng-if="flow.line==0" type="checkbox" ng-model="flow.IsRequired" ng-click="vm.updateFlow(flow)"></td>
            <td ng-if="vm.data.Level==0">
              <div style="white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis;" ng-click="vm.selectOptionalTask(flow)">{{flow.OptionalTask||'未选择'}}</div>
            </td>
            <td ng-if="vm.data.Level==1"><input type="text" ng-model="flow.Duration" ng-blur="vm.updateDuration(flow)"></td>
            <td ng-if="vm.data.Level==1"><input type="text" step="0.5" ng-model="flow.ReservedEndDays"></td>
            <td></td>
            <td></td>
            <td ng-if="vm.data.Level==0">
              <input ng-show="!flow.IsFloor" ng-if="flow.line===0" style="width: 90%" placeholder="未录入" type="text" ng-blur="vm.updateMilestone(flow)"  ng-model="flow.Milestone">
            </td>
            <td ng-if="vm.data.Level==0" align="center"><input type="checkbox" ng-model="flow.IsFloor"  ng-click="vm.updateFlow(flow)"></td>
          </tr>
        </table>
        </div>
        <div flex="20" style="padding-top:68px">
          <div id="gitGraph"></div>
        </div>
      </md-content>
    </md-tab-content>
    <md-tab label="基础信息">
    <md-tab-content flex layout-fill class="white-bg" layout-padding>
      <form>
        <md-input-container class="md-block">
          <label>名称</label>
          <input type="text" ng-model="vm.data.Name" >
        </md-input-container>
        <div ng-if="vm.data.Level!==0">
          <md-input-container class="md-block nomargin">
            <label>分类</label>
            <task-categories ng-model="vm.data.Type" ></task-categories>
          </md-input-container>
        <md-input-container class="md-block">
          <label>变量名</label>
          <input type="text" ng-model="vm.data.Variable" >
        </md-input-container>
        <md-input-container class="md-block">
          <label>工期</label>
          <input type="text" ng-model="vm.data.Duration" >
        </md-input-container>
          <md-input-container class="md-block">
            <label>关联项选择</label>
            <md-select flex class="md-block" ng-model="vm.data.CloseRelatedObjectType" placeholder="关联项选择">
              <md-option ng-value="p.type" ng-repeat="p in vm.relationTypes">{{p.name}}</md-option>
              <!--<md-option value="1">关联实测项</md-option>-->
            </md-select>
          </md-input-container>
        <div layout="row" flex>
          <div flex ng-click="vm.selectProcedure()" ng-if="vm.data.CloseRelatedObjectType == 'Inspection'">
            <md-input-container layout="row" flex><label>关联工序</label>
              <input ng-model="vm.gxNames" disabled/>
            </md-input-container>
          </div>
          <md-input-container flex  ng-if="vm.data.CloseRelatedObjectType == 'PQMeasure' ">
            <label>关联实测项</label>
            <md-select ng-model="vm.data.CloseRelatedObjectId" placeholder="关联实测项" flex>
              <md-select-header class="sxt-select-header">
                <md-input-container md-no-float class="md-block">
                  <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
                </md-input-container>
              </md-select-header>
              <md-optgroup>
                <md-option ng-value="m.AcceptanceItemID" ng-repeat="m in vm.measureInfo | filter:searchTerm">{{m.MeasureItemName}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <md-checkbox ng-model="vm.data.ManuallyClose" ng-if="vm.data.Level!==0" aria-label="手工关闭">
          手工关闭
        </md-checkbox>
        </div>
      </form>
      <div layout="row" flex>
        <md-button ng-click="vm.ClickSaveleft(vm.data)" class="md-primary md-raised">
          保存
        </md-button>
      </div>
    </md-tab-content>
  </md-tab>

  </md-tab>
</md-tabs>
