

<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span>模板管理</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>

<md-content flex layout-fill class="white-bg" layout-padding >
<form>
  <md-input-container class="md-block">
    <label>名 称</label>
    <input type="text" ng-model="vm.data.Name" md-autofocus>
  </md-input-container>

  <md-input-container class="md-block">
    <label>区 域</label>
    <md-select  ng-model="vm.data.AreaId" name="type" >
      <md-option ng-repeat="item in vm.AreaList" ng-value="item.Value" >{{item.Text}}</md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>关联任务</label>
    <md-select name="rootTaskLibraryId" ng-model="vm.data.RootTaskLibraryId"  >
      <md-option ng-value="p.TaskLibraryId" ng-repeat="p in vm.tasks">{{p.Name}}</md-option>
    </md-select>
  </md-input-container>

</form>
<md-button ng-click="vm.ClickSave(vm.data)" class="md-primary md-raised">
  保存
</md-button>
</md-content>
