<md-dialog>
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools tasks-list">
      <h2>
        <span>角色选择</span>
      </h2>
      <span flex></span>
      <!--<md-button ng-if="vm.current !='add'" class="md-icon-button" aria-label="More" ng-click="vm.current='add'">
        <md-icon md-font-icon="icon-plus" ></md-icon>
      </md-button>
      <md-button ng-if="vm.current =='add'" class="md-icon-button" ng-click="vm.current ='default'">
        <md-icon md-font-icon="icon-keyboard-return"></md-icon>
      </md-button>-->
    </div>
  </md-toolbar>
  <md-dialog-content style="padding: 0;min-width: 300px;">
    <div>
      <div>
        <md-list>
          <md-list-item ng-repeat="item in vm.nextUserGroups">
            <md-checkbox ng-model="item.selected"></md-checkbox>
            <div class="md-list-item-text">
              {{item.GroupName}}
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </div>
      <!--<div ng-switch-when="add" layout-padding="15">
        <md-input-container class="md-block">
          <label>角色名字</label>
          <input type="text" ng-model="vm.dataName" md-autofocus>
        </md-input-container>
      </div>-->
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="vm.select()" class="md-raised">
      确定
    </md-button>
    <!--<md-button  ng-if="vm.current =='add'" ng-click="vm.add()" class="md-raised">
      添加
    </md-button>-->
  </md-dialog-actions>
</md-dialog>

