
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span>补偿管理</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>

<md-content flex layout-fill class="white-bg" layout-padding >
  <form>
    <md-input-container class="md-block">
      <label>日期</label>
      <md-datepicker ng-model="vm.data.Time" md-open-on-focus required=""></md-datepicker>
    </md-input-container>
    <md-input-container class="md-block" style="height: 58px;">
      <label>日期类型</label>
      <md-select ng-model="vm.data.TimeType">
        <md-option value="0">公历</md-option>
        <md-option value="1">农历</md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block">
      <label>前补偿天数</label>
      <input type="number" ng-model="vm.data.FrontDays">
    </md-input-container>
    <md-input-container class="md-block">
      <label>后补偿天数</label>
      <input type="number" ng-model="vm.data.BackDay">
    </md-input-container>
    <md-input-container class="md-block" style="height: 58px;">
      <label>适用区域</label>
      <md-select ng-model="vm.data.AreaIds" multiple>
        <md-option value="{{item.DDicMember}}" ng-repeat="item in vm.Areas">{{item.DDicMemberName}}</md-option>
      </md-select>
    </md-input-container>
    <!--<md-input-container class="md-block">-->
    <!--<label>扩展名称</label>-->
    <!--<input type="text" ng-model="vm.data.ExtendName" md-autofocus>-->
    <!--</md-input-container>-->
    <md-input-container class="md-block">
      <label>标识</label>
      <input type="text" ng-model="vm.data.Sign" md-autofocus>
    </md-input-container>
    <md-input-container class="md-block">
      <span>是否全面停工</span>&nbsp;&nbsp;
      <md-radio-group ng-model="vm.data.IsAllStopWork ">
        <md-radio-button style="display: inline-block;" value="true">是</md-radio-button>
        <md-radio-button style="display: inline-block;" value="false">否</md-radio-button>
      </md-radio-group>
    </md-input-container>
  </form>
  <div layout="row" flex>
    <md-button ng-click="vm.save()" class="md-primary md-raised">
      保存
    </md-button>
  </div>
</md-content>

