<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools tasks-list">
    <h2>
      <span>任务管理</span>
    </h2>
    <span flex="5"></span>
    <md-select style="font-size:13px;margin-right:20px;" ng-model="vm.selectedFilter" placeholder="级别">
      <md-option ng-value="0" >
        一/二级
      </md-option>
      <md-option ng-value="1" >
        三级
      </md-option>
      <md-option ng-value="2" >
        四级
      </md-option>
    </md-select>
    <task-categories ng-model="vm.selectedCategory" style="font-size:13px;"></task-categories>
    <span flex></span>
    <!--<md-input-container md-no-float>-->
      <!--<input ng-model="vm.search" type="text" placeholder="搜索">-->
    <!--</md-input-container>-->
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-font-icon="icon-plus" ui-sref="app.plan.task.detail({id:'add'})"></md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-content layout="column" flex ms-scroll layout-padding="15">
<table class="simple">
  <thead>
  <tr>
    <th>名称</th>
<!--    <th>任务类型</th>-->
    <th ng-if="vm.selectedFilter!=0">变量</th>
    <th ng-if="vm.selectedFilter != 0">工期</th>
    <th>预留开始</th>
    <th>预留结束</th>
    <th style="width: 160px"><span class="pl-16">管理</span></th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="item in vm.items|filter:{Type:vm.selectedCategory}:vm.search">
    <td class="name">{{item.Name}}</td>
    <td class="time" ng-if="vm.selectedFilter!=0">{{item.Variable}}</td>
    <td class="time" ng-if="vm.selectedFilter != 0">{{item.Duration}}</td>
    <td class="time">{{item.ReservedStartDays}}</td>
    <td class="time">{{item.ReservedEndDays}}</td>
    <td class="actions">
      <md-button ng-click="vm.Query(item)" class="md-icon-button"  aria-label="编辑"> <md-icon  md-font-icon="icon-pencil" class="icon s24"></md-icon></md-button>
      <md-button ng-click="vm.Delete(item)" class="md-icon-button"  aria-label="删除"> <md-icon  md-font-icon="icon-delete" class="icon s24"></md-icon></md-button>
    </td>
  </tr>
  </tbody>
</table>
</md-content>
