<md-tabs md-border-bottom flex layout="column">
  <md-tab label="基础信息">
    <md-tab-content flex layout-fill class="white-bg" layout-padding>
      <form>
        <md-input-container class="md-block">
          <label>名称</label>
          <input type="text" ng-model="vm.data.Name" >
        </md-input-container>
        <div ng-if="vm.data.Level!==0">
          <md-input-container class="md-block nomargin">
            <label>分类</label>
            <task-categories ng-model="vm.data.Type" ></task-categories>
          </md-input-container>
        <md-input-container class="md-block">
          <label>变量名</label>
          <input type="text" ng-model="vm.data.Variable" >
        </md-input-container>
        <md-input-container class="md-block">
          <label>工期</label>
          <input type="text" ng-model="vm.data.Duration" >
        </md-input-container>
          <md-input-container class="md-block">
            <label>关联项选择</label>
            <md-select flex class="md-block" ng-model="vm.relationType" placeholder="关联项选择">
              <md-option value="0">关联工序</md-option>
              <md-option value="1">关联实测项</md-option>
            </md-select>
          </md-input-container>
        <div layout="row" flex>
          <div flex ng-click="vm.selectProcedure()" ng-if="vm.relationType == 0">
            <md-input-container layout="row" flex><label>关联工序</label>
              <input ng-model="vm.gxNames" disabled/>
            </md-input-container>
          </div>
          <md-input-container flex  ng-if="vm.relationType == 1 ">
            <label>关联实测项</label>
            <md-select ng-model="vm.data.CloseRelatedObjectId" placeholder="关联实测项" flex>
              <md-select-header class="sxt-select-header">
                <md-input-container md-no-float class="md-block">
                  <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
                </md-input-container>
              </md-select-header>
              <md-optgroup>
                <md-option ng-value="m.AcceptanceItemID" ng-repeat="m in vm.measureInfo | filter:searchTerm">{{m.MeasureItemName}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <md-checkbox ng-model="vm.data.ManuallyClose" ng-if="vm.data.Level!==0" aria-label="手工关闭">
          手工关闭
        </md-checkbox>


        </div>
      </form>
      <md-button ng-click="vm.ClickSaveleft(vm.data)" class="md-primary md-raised">
        保存
      </md-button>
    </md-tab-content>
  </md-tab>
  <md-tab label="任务流程" ng-disabled="!vm.data.TaskLibraryId" md-on-select="vm.onLoadTemplate()">
    <md-tab-content flex layout-fill layout="row">
      <md-content layout="column" class="md-padding white-bg" flex ms-scroll>
        <canvas id="gitGraph"></canvas>
      </md-content>
      <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-4dp white-bg" style="max-width: 600px;width:600px" md-component-id="right">
        <md-tabs md-border-bottom flex >
          <md-tab label="流程信息" ng-disabled="!vm.current">
            <md-tab-content layout-padding >
              <form>
                <md-input-container class="md-block">
                  <label>名称</label>
                  <input type="text" ng-model="vm.current.Name" md-autofocus>
                </md-input-container>
                <md-checkbox ng-model="vm.current.Required">必选 </md-checkbox>
                <md-checkbox ng-model="vm.current.IsFloor" ng-if="vm.data.Level===0">此节点对应楼层 </md-checkbox>
                <div layout="row">
                <task-categories flex ng-model="vm.selectedCategory"></task-categories><span flex="5"></span>
                <md-select flex ng-model="vm.saveTasks" placeholder="备选任务" class="md-block" md-on-open="vm.getNextTasks()" multiple md-on-close="vm.saveSubTasks()">
                  <md-select-header class="sxt-select-header">
                    <md-input-container md-no-float class="md-block">
                      <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="vm.searchTerm" class="md-text" placeholder="输入关键字" >
                      <md-icon md-font-icon="icon-plus" style="display:inline-block;" ng-click="vm.addSubTask()"></md-icon>
                    </md-input-container>
                  </md-select-header>
                  <md-option ng-value="tk.TaskLibraryId" ng-selected="tk.selected" ng-repeat="tk in vm.nextTasks|filter:{Name:vm.searchTerm,Type:vm.selectedCategory}">{{tk.Name}}</md-option>
                </md-select>
                </div>
                  <md-select ng-model="vm.saveNoticeStarted" placeholder="开始通知" class="md-block" md-on-open="vm.getUsers()" multiple  md-on-close="vm.saveUserGroup('Started')">
                  <md-select-header class="sxt-select-header">
                    <md-input-container md-no-float class="md-block">
                      <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
                      <md-icon md-font-icon="icon-plus" style="display:inline-block;" ng-click="vm.addRole(1)"></md-icon>
                    </md-input-container>
                  </md-select-header>
                    <md-option ng-value="g.GroupID" ng-selected="g.selected1" ng-repeat="g in vm.nextUserGroups|filter:searchTerm">{{g.GroupName}}</md-option>
                </md-select>
                <md-select ng-model="vm.saveNoticeEarlyWarning" placeholder="预警通知" md-on-open="vm.getUsers()" class="md-block" multiple md-on-close="vm.saveUserGroup('EarlyWarning')">
                  <md-select-header class="sxt-select-header">
                    <md-input-container md-no-float class="md-block">
                      <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
                      <md-icon md-font-icon="icon-plus" style="display:inline-block;" ng-click="vm.addRole(2)"></md-icon>
                    </md-input-container>
                  </md-select-header>
                  <md-option ng-value="g.GroupID" ng-selected="g.selected2" ng-repeat="g in vm.nextUserGroups |filter:{GroupName:searchTerm}">{{g.GroupName}}</md-option>
                </md-select>
                <md-select ng-model="vm.saveNoticeClosed" placeholder="关闭通知" class="md-block" md-on-open="vm.getUsers()" multiple md-on-close="vm.saveUserGroup('Closed')">
                  <md-select-header class="sxt-select-header">
                    <md-input-container md-no-float class="md-block">
                      <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
                      <md-icon md-font-icon="icon-plus" style="display:inline-block;" ng-click="vm.addRole(3)"></md-icon>
                    </md-input-container>
                  </md-select-header>
                  <md-option ng-value="g.GroupID" ng-selected="g.selected8" ng-repeat="g in vm.nextUserGroups|filter:searchTerm">{{g.GroupName}}</md-option>
                </md-select>
              </form>
              <md-button ng-click="vm.save()" class="md-primary md-raised md-mini">
                保存
              </md-button>
              <md-button ng-click="vm.remove()" class="md-warn md-raised md-mini">
                删除
              </md-button>
            </md-tab-content>
          </md-tab>
          <md-tab label="添加下一流程" ng-disabled="vm.current && vm.current.hasNext">
            <md-tab-content  layout-padding>
              <form>
                <md-input-container class="md-block">
                  <label>下一流程名称</label>
                  <input type="text" ng-model="vm.next.Name" md-autofocus>
                </md-input-container>
              </form>
              <md-button ng-click="vm.nextSave()" class="md-primary md-raised  md-mini">
                添加
              </md-button>
            </md-tab-content>
          </md-tab>
          <md-tab label="添加分支">
            <md-tab-content  layout-padding>
              <form>
                <md-input-container class="md-block">
                  <label>分支流程名称</label>
                  <input type="text" ng-model="vm.branch.Name" md-autofocus>
                </md-input-container>
              </form>
              <md-button ng-click="vm.nextBranch()" class="md-primary md-raised  md-mini" >
                添加
              </md-button>
            </md-tab-content>
          </md-tab>
        </md-tabs>
      </md-sidenav>
    </md-tab-content>
  </md-tab>
</md-tabs>
<md-sidenav id="gx_nav" layout="column" style="min-width: 80%" class="md-sidenav-right md-whiteframe-4dp"
            md-component-id="gx_nav">
  <div flex layout="column" style="border-top: 1px solid #f5f5f9">
    <md-tabs md-border-bottom flex style="background-color:white">
      <!--<md-tab label="已选工序">-->
        <!--<md-tab-content layout="column">-->
          <!--<md-content flex layout="row">-->
            <!--<md-list style="box-shadow:1px 0px 15px 0 #d8d8d8 " flex="40" ms-scroll>-->
              <!--<md-list-item ng-repeat="item in gxSelected">-->
                <!--<md-checkbox ng-click="remove(item)" ng-model="item.checked" style="margin-right: 8px">-->
                  <!--{{item.AcceptanceItemName}}-->
                <!--</md-checkbox>-->
                <!--<p flex>{{item.AcceptanceItemName}}</p>-->
              <!--</md-list-item>-->
              <!--<span flex></span>-->
            <!--</md-list>-->
          <!--</md-content>-->
        <!--</md-tab-content>-->
      <!--</md-tab>-->
      <md-tab ng-repeat="gx1 in vm.procedures" label="{{gx1.SpecialtyName}}">
        <md-tab-content layout="column">
          <md-content flex layout="column">
            <div flex layout="row">
              <div flex="40" style="position: relative" ms-scroll layout="column">
                <md-list style="margin-left:8px ">
                  <md-list-item ng-click="vm.selectSpecialtyLow(item,gx1)" layout="row"
                                ng-repeat="item in  gx1.SpecialtyChildren">
                    <p>{{item.SpecialtyName}}</p>
                  </md-list-item>
                </md-list>
              </div>
              <md-list flex style="box-shadow:-1px 0px 15px 0 #d8d8d8 ">
                <md-list-item layout="row" ng-repeat="item in  gx1.WPAcceptanceList" ng-click="vm.choosego(item)">
                  <!--<md-checkbox ng-click="vm.choosego(item)" ng-model="item.checked" style="margin-right: 8px">-->
                  <!--</md-checkbox>-->
                  <p flex>{{item.AcceptanceItemName}}{{item.checked}}</p>
                </md-list-item>
              </md-list>
            </div>
          </md-content>
        </md-tab-content>
      </md-tab>
    </md-tabs>
  </div>
</md-sidenav>
