<md-tabs md-border-bottom flex layout="column">
  <md-tab label="基础信息">
    <md-tab-content flex layout-fill class="white-bg" layout-padding>
      <form>
        <md-input-container class="md-block">
          <label>名称</label>
          <input type="text" ng-model="vm.data.Name" md-autofocus>
        </md-input-container>
        <!--<md-input-container class="md-block">
          <label>变量名</label>
          <input type="text" ng-model="vm.data.Variable" md-autofocus>
        </md-input-container>
        <md-input-container class="md-block">
          <label>工期</label>
          <input type="text" ng-model="vm.data.Duration" >
        </md-input-container>
        <md-select ng-model="weapon" placeholder="关联工序" class="md-block" multiple>
          <md-select-header class="sxt-select-header">
            <md-input-container md-no-float class="md-block">
              <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
              <md-icon md-font-icon="icon-plus" style="display:inline-block;" ng-click="vm.add()"></md-icon>
            </md-input-container>
          </md-select-header>
          <md-optgroup>
            <md-option value="{{gx.id}}" ng-repeat="gx in vm.procedure | filter:searchTerm">{{gx.name}}</md-option>
          </md-optgroup>
        </md-select>
        <md-checkbox ng-model="vm.data.ManuallyClose" ng-if="vm.data.Level!==0" aria-label="手工关闭">
          手工关闭
        </md-checkbox>-->

      </form>
      <md-button ng-click="vm.ClickSaveleft(vm.data)" class="md-primary md-raised">
        保存
      </md-button>
    </md-tab-content>
  </md-tab>
  <md-tab label="任务流程" ng-disabled="!vm.data.TaskLibraryId" md-on-select="vm.onLoadTemplate()">
    <md-tab-content flex layout-fill layout="row">
      <md-content layout="column" class="md-padding white-bg" flex >
        <canvas id="gitGraph"></canvas>
      </md-content>
      <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-4dp white-bg" style="max-width: 600px;width:600px" md-component-id="right">
        <md-tabs md-border-bottom flex >
          <md-tab label="流程信息" ng-disabled="!vm.current">
            <md-tab-content layout-padding >
              <form>
                <md-input-container class="md-block">
                  <label>名称</label>
                  <input type="text" ng-model="vm.current.Name" md-autofocus>
                </md-input-container>
                <md-checkbox ng-model="vm.current.IsFloor" ng-if="vm.data.Level===0">此节点对应楼层 </md-checkbox>
                <md-select ng-model="vm.saveTasks" placeholder="备选任务" class="md-block" multiple md-on-open="vm.getNextTasks()" md-on-close="vm.saveSubTask()">
                  <md-select-header class="sxt-select-header">
                    <md-input-container md-no-float class="md-block">
                      <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
                      <md-icon md-font-icon="icon-plus" style="display:inline-block;" ng-click="vm.addSubTask()"></md-icon>
                    </md-input-container>
                  </md-select-header>
                  <md-option ng-value="tk.TaskLibraryId" ng-repeat="tk in vm.nextTasks">{{tk.Name}}</md-option>
                </md-select>
                <md-select ng-model="vm.saveNoticeStarted" placeholder="开始通知" class="md-block" multiple md-on-open="vm.getUseGroups()" md-on-close="vm.saveUserGroup('Started')">
                  <md-select-header class="sxt-select-header">
                    <md-input-container md-no-float class="md-block">
                      <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
                      <md-icon md-font-icon="icon-plus" style="display:inline-block;" ng-click="vm.addRole(1)"></md-icon>
                    </md-input-container>
                  </md-select-header>
                    <md-option ng-value="g.GroupID" ng-repeat="g in vm.nextUserGroups">{{g.GroupName}}</md-option>
                </md-select>
                <md-select ng-model="vm.saveNoticeEarlyWarning" placeholder="预警通知" class="md-block" multiple md-on-open="vm.getUseGroups()" md-on-close="vm.saveUserGroup('EarlyWarning')">
                  <md-select-header class="sxt-select-header">
                    <md-input-container md-no-float class="md-block">
                      <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
                      <md-icon md-font-icon="icon-plus" style="display:inline-block;" ng-click="vm.addRole(2)"></md-icon>
                    </md-input-container>
                  </md-select-header>
                  <md-option ng-value="g.GroupID" ng-repeat="g in vm.nextUserGroups">{{g.GroupName}}</md-option>
                </md-select>
                <md-select ng-model="vm.saveNoticeClosed" placeholder="关闭通知" class="md-block" multiple md-on-open="vm.getUseGroups()" md-on-close="vm.saveUserGroup('Closed')">
                  <md-select-header class="sxt-select-header">
                    <md-input-container md-no-float class="md-block">
                      <input ng-keydown="vm.stop($event)" type="search" name="search" ng-model="searchTerm" class="md-text" placeholder="输入关键字" >
                      <md-icon md-font-icon="icon-plus" style="display:inline-block;" ng-click="vm.addRole(3)"></md-icon>
                    </md-input-container>
                  </md-select-header>
                  <md-option ng-value="g.GroupID" ng-repeat="g in vm.nextUserGroups">{{g.GroupName}}</md-option>
                </md-select>
              </form>
              <md-button ng-click="vm.save()" class="md-primary md-raised md-mini">
                保存
              </md-button>
              <md-button ng-click="vm.remove()" class="md-warn md-raised md-mini">
                删除
              </md-button>
            </md-tab-content>
          </md-tab>
          <md-tab label="添加下一流程" ng-disabled="vm.current && vm.current.hasNext">
            <md-tab-content  layout-padding>
              <form>
                <md-input-container class="md-block">
                  <label>下一流程名称</label>
                  <input type="text" ng-model="vm.next.Name" md-autofocus>
                </md-input-container>
              </form>
              <md-button ng-click="vm.nextSave()" class="md-primary md-raised  md-mini">
                添加
              </md-button>
            </md-tab-content>
          </md-tab>
          <md-tab label="添加分支">
            <md-tab-content  layout-padding>
              <form>
                <md-input-container class="md-block">
                  <label>分支流程名称</label>
                  <input type="text" ng-model="vm.branch.Name" md-autofocus>
                </md-input-container>
              </form>
              <md-button ng-click="vm.nextBranch()" class="md-primary md-raised  md-mini" >
                添加
              </md-button>
            </md-tab-content>
          </md-tab>
        </md-tabs>
      </md-sidenav>
    </md-tab-content>
  </md-tab>
</md-tabs>

