<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools tasks-list">
    <h2>
      <span>任务管理</span>
    </h2>
    <span flex="5"></span>
    <md-select style="font-size:13px;" class="simplified" ng-model="vm.selectedFilter" placeholder="1级任务">
      <md-option value="0" translate="1级任务">1级任务</md-option>
      <md-option value="1" translate="2级任务">2级任务</md-option>
      <md-option value="2" translate="3级任务">3级任务</md-option>
    </md-select>
    <task-categories ng-model="vm.selectedCategory"></task-categories>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-font-icon="icon-plus" ui-sref="app.plan.task.detail({id:'add'})"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-content flex layout="column" ms-scroll>
<table class="simple">
  <thead>
  <tr>
    <th>名称</th>
    <th>任务类型</th>
    <th>变量</th>
    <th ng-if="vm.selectedFilter != 0">工期</th>
    <th>预留开始</th>
    <th>预留结束</th>
    <th style="width: 160px">管理</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="item in vm.items|filter:{Type:vm.selectedCategory}">
    <td class="name">{{item.Name}}</td>
    <td class="time">{{item.Type}}</td>
    <td class="time">{{item.Variable}}</td>
    <td class="time" ng-if="vm.selectedFilter != 0">{{item.Duration}}</td>
    <td class="time">{{item.ReservedStartDays}}</td>
    <td class="time">{{item.ReservedEndDays}}</td>
    <td class="actions">
      <md-button ng-click="vm.Query(item)" class="md-primary md-mini md-fab"  aria-label="Settings"> <md-icon  md-font-icon="icon-pencil" class="icon s24"></md-icon></md-button>
      <md-button ng-click="vm.Delete(item)" class="md-primary md-mini md-fab"  aria-label="Settings"> <md-icon  md-font-icon="icon-delete" class="icon s24"></md-icon></md-button>
    </td>
  </tr>
  </tbody>
</table>
</md-content>
