<md-dialog>
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools tasks-list">
    <h2>
      <span>任务选择</span>
    </h2>
    <task-categories ng-model="vm.selectedCategory" style="font-size:13px;"></task-categories>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-font-icon="icon-plus" ></md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-dialog-content style="padding: 0">
<table class="simple">
  <thead>
  <tr>
    <th>选择</th>
    <th>名称</th>
    <th>工期</th>
    <th>龄期</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in vm.items|filter:{Type:vm.selectedCategory}">
    <td><md-checkbox ng-model="item.selected" aria-label="选择">
    </md-checkbox></td>
    <td class="name">{{item.Name}}</td>
    <td class="time">{{item.Duration}}</td>
    <td class="time">{{item.ReservedEndDays}}</td>
  </tr>
  </tbody>
</table>
</md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="vm.select('useful')">
      确定
    </md-button>
  </md-dialog-actions>
</md-dialog>
