<div flex id="gantt-chart" layout="column" class="page-layout carded fullwidth"
     ng-class="{'date-filter-active':vm.dateFilterActive, 'search-active': vm.searchActive}" layout="row">


  <!-- TOP BACKGROUND -->
  <div class="md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="centera" layout="column" flex>


    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card" layout="column" flex>

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar" layout="row" layout-align="space-between center">

        <div layout="row" layout-align="start center">
          <md-button ng-show="!vm.isStarted" ng-click="vm.startPlan()" class="md-raised md-mini" aria-label="开启">
           开启
          </md-button>

        </div>

        <div layout="row" layout-align="start center">

          <div class="zoom" layout="row" layout-align="end center">
            <span class="label">缩放:</span>

            <div class="input-wrapper" layout="row" layout-align="center center">
              <md-button class="md-icon-button" aria-label="minus"
                         ng-click="vm.options.zoom  = vm.options.zoom - 0.1">
                <md-icon md-font-icon="icon-minus"></md-icon>
              </md-button>
              <input type="number" ng-model="vm.options.zoom" step="0.1" min="0.1" max="5">
              <md-button class="md-icon-button" aria-label="plus"
                         ng-click="vm.options.zoom =vm.options.zoom + 0.1">
                <md-icon md-font-icon="icon-plus"></md-icon>
              </md-button>
            </div>
          </div>

          <md-select class="simplified select-scale" ng-model="vm.options.scale" placeholder="Scale">
            <md-option value="hour" >小时</md-option>
            <md-option value="day" >天</md-option>
            <md-option value="week" >周</md-option>
            <md-option value="2 weeks" >2 周</md-option>
            <md-option value="month" >月</md-option>
            <md-option value="quarter" >季</md-option>
            <md-option value="6 months" >半年</md-option>
            <md-option value="year" >年</md-option>
          </md-select>

        </div>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <md-content id="chart-container" class="content" flex layout="column">

        <div flex layout-fill
             id="gantt"
             gantt
             data="vm.data"
             timespans="vm.timespans"
             show-side="vm.options.labelsEnabled"
             daily="vm.options.daily"
             filter-task="{'name': vm.options.filterTask}"
             filter-row="{'name': vm.options.filterRow}"
             sort-mode="vm.options.sortMode"
             view-scale="vm.options.scale"
             column-width="vm.getColumnWidth(vm.options.width, vm.options.scale, vm.options.zoom)"
             auto-expand="vm.options.autoExpand"
             task-out-of-range="vm.options.taskOutOfRange"
             from-date="vm.options.fromDate"
             to-date="vm.options.toDate"
             side-width="vm.options.sideWidth"
             allow-side-resizing="vm.options.allowSideResizing"
             task-content="vm.options.taskContentEnabled ? vm.options.taskContent : undefined"
             row-content="vm.options.rowContentEnabled ? vm.options.rowContent : undefined"
             current-date="vm.options.currentDate"
             current-date-value="vm.options.currentDateValue"
             headers="vm.options.width && vm.options.shortHeaders || vm.options.longHeaders"
             max-height="vm.options.maxHeight"
             time-frames="vm.options.timeFrames"
             date-frames="vm.options.dateFrames"
             time-frames-non-working-mode="vm.options.timeFramesNonWorkingMode"
             time-frames-magnet="vm.options.timeFramesMagnet"
             api="vm.options.api"
             column-magnet="vm.options.columnMagnet">
          <gantt-tree header="vm.options.treeHeader" enabled="vm.options.sideMode === 'Tree' || vm.options.sideMode === 'TreeTable'"
                      header-content="vm.options.treeHeaderContent"
                      keep-ancestor-on-filter-row="true">
          </gantt-tree>
          <gantt-table enabled="vm.options.sideMode === 'Table' || vm.options.sideMode === 'TreeTable'"
                       columns="vm.options.sideMode === 'TreeTable' ? vm.options.treeTableColumns : vm.options.columns"
                       headers="vm.options.columnsHeaders"
                       classes="vm.options.columnsClasses"
                       formatters="vm.options.columnsFormatters"
                       contents="vm.options.columnsContents"
                       header-contents="vm.options.columnsHeaderContents">
          </gantt-table>
          <gantt-groups
            enabled="vm.options.groupDisplayMode === 'group' || vm.options.groupDisplayMode === 'overview' || vm.options.groupDisplayMode === 'promote'"
            display="vm.options.groupDisplayMode"></gantt-groups>
          <!--<gantt-tooltips></gantt-tooltips>-->
          <gantt-bounds></gantt-bounds>
          <gantt-progress></gantt-progress>
          <gantt-sortable></gantt-sortable>
          <gantt-movable enabled="!vm.options.readOnly" allow-moving="vm.options.readOnly" allow-row-switching="false"></gantt-movable>
          <!--<gantt-draw-task-->
            <!--enabled="vm.options.canDraw"-->
            <!--move-threshold="2"-->
            <!--task-factory="vm.options.drawTaskFactory">-->
          <!--</gantt-draw-task>-->
          <gantt-overlap></gantt-overlap>
          <gantt-resize-sensor></gantt-resize-sensor>
          <gantt-dependencies read-only="true"></gantt-dependencies>
        </div>

      </md-content>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
