<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span>里程碑</span>
    </h2>
  </div>
</md-toolbar>
<div layout="row" flex layout-padding>
  <div flex="60">
    <table class="simple milestone">
      <thead>
        <tr>
          <th>
            里程碑名称
          </th>
          <th>
            日期
          </th>
          <th>
            状态
          </th>
          <th>编辑</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="m in vm.data">
          <td>{{m.Name}}</td>
          <td>{{m.MilestoneTime|date:'yyyy-MM-dd'}}</td>
          <td>{{m.Status}}</td>
          <td>
            编辑
          </td>
        </tr>
        <tr ng-if="!vm.data.length">
          <td colspan="4">无里程碑</td>
        </tr>
        <!--<tr ng-if="!vm.data.length">-->
          <!--<td colspan="3">无里程碑</td>-->
        <!--</tr>-->
      </tbody>
    </table>
    <div layout="row" layout-align="end center">
      <md-button class="md-raised" ui-sref="app.plan.milestone.item">查看详情</md-button>
    </div>
  </div>
</div>
