<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span>模板管理</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-font-icon="icon-plus" ui-sref="app.plan.template.detail({id:'add'})"></md-icon>
    </md-button>
  </div>
</md-toolbar>
<table class="simple" ms-responsive-table>
  <thead>
  <tr>
    <th>名称</th>
    <th>时间</th>
    <th>管理</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <td></td>
  </tr>
  </tfoot>

  <tbody>
  <tr ng-repeat="person in vm.employees">
    <td class="name">{{person.name}}</td>
    <td class="position">{{person.position}}</td>
    <td class="office">{{person.office}}</td>
  </tr>
  </tbody>
</table>
