<md-dialog>
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools tasks-list">
    <h2>
      <span>任务选择</span>
    </h2>
    <task-categories ng-if="vm.current !='add'" ng-model="vm.selectedCategory" style="font-size:13px;"></task-categories>
    <span flex></span>
    <md-button ng-if="vm.current !='add'" class="md-icon-button" aria-label="More" ng-click="vm.current='add'">
      <md-icon md-font-icon="icon-plus" ></md-icon>
    </md-button>
    <md-button ng-if="vm.current =='add'" class="md-icon-button" ng-click="vm.current ='default'">
      <md-icon md-font-icon="icon-keyboard-return"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-dialog-content style="padding: 0;min-width:300px;">
  <div ng-switch="vm.current">
    <div ng-switch-default>
    <table class="simple">
      <thead>
      <tr>
        <th>选择</th>
        <th>名称</th>
        <th>工期</th>
        <th>龄期</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.items|filter:{Type:vm.selectedCategory}">
        <td><md-checkbox class="mv-5" ng-model="item.selected" aria-label="选择">
        </md-checkbox></td>
        <td class="name">{{item.Name}}</td>
        <td class="time">{{item.Duration}}</td>
        <td class="time">{{item.ReservedEndDays}}</td>
      </tr>
      </tbody>
    </table>
    </div>
    <div ng-switch-when="add" layout-padding="15">
      <md-input-container class="md-block">
        <label>名称</label>
        <input type="text" ng-model="data.Name" md-autofocus>
      </md-input-container>
      <!--<md-input-container class="md-block">-->
        <!--<label>变量名</label>-->
        <!--<input type="text" ng-model="data.Variable">-->
      <!--</md-input-container>-->
      <md-input-container class="md-block">
        <label>工期</label>
        <input type="text" ng-model="data.Duration" >
      </md-input-container>
      <md-input-container class="md-block">
        <label>龄期</label>
        <input type="text" ng-model="data.ReservedEndDays" >
      </md-input-container>
      <md-input-container class="md-block">
        <label>分类</label>
        <task-categories ng-model="data.Type" ></task-categories>
      </md-input-container>
    </div>
  </div>
</md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="vm.select('useful')">
      确定
    </md-button>
  </md-dialog-actions>

</md-dialog>
