<!--<md-toolbar class="md-hue-2">-->
  <!--<div class="md-toolbar-tools">-->
    <!--<h2>-->
      <!--<span>个人计划列表</span>-->
    <!--</h2>-->
  <!--</div>-->
<!--</md-toolbar>-->
<!--<md-content layout="column" flex>-->
  <!--<table class="simple">-->
    <!--<thead>-->
      <!--<tr>-->
        <!--<th>-->
          <!--任务名-->
        <!--</th>-->
        <!--<th>-->
          <!--开始时间-->
        <!--</th>-->
        <!--<th>-->
          <!--结束时间-->
        <!--</th>-->
        <!--<th>-->
          <!--操作-->
        <!--</th>-->
      <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
      <!--<tr style="height:44px;">-->
        <!--<td>-->
          <!--任务名-->
        <!--</td>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td>-->
          <!--<md-radio-group ng-model="data.group1">-->
            <!--<md-radio-button value="0" style="display: inline-block;" class="mb-0 mr-10">开启</md-radio-button>-->
            <!--<md-radio-button value="1" style="display: inline-block;" class="mb-0">关闭</md-radio-button>-->
          <!--</md-radio-group>-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr style="height:44px;">-->
        <!--<td>-->
          <!--任务名-->
        <!--</td>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td>-->
          <!--<md-radio-group ng-model="data.group1">-->
            <!--<md-radio-button value="0" style="display: inline-block;" class="mb-0 mr-10">开启</md-radio-button>-->
            <!--<md-radio-button value="1" style="display: inline-block;" class="mb-0">关闭</md-radio-button>-->
          <!--</md-radio-group>-->
        <!--</td>-->
      <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</md-content>-->

<md-calendar class="pcalendar" ng-if="vm.loading" ng-model="vm.myDate"  md-date-filter="onlyWeekendsPredicate"></md-calendar>
<md-content style="border-top:1px solid #dedede;" class="p-10">
  <div layout="row" layout-align="center center" ng-if="!vm.loading" class="m-10">
    <md-progress-circular md-diameter="20px"></md-progress-circular>任务加载中
  </div>

  <div  ng-repeat="task in vm.tasksList"  style="border-bottom: 1px solid #dedede;">
    <div layout="row" style="color:#f00;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" class="pt-8 pb-8">
      {{task.Name}}
    </div>
    <!--<div layout="row" layout-align="space-between center">-->
      <!--<div flex="30">任务</div>-->
      <!--<div flex="15">开始</div>-->
      <!--<div flex="10">-->
        <!--<md-button class="md-icon-button" ng-click="vm.start()">操作</md-button>-->
      <!--</div>-->
    <!--</div>-->
    <div layout="row" layout-align="space-between center" ng-repeat="t in task.tasks" class="pb-8">
      <div flex="55" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{t.ParentFloorName}}{{t.Name}}</div>
      <div flex="25">{{t.ScheduledStartTime|date:'yy/MM/dd'}}</div>
      <div flex="20" style="text-align: right;">
        <md-button class="md-raised md-minbtn" ng-click="vm.start(t)" ng-if="(t.State==1)">启动</md-button>
        <md-button class="md-raised md-minbtn" ng-click="vm.end(t)" ng-if="(t.State!=1)" ng-disabled="t.State==2">完成</md-button>
      </div>
    </div>
  </div>
  <div layout="row" style="border-bottom: 1px solid #dedede;" class="pv-10">
    未启动计划
  </div>
  <div ng-repeat="noplan in vm.data" ng-if="noplan.showNoPlan">
    <div>{{noplan.Name}}</div>
    <div layout="row" layout-align="space-between center" ng-repeat="t in noplan.NoPlanTasks">
      <div flex="55">{{t.ParentFloorName}}{{t.Name}}</div>
      <div flex="25"></div>
      <div flex="20" style="text-align: right;">
        <md-button class="md-raised md-minbtn" ng-click="vm.start(t)" ng-if="t.State==1">启动</md-button>
        <md-button  class="md-raised md-minbtn" ng-click="vm.end(t)" ng-if="t.State!=1" ng-disabled="t.State==2">完成</md-button>
      </div>
    </div>
  </div>
</md-content>
