<md-calendar class="pcalendar" ng-if="vm.loading" ng-model="vm.myDate"  md-date-filter="onlyWeekendsPredicate"></md-calendar>
<md-content style="border-top:1px solid #dedede;" class="p-10">
  <div layout="row" layout-align="center center" ng-if="!vm.loading" class="m-10">
    <md-progress-circular md-diameter="20px"></md-progress-circular>任务加载中
  </div>
  <div  ng-repeat="task in vm.tasksList"  ng-if="task.tasks.length" style="border-bottom:1px solid #dedede;">
    <div layout="row" style="color:#f00;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" class="pt-8 pb-8" ng-if="task.tasks.length">
      {{task.Name}}
    </div>
    <div layout="row" layout-align="space-between center" ng-repeat="t in task.tasks" class="pb-8">
      <div flex="55" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{t.ParentFloorName}}{{t.Name}}</div>
      <div flex="25">{{t.ScheduledStartTime|date:'yy/MM/dd'}}</div>
      <div flex="20" style="text-align: right;">
        <md-button style="min-height:24px;line-height: 24px;height:24px;padding:0;min-width: 40px;margin:0;" ng-click="vm.showTaskD(t)" ng-if="(t.State==2)&&t.ManuallyClose&&(!t.IsAbleStart)">查看</md-button>
        <!--<md-button style="min-height:24px;line-height: 24px;height:24px;padding:0;min-width: 60px;" ng-click="vm.start(t)" ng-if="(t.State==1)">启动</md-button>-->
        <md-button style="min-height:24px;line-height: 24px;height:24px;padding:0;min-width: 60px;margin:0;" ng-click="vm.startTask(t)" ng-if="t.IsAbleStart&&t.IsInterlude">开启穿插</md-button>
        <!--<md-button class="md-icon-button" style="min-height:24px;line-height: 24px;height:24px;padding:0;" ng-click="vm.closeTask(flow)" ng-if="!flow.ManuallyClose"  ng-disabled="!flow.ManuallyClose">完成</md-button>-->
        <md-button style="min-height:24px;line-height: 24px;height:24px;padding:0;min-width: 40px;margin:0;" ng-click="vm.end(t)" ng-if="t.IsAbleStart&&(!t.IsInterlude)&&(t.ManuallyClose||t.IsRelatedObject)">完成</md-button>
      </div>
    </div>
  </div>
  <div layout="row" style="border-bottom: 1px solid #dedede;" class="pv-10">
    未启动计划
  </div>
  <div ng-repeat="noplan in vm.data" ng-if="noplan.showNoPlan">
    <div style="color:#f00;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" class="pt-8 pb-8">{{noplan.Name}}</div>
    <div layout="row" layout-align="space-between center" ng-repeat="t in noplan.NoPlanTasks">
      <div flex="55">{{t.ParentFloorName}}{{t.Name}}</div>
      <div flex="25"></div>
      <div flex="20" style="text-align: right;">
        <!--<md-button class="md-raised md-minbtn" ng-click="vm.start(t)" ng-if="t.State==1">启动</md-button>-->
        <!--<md-button  class="md-raised md-minbtn" ng-click="vm.end(t)" ng-if="(t.State!=1)&&t.showBtn" ng-disabled="t.State==2">完成</md-button>-->
        <md-button style="min-height:24px;line-height: 24px;height:24px;padding:0;min-width: 60px;margin:0;" ng-click="vm.startTask(t)" ng-if="t.IsAbleStart&&(t.IsInterlude)">开启穿插</md-button>
      </div>
    </div>
  </div>
</md-content>
