<md-content flex layout="column">
  <md-list>
    <md-list-item>
      <label flex>项目</label>
      <label>{{dataInfo.RegionNameTree}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label flex>材料</label>
      <label>{{dataInfo.Material}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label flex>供货方式</label>
      <label>{{dataInfo.Suppli}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label flex>供货方</label>
      <label>{{dataInfo.SupplierId}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label flex>厂家/品牌</label>
      <label>{{dataInfo.Manufactor}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label flex>数量</label>
      <label></label>
    </md-list-item>
     <md-list-item ng-repeat="item in dataInfo.Volumes">
      <label style="font-family: 'SJQY' !important;" flex>{{item.Model}}</label>
      <label>{{item.Number + dataInfo.Unit}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <!--<md-list-item>
      <label flex>合同编号</label>
      <label>{{dataInfo.ContractNumber}}</label>
    </md-list-item>
    <md-divider></md-divider>-->
    <md-list-item>
      <label flex>验收时间</label>
      <label>{{dataInfo.CheckTime}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label flex>外观检查</label>
      <label>{{dataInfo.WgCheck}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-show="dataInfo.WgCheck=='不合格'">
      <label flex>外观检查不合格说明</label>
      <label>{{dataInfo.WgFailedRemark}}</label>
    </md-list-item>
    <md-divider ng-show="dataInfo.WgCheck=='不合格'"></md-divider>
    <md-list-item>
      <label flex>送检报告</label>
      <label>{{dataInfo.InspectionReport}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-show="dataInfo.InspectionReport=='不合格'">
      <label flex>送检报告不合格说明</label>
      <label>{{dataInfo.CheckReportRemark}}</label>
    </md-list-item>
    <md-divider ng-show="dataInfo.InspectionReport=='不合格'"></md-divider>
    <md-list-item>
      <label flex>合格情况</label>
      <label>{{dataInfo.CheckResult}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label flex>处理意见</label>
      <label ng-if="dataInfo.HandleOption.length<20">{{dataInfo.HandleOption}}</label>
      <md-button ng-if="dataInfo.HandleOption.length>20" class="md-secondary md-primary" ng-click="showAlert($event)"   >
        详细
      </md-button>
    </md-list-item>
    <md-divider ng-if="targets.length !=0"></md-divider>
     <md-list-item ng-if="targets.length !=0" style="background-color: #f5f6f7;">
      <label>检查指标</label>
    </md-list-item>
    <md-divider ng-if="targets.length !=0"></md-divider>
    <md-list-item ng-if="targets.length !=0" style="margin-bottom: 10px;">
       <md-list>
        <md-list-item ng-repeat="n in targets" ng-disabled="n.need">
          <div class="md-list-item-text" flex layout="column">
            <h3 style="margin-top: 10px; margin-bottom: 5px;font-size: 1.6rem;font-family: 'SJQY' !important;">
              {{$index+1}}、{{n.TargetName}}
            </h3>
          </div>
        </md-list-item>
      </md-list>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item style="background-color: #f5f6f7;">
      <label>附件</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <div sxt-image-view is-container="true">
        <div ng-repeat="item in files">
          <div layout="column" flex>
            <div flex layout="row" class="md-padding">
              <span ng-if="item.OptionType == 2">出厂合格证</span>
              <span ng-if="item.OptionType == 4">材料验收单</span>
              <span ng-if="item.OptionType == 8">实拍照片</span>
              <span ng-if="item.OptionType == 16">送检报告</span>
              <span ng-if="item.OptionType == 32">其他</span>
            </div>
            <div flex layout="row">
              <sxt-images  ng-model="item.GroupImg"></sxt-images>
            </div>
          </div>
        </div>
      </div>
    </md-list-item>
  </md-list>
</md-content>
