<md-content flex layout="column">
  <md-list>
    <md-list-item>
      <label>项目</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.RegionNameTree}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label>材料</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.Material}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label>供货方式</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.Suppli}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label>供货方</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.SupplierName}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label>厂家/品牌</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.Manufactor}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label>数量</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.Number + dataInfo.Unit}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label>合同编号</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.ContractNumber}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label>验收时间</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.CheckTime}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label>外观检查</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.WgCheck}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label>送检报告</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.InspectionReport}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label>合格情况</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.CheckResult}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <label>处理意见</label>
      <label style="position:absolute; right: 10px;">{{dataInfo.HandleOption}}</label>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item style="background-color: lightgrey;">
      <label>附件</label>
    </md-list-item>
    <md-list-item>
      <div  sxt-image-view is-container="true">
        <p ng-repeat="item in files">
          <sxt-images  ng-model="item.GroupImg"></sxt-images></fieldset>
        </p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
