<md-content flex layout="column"  ui-view>
  <form name="addForm" class="form-horizontal addform" style="font-size:14px; color: rgba(0,0,0,0.54);" ng-submit="save(addForm)">
    <div flex style="overflow: auto" ng-show="!vm.AttachmentSHow">
      <sxt-projects-jd ng-model="project.pid" object-scope="project" levels="2" region-type="project.type" region-name="project.typeName" project-id="project.projectId" project-name="project.projectName" id-tree="project.idTree" name-tree="project.nameTree" on-queryed="project.onQueryed" is-more="project.isMore">
        <md-list style="padding:0;">
          <md-subheader class="md-no-sticky">材料</md-subheader>
          <md-list-item>
            <sxt-material style="width:100%;margin:0;" ng-model="project.procedureId" procedure-type-id="project.procedureTypeId" material-Unit="project.materialUnit" name-value="project.procedureName" region-type="project.type" class="md-block"></sxt-material>
          </md-list-item>
          <md-divider></md-divider>
          <md-subheader class="md-no-sticky">供货方</md-subheader>
          <md-list-item>
            <md-select ng-model="vm.checkData.SupplierId" style="width: 100%;margin: 0 0 26px 0;">
              <md-option ng-value="s.Id" ng-repeat="s in supplier">{{s.Name}}</md-option>
            </md-select>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>

            <div class="md-list-item-text" flex="25" layout="column">
              <p style="text-align: left;">合同编号</p>
            </div>
            <md-input-container class="md-block" flex-gt-sm style="width: 75%;margin: 18px 0 0 0;">
              <input style="width: 100%;" ng-model="vm.checkData.ContractNumber">
            </md-input-container>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <div class="md-list-item-text" flex="25" layout="column">
              <p style="text-align: left;">厂家/品牌</p>
            </div>
            <md-input-container class="md-block" flex-gt-sm style="width: 75%;margin: 18px 0 0 0;">
              <input style="width: 100%;" ng-model="vm.checkData.Manufactor" >
            </md-input-container>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <div class="md-list-item-text" flex="25" layout="column">
              <p style="text-align: left;">数量</p>
            </div>
            <md-input-container class="md-block" flex-gt-sm style="width: 70%;margin: 18px 0 0 0;">
              <input style="width: 100%;" ng-model="vm.checkData.Number">
            </md-input-container>
            <p flex="5">{{project.materialUnit}}</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <div class="md-list-item-text" flex="25" layout="column">
              <p style="text-align: left;">验收时间</p>
            </div>
            <div flex></div>
            <md-datepicker ng-model="vm.checkData.CheckTime" md-open-on-focus style="margin: 18px 0 18px 0;padding-right: 0;"></md-datepicker>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <div class="md-list-item-text" flex="25" layout="column" style="height: 76px; line-height: 48px;">
              <p style="text-align: left;">外观检查</p>
            </div>
            <!--<md-radio-group ng-model="vm.checkData.WgCheck">-->
              <!--<md-radio-button value="1" class="md-primary">合格</md-radio-button>-->
              <!--<md-radio-button value="0">不合格</md-radio-button>-->
            <!--</md-radio-group>-->
            <md-switch class="md-secondary" ng-model="vm.checkData.WgCheck" ng-true-value="1" ng-false-value="0">
              {{vm.checkData.WgCheck ? '合格':'不合格' }}
            </md-switch>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <div class="md-list-item-text" flex="25" layout="column" style="height: 76px; line-height: 48px;">
              <p  style="text-align: left;">是否送检</p>
            </div>
            <!--<md-radio-group ng-model="vm.checkData.IsInspection" ng-disabled="vm.checkData.WgCheck == 0">-->
              <!--<md-radio-button value="1" class="md-primary">需要</md-radio-button>-->
              <!--<md-radio-button value="0">不需要</md-radio-button>-->
            <!--</md-radio-group>-->
            <md-switch style="height: 76px;" class="md-secondary" ng-model="vm.checkData.IsInspection" ng-true-value="1" ng-false-value="0" ng-disabled="vm.checkData.WgCheck == 0">
              {{vm.checkData.IsInspection ? '需要':'不需要' }}
            </md-switch>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item  ng-click="vm.AttachmentSHow = true">
            <div class="md-list-item-text" flex="25" layout="column" style="height: 76px; line-height: 48px;">
              <p style="text-align: left;">附件</p>
            </div>
            <!--<md-radio-group ng-model="vm.checkData.IsInspection" ng-disabled="vm.checkData.WgCheck == 0">-->
            <!--<md-radio-button value="1" class="md-primary">需要</md-radio-button>-->
            <!--<md-radio-button value="0">不需要</md-radio-button>-->
            <!--</md-radio-group>-->
            <a class="md-secondary">添加</a>
          </md-list-item>
          <md-divider></md-divider>
          <md-subheader style="background-color: #f5f6f7;" class="md-no-sticky">附件</md-subheader>
          <md-list-item ng-show="vm.EnclosureType.length != 0">
            <div  sxt-image-view is-container="true">
              <p ng-repeat="item in vm.EnclosureType">
                <sxt-images  ng-model="item.GroupImg"></sxt-images></fieldset>
              </p>
            </div>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>

      </sxt-projects-jd>
      <div class="md-padding" layout="row">
        <md-button type="submit" flex class="md-raised md-primary"> 确定 </md-button>
      </div>
    </div>

    <div flex ng-show="vm.AttachmentSHow">
        <div style="background-color:#f5f6f7; padding: 16px 16px 16px 8px;">附件类型</div>
        <md-radio-group ng-model="vm.fjType" >
          <div class="row" ng-repeat="item in vm.Type" ng-click="vm.change(item)">
            <div flex layout='row' style="padding: 0 8px;" layout-align="start center">
              <div flex>
                <h3>{{item.name}}</h3>
              </div>
              <md-radio-button ng-value="item.value" class="md-primary" ng-disabled="item.value != 16 && vm.checkDataId != ''"></md-radio-button>
            </div>
            <md-divider></md-divider>
          </div>

        </md-radio-group>
        <div class="row" ng-show="vm.fjType==16">
          <div layout='row' style="padding: 0 15px 0 8px;" layout-align="start center" >
            <div flex>
              <h3>送检报告</h3>
            </div>
            <md-radio-group ng-model="vm.checkData.sjReport">
              <md-radio-button flex ng-value="1" style="display: inline-block;" class="md-primary" >合格</md-radio-button>
              <md-radio-button flex ng-value="0" style="display: inline-block;" class="md-primary" >不合格</md-radio-button>
            </md-radio-group>
          </div>
        </div>
        <md-divider></md-divider>
        <div class="md-padding">
          <fieldset ng-show="vm.fjType == 2">
            <legend>出厂合格证</legend>
            <span class="fs-display-1 display-block">添加照片</span>
            <div> <small></small></div>
            <sxt-images ng-model="vm.groupId_2"  files="data.imgs1" project="data.projectInfo" edit="true"></sxt-images>
          </fieldset>
          <fieldset ng-show="vm.fjType == 4">
            <legend>材料验收单</legend>
            <span class="fs-display-1 display-block">添加照片</span>
            <div> <small></small></div>
            <sxt-images ng-model="vm.groupId_4"  files="data.imgs2" project="data.projectInfo" edit="true"></sxt-images>
          </fieldset>
          <fieldset ng-show="vm.fjType == 8">
            <legend>实拍照片</legend>
            <span class="fs-display-1 display-block">添加照片</span>
            <div> <small></small></div>
            <sxt-images ng-model="vm.groupId_8"  files="data.imgs3" project="data.projectInfo" edit="true"></sxt-images>
          </fieldset>
          <fieldset ng-show="vm.fjType == 16">
            <legend>送检报告</legend>
            <span class="fs-display-1 display-block">添加照片</span>
            <div> <small></small></div>
            <sxt-images ng-model="vm.groupId_16"  files="data.imgs4" project="data.projectInfo" edit="true"></sxt-images>
          </fieldset>
          <fieldset ng-show="vm.fjType == 32">
            <legend>其他</legend>
            <span class="fs-display-1 display-block">添加照片</span>
            <div> <small></small></div>
            <sxt-images ng-model="vm.groupId_32"  files="data.imgs5" project="data.projectInfo" edit="true"></sxt-images>
          </fieldset>
        </div>
        <div class="md-padding" layout="row">
          <md-button flex class="md-raised md-primary" ng-click="vm.ok()"> 完成 </md-button>
        </div>
    </div>
  </form>
</md-content>
