<md-content flex layout="column">
  <div layout="column" flex="none" class="md-padding">
    <md-input-container flex>
      <label>工序</label>
      <md-select ng-model="project.gx1" md-on-close="project.gid2 = project.gid+'-'+project.gx1">
        <md-option value="1">楼板</md-option>
        <md-option value="7">墙体</md-option>
        <md-option value="5">顶棚</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div flex sxt-area-house show="true" upload="true" pid="project.pid" oid="project.oid" o-name="project.oname"  files="project.files" gid="project.gid2">

  </div>
  <sxt-images ng-hide="1"  ng-model="project.gid" files="project.files"></sxt-images>
</md-content>
<!--<form class="form-inline">
  <div class="form-group">
    <label >{{project.oname}}</label>
  </div>
</form>-->
<!--
<fieldset>
  <legend>总体</legend>
  <sxt-images edit="true" ng-model="project.fid" single="true"></sxt-images>
</fieldset>
<fieldset>
  <legend>细部</legend>
  <sxt-images edit="true" ng-model="project.sid"></sxt-images>
</fieldset>
-->
