#login-form{
   //width: 300px;
  padding:40px 60px;background: rgba(255,255,255,.95);border-radius:8px;box-shadow: 0 0 8px #ccc;width: 50%;position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);
  .logo{
    margin-top: 25px;
    text-align: center;
    img{
      width:96px;
    }
  }

  .login-name{
    background: rgba(255,255,255,.65);
    border: 1px solid #d8d8d8;
    border-radius:8px;
    padding: 0 15px;
    margin: 30px 0 20px 0;
    width: 100%;
  }

  md-input-container{
    margin:10px 0;

    input{
      background: transparent!important;
      line-height: 24px!important;
      border: 0px!important;
      &.ng-invalid {
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: #808080;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color:#808080;
          opacity: 1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color:#808080;
          opacity: 1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color:#808080;
        }
        &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
          color:  #808080;
        }
      }
    }
  }

  .md-errors-spacer{
    display: none;
  }
}
@media screen and (max-width: $layout-breakpoint-xs) {

  #login {

    #login-form-wrapper {

      #login-form {
        //width: 100%;
        padding:20px 30px;width: 80%;
        md-input-container{
          margin:4px 0;
        }
        .login-name{
          margin:20px 0;
        }
        form {

          .md-button {
            width: 90%;
            font-size:18px;
          }
        }

        .md-button {

          &.google,
          &.facebook {
            width: 80%;
          }
        }
      }
    }
  }

}
//@media screen and (max-width: 700px){
//  #login-form{
//    padding:40px 60px;background: rgba(255,255,255,.95);border-radius:8px;box-shadow: 0 0 8px #ccc;width: 50%;position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);
//  }
//}
