<div id="login" class="flex-scrollable login1" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center" layout-align-xs="center start">
        <div id="login-form" >
            <div class="logo">
                <span><img src="app/main/auth/images/logo.png"> </span>
            </div>

            <!--<div class="title" translate="LOGIN.TITLE">万科数字工程</div>-->

            <form name="loginForm" novalidate ng-submit="vm.login(loginForm)" >
                <div class="login-name">
                  <md-input-container class="md-block" md-no-float>
                    <md-icon md-svg-src="app/main/auth/images/user.svg"></md-icon>
                    <input type="text" name="username" ng-model="vm.form.username" placeholder="请输入用户名"
                           translate translate-attr-placeholder="LOGIN.USERNAME"
                           required>
                  </md-input-container>
                  <md-divider></md-divider>
                  <md-input-container class="md-block" md-no-float>
                    <md-icon md-svg-src="app/main/auth/images/password.svg"></md-icon>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="请输入密码"
                           translate translate-attr-placeholder="LOGIN.PASSWORD"
                           required>
                  </md-input-container>
                </div>


                <!--<div class="remember-forgot-password member" layout="row" layout-xs="column"
                     layout-align="space-between center">
                    <md-checkbox  class="remember-me" ng-model="data.cb1" aria-label="Remember Me">
                        <span translate="LOGIN.REMEMBER_ME" class="red">记住我</span>
                    </md-checkbox>

                    <a  class="forgot-password md-accent-color"
                       translate="LOGIN.FORGOT_PASSWORD" href="">忘记密码?</a>
                </div>-->
              <div layout="row" layout-align="center center">

                <md-button type="submit" ng-disabled="vm.logining" flex="90"  class="md-raised md-warn" aria-label="登录">
                    {{vm.logining || '登录'}}
                </md-button>
            </div>
            </form>

            <!--<div class="separator">-->
                <!--<span class="text" translate="LOGIN.OR">或</span>-->
            <!--</div>-->

            <!--<md-button class="md-raised google">-->
                <!--<div layout="row" layout-align="center center">-->
                <!--<span>-->
                    <!--<md-icon md-font-icon="icon-google-plus" class="s16"></md-icon>-->
                    <!--<span translate="LOGIN.WITH_GOOGLE">Log in with Google</span>-->
                <!--</span>-->
                <!--</div>-->
            <!--</md-button>-->

            <!--<md-button class="md-raised facebook">-->
                <!--<div layout="row" layout-align="center center">-->
                <!--<span>-->
                    <!--<md-icon md-font-icon="icon-facebook" class="s16"></md-icon>-->
                    <!--<span translate="LOGIN.WITH_FACEBOOK">Log in with Facebook</span>-->
                <!--</span>-->
                <!--</div>-->
            <!--</md-button>-->
            <!--<div class="register" layout="row" layout-sm="column" layout-align="center center">-->
                <!--<span class="text" translate="LOGIN.DONT_HAVE_ACCOUNT">Don't have an account?</span>-->
                <!--<a class="link" ui-sref="app.pages_auth_register" translate="LOGIN.CREATE_ACCOUNT">Create an account</a>-->
            <!--</div>-->
        </div>
    </div>
</div>
