#login-form{

   width: 300px;

  .logo{
    margin-top: 25px;
    text-align: center;
    img{
      width:120px;
    }
  }

  .login-name{
    background: white;
    border: 1px solid silver;
    padding: 0 15px;
    margin: 30px 0 20px 0;
    width: 100%;
  }

  md-input-container{
    margin:10px 0;

    input{
      background: transparent!important;
      line-height: 24px!important;
      border: 0px!important;
      &.ng-invalid {
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: red;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: red;
          opacity: 1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: red;
          opacity: 1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: red;
        }
        &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
          color: red;
        }
      }
    }
  }

  .md-errors-spacer{
    display: none;
  }
}
@media screen and (max-width: $layout-breakpoint-xs) {

  #login {

    #login-form-wrapper {

      #login-form {
        width: 100%;

        form {

          .md-button {
            width: 90%;
          }
        }

        .md-button {

          &.google,
          &.facebook {
            width: 80%;
          }
        }
      }
    }
  }

}
