<md-list flex layout="row">
  <span flex="25"></span>
  <md-list-item flex>
    <md-button ui-sref="app.xhsc.home">
      <md-icon md-svg-src="app/toolbar/images/xhhome.svg" class="icon s32" ng-class="{'active':vm.is('app.xhsc.home')}"></md-icon>
        <div class="md-grid-text" style="line-height: 20px"  ng-style="{'color':vm.is('app.xhsc.home')?'#e93030':'rgba(0,0,0,0.54)'}"> 首页 </div>
    </md-button>
  </md-list-item>
  <md-list-item flex>
    <md-button  ui-sref="app.xhsc.choose" class=" ys">
      <md-icon md-svg-src="app/toolbar/images/xhmeasure.svg" class="icon s32"  ng-class="{'active':vm.is('app.xhsc.choose')}"></md-icon>
      <div class="md-grid-text" style="line-height: 20px"  ng-style="{'color':vm.is('app.xhsc.choose')?'#e93030':'rgba(0,0,0,0.54)'}">实测实量</div>
    </md-button>
  </md-list-item>
  <md-list-item flex>
    <md-button ui-sref="app.xhsc.check">
      <md-icon md-svg-src="app/toolbar/images/xhproc.svg" class="icon s32" ng-class="{'active':vm.is('app.xhsc.check')}"></md-icon>
      <div class="md-grid-text" style="line-height: 20px" ng-style="{'color':vm.is('app.xhsc.check')?'#e93030':'rgba(0,0,0,0.54)'}"> 工序验收</div>
    </md-button>
  </md-list-item>
  <md-list-item flex>
    <md-button  ui-sref="app.xhsc.zg">
      <md-icon md-svg-src="app/toolbar/images/xhchange.svg" class="icon s32" ng-class="{'active':vm.is('app.xhsc.zg')}"></md-icon>
      <div class="md-grid-text" style="line-height: 20px"  ng-style="{'color':vm.is('app.xhsc.zg')?'#e93030':'rgba(0,0,0,0.54)'}"> 整改 </div>
    </md-button>
  </md-list-item>
  <span flex="25"></span>
</md-list>
