<md-list flex layout="row">
  <span class="border1px top1px"></span>
  <md-list-item layout="row" flex>
    <md-button flex ng-click="vm.active_selected('app.xhsc.home')" ui-sref="app.xhsc.home">
      <md-icon md-svg-src="app/toolbar/images/xhhome.svg" class="icon s32"
               ng-class="{'active':vm.current_active=='app.xhsc.home'}"></md-icon>
      <div class="md-grid-text" style="line-height: 20px"
           ng-style="{'color':vm.current_active=='app.xhsc.home'?'#e93030':'rgba(0,0,0,0.54)'}"> 首页
      </div>
    </md-button>
  </md-list-item>
  <md-list-item layout="row"  flex>
    <md-button flex ng-click="vm.active_selected('app.xhsc.application')" ui-sref="app.xhsc.application">
      <md-icon md-svg-src="app/toolbar/images/xhproc.svg" class="icon s32"
               ng-class="{'active':vm.current_active=='app.xhsc.application'}"></md-icon>
      <div class="md-grid-text" style="line-height: 20px"
           ng-style="{'color':vm.current_active=='app.xhsc.application'?'#e93030':'rgba(0,0,0,0.54)'}"> 应用
      </div>
    </md-button>
  </md-list-item>
  <md-list-item layout="row" flex >
    <md-button flex="" ng-click="vm.active_selected('app.pcReport_main')" ui-sref="app.pcReport_main" class=" ys">
      <md-icon md-svg-src="app/toolbar/images/report.svg" class="icon s32"
               ng-class="{'active':vm.current_active=='app.pcReport_main'}"></md-icon>
      <div class="md-grid-text" style="line-height: 20px"
           ng-style="{'color':vm.current_active=='app.pcReport_main'?'#e93030':'rgba(0,0,0,0.54)'}">报表中心
      </div>
    </md-button>
  </md-list-item>
  <md-list-item layout="row" flex>
    <md-button flex ng-click="vm.active_selected('app.xhsc.pcmain')" ui-sref="app.xhsc.pcmain" class=" ys">
      <md-icon md-svg-src="app/toolbar/images/xhchange.svg" class="icon s32"
               ng-class="{'active':vm.current_active=='app.xhsc.pcmain'}"></md-icon>
      <div class="md-grid-text" style="line-height: 20px"
           ng-style="{'color':vm.is('app.xhsc.pcenter')?'#e93030':'rgba(0,0,0,0.54)'}"> 设置
      </div>
    </md-button>
  </md-list-item>
</md-list>
