#toolbar{
  .md-button{
    line-height:26px;
    min-width:80px;
    font-size:12px;
  }
  md-icon{
    padding-top: 4px;
    height:28px;
  }
}
#toptoolbar{
  height:48px;
  min-height:48px;
  max-height:48px;
  z-index: 55 !important;
  background-color:rgb(233,48,48);
  color:#fff;
  .md-button{
    position: absolute;
    left:0;
    top:4px;

    md-icon{
      color:#fff;
    }
    span{
      display: inline-block;
      vertical-align: top;
      padding-top: 3px;
    }
  }
  h2{
    text-align:center;
    display:block;
    width:100%;
  }
  .md-inner{
    .md-right{
      .md-half-circle{
        border-right-color:#fff;
        border-top-color:#fff;
      }
    }
    .md-left{
      .md-half-circle{
        border-left-color:#fff;
        border-bottom-color:#fff;
        border-top-color:#fff;
      }
    }
    .md-gap{
      border-top-color:#fff;
      border-bottom-color:#fff;
    }
  }

}
