<!--<md-content class="md-area-select" ng-controller="msAreaSelectController">-->
  <!--<div class="md-area-select-top" layout="row">-->
    <!--<div flex="33" ng-click="clickDrownList($event,'area',0)">-->
      <!--<div class="md-select-value md-select-placeholder top-dot on">-->
        <!--<span title="{{areaData.showText||areaData.initText}}">{{areaData.showText||areaData.initText}}</span>-->
        <!--<span class="md-select-icon"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div flex="33" ng-click="clickDrownList($event,'department',1)">-->
      <!--<div class="md-select-value md-select-placeholder top-dot">-->
        <!--<span title="{{departmentData.showText||departmentData.initText}}">{{departmentData.showText||departmentData.initText}}</span>-->
        <!--<span class="md-select-icon"></span>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div flex="33" ng-click="clickDrownList($event,'procedure',2)">-->
      <!--<div class="md-select-value md-select-placeholder top-dot">-->
        <!--<span title="{{procedureData.showText||procedureData.initText}}">{{procedureData.showText||procedureData.initText}}</span>-->
        <!--<span class="md-select-icon"></span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<md-divider></md-divider>-->
  <!--&lt;!&ndash; 数据列表 &ndash;&gt;-->
  <!--<div hidden class="md-area-select-content" layout="row">-->
    <!--&lt;!&ndash; 第一列数据展示 &ndash;&gt;-->
    <!--<div flex="{{flexes[0]}}" class="item">-->
      <!--<md-virtual-repeat-container layout="row" class="repeatContainer">-->
        <!--<div md-virtual-repeat="list in itemAList" class="repeated-item" flex>-->
          <!--<div ng-class="getCurrentSelectedItem(0,list)" class="md-3-line" ng-click="selectRegionItems($event,list,0)">-->
            <!--<span>{{list.SpecialtyName||list.RegionName}}</span>-->
          <!--</div>-->
          <!--<md-divider></md-divider>-->
        <!--</div>-->
      <!--</md-virtual-repeat-container>-->
    <!--</div>-->

    <!--&lt;!&ndash; 第二列数据展示 &ndash;&gt;-->
    <!--<div flex="{{flexes[1]}}" class="item">-->
      <!--<md-virtual-repeat-container layout="row" class="repeatContainer">-->
        <!--<div md-virtual-repeat="list in itemBList" class="repeated-item" flex>-->
          <!--<div ng-class="getCurrentSelectedItem(1,list)" class="md-3-line" ng-click="selectRegionItems($event,list,1)">-->
            <!--<span>{{list.SpecialtyName||list.RegionName}}</span>-->
          <!--</div>-->
          <!--<md-divider></md-divider>-->
        <!--</div>-->
      <!--</md-virtual-repeat-container>-->
    <!--</div>-->

    <!--&lt;!&ndash; 第三列数据展示 &ndash;&gt;-->
    <!--<div flex="{{flexes[2]}}" class="item">-->
      <!--<md-virtual-repeat-container layout="row" class="repeatContainer">-->
        <!--<div md-virtual-repeat="list in itemCList" class="repeated-item" flex>-->
          <!--<div ng-class="getCurrentSelectedItem(3,list)" class="md-3-line" ng-click="selectRegionItems($event,list,2)">-->
            <!--<span>{{list.AcceptanceItemName||list.SpecialtyName||list.RegionName||''}}</span>-->
          <!--</div>-->
          <!--<md-divider></md-divider>-->
        <!--</div>-->
      <!--</md-virtual-repeat-container>-->
    <!--</div>-->

  <!--</div>-->

  <!--&lt;!&ndash; 横线列 &ndash;&gt;-->
  <!--<div flex="100">-->
    <!--<md-divider></md-divider>-->
  <!--</div>-->

<!--</md-content>-->


<md-content class="md-area-select" ng-controller="msAreaSelectController">
  <div class="md-area-select-top" layout="row">
    <div flex="33" ng-click="clickDrownList($event,'area',0)">
      <div class="md-select-value md-select-placeholder top-dot on">
        <span title="{{areaData.showText||areaData.initText}}">{{areaData.showText||areaData.initText}}</span>
        <span class="md-select-icon"></span>
      </div>
    </div>
    <div flex="33" ng-click="clickDrownList($event,'department',1)">
      <div class="md-select-value md-select-placeholder top-dot">
        <span title="{{departmentData.showText||departmentData.initText}}">{{departmentData.showText||departmentData.initText}}</span>
        <span class="md-select-icon"></span>
      </div>
    </div>
    <div flex="33" ng-click="clickDrownList($event,'procedure',2)">
      <div class="md-select-value md-select-placeholder top-dot">
        <span title="{{procedureData.showText||procedureData.initText}}">{{procedureData.showText||procedureData.initText}}</span>
        <span class="md-select-icon"></span>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
  <!-- 数据列表 -->
  <div hidden class="md-area-select-content" layout="row">
    <!-- 第一列数据展示 -->
    <div flex="{{flexes[0]}}" class="item">
      <md-virtual-repeat-container layout="row" class="repeatContainer">
        <div md-virtual-repeat="list in itemAList" class="repeated-item" flex>
          <div ng-class="getCurrentSelectedItem(0,list)" class="md-3-line" ng-click="selectRegionItems($event,list,0)">
            <span>{{list.SpecialtyName||list.RegionName}}</span>
          </div>
          <md-divider></md-divider>
        </div>
      </md-virtual-repeat-container>
    </div>

    <!-- 第二列数据展示 -->
    <div flex="{{flexes[1]}}" class="item">
      <md-virtual-repeat-container layout="row" class="repeatContainer">
        <div md-virtual-repeat="list in itemBList" class="repeated-item" flex>
          <div ng-class="getCurrentSelectedItem(1,list)" class="md-3-line" ng-click="selectRegionItems($event,list,1)">
            <span>{{list.SpecialtyName||list.RegionName}}</span>
          </div>
          <md-divider></md-divider>
        </div>
      </md-virtual-repeat-container>
    </div>

    <!-- 第三列数据展示 -->
    <div flex="{{flexes[2]}}" class="item">
      <md-virtual-repeat-container layout="row" class="repeatContainer">
        <div md-virtual-repeat="list in itemCList" class="repeated-item" flex>
          <div ng-class="getCurrentSelectedItem(3,list)" class="md-3-line" ng-click="selectRegionItems($event,list,2)">
            <span>{{list.AcceptanceItemName||list.SpecialtyName||list.RegionName||''}}</span>
          </div>
          <md-divider></md-divider>
        </div>
      </md-virtual-repeat-container>
    </div>

  </div>

  <!-- 横线列 -->
  <div flex="100">
    <md-divider></md-divider>
  </div>

</md-content>
