
<div flex layout="row" class="cjwt">
  <div flex layout="column" style="background: #f5f5f5;" id="list"  ng-switch="$index"  ng-repeat="item in source">
    <md-content style="background: #f5f5f5;"  ng-switch-when="0">
      <md-list class="p-0">
        <md-list-item ng-click="select(i,0)"
                      ng-repeat="i in item">
          <p style="text-align: left" ng-class="{'colRed':i.check}">{{i.title}}</p>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
    <md-content style="background: #f9f9f9;" ng-if="item.length>0"  ng-switch-when="1">
      <md-list class="p-0">
        <md-list-item ng-click="select(i,1)"
                      ng-repeat="i in item">
          <p style="text-align: center" ng-class="{'colRed':i.check}">{{i.title}}</p>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
    <md-content  ng-switch-when="2" ng-if="item.length>0">
      <md-list class="p-0">
        <md-list-item ng-click="check(i)"
                      ng-repeat="i in item">
          <p style="text-align: center" ng-class="{'colRed':i.check}">{{i.title}}</p>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>

