<div layout="row" layout-align="space-between center"  class="ph-8 is-tabs">
  <div  ng-class="{'active':vm.currenttab==0}" ng-click="vm.inspection(0)">
    <md-button>未开始</md-button>
  </div>
  <div ng-class="{'active':vm.currenttab==1}" ng-click="vm.inspection(1)">
    <md-button>进行中</md-button></div>
  <div  ng-class="{'active':vm.currenttab==2}" ng-click="vm.inspection(2)">
    <md-button>已完成</md-button>
  </div>
</div>
<md-content layout="column" flex style="background: #f0f0f0" class="pt-10 is-list">
  <md-list class="white-bg p-0">
    <md-list-item>
      <div class="md-list-item-text" flex>深圳市的解放拉萨的叫法楼上的房间啊速度</div>
      <md-button class="md-secondary md-raised" ng-click="vm.check()" ng-if="vm.currenttab == 0&&!vm.loading">开始验房</md-button>
      <md-button class="md-secondary md-raised" ng-click="vm.done()" ng-if="vm.currenttab == 1">验房完成</md-button>
      <div ng-if="vm.loading">
        <span class="md-secondary" ng-if="vm.loading">下载数据</span><span class="circle md-secondary" ng-if="vm.loading">50%</span>
      </div>
      <md-divider></md-divider>
    </md-list-item>
    <md-list-item>
      <div class="md-list-item-text" flex>深圳市的解放拉萨的叫法楼上的房间啊速度</div>
      <md-button class="md-secondary md-raised" ng-click="vm.check()" ng-if="vm.currenttab == 0&&!vm.loading">开始验房</md-button>
      <md-button class="md-secondary md-raised" ng-click="vm.done()" ng-if="vm.currenttab == 1">验房完成</md-button>
      <div ng-if="vm.loading">
        <span class="md-secondary" ng-if="vm.loading">下载数据</span><span class="circle md-secondary" ng-if="vm.loading">50%</span>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</md-content>
