<div class="imageEdit" style="height:150px;width: 150px;">
    <!--<div class="edititem" ng-repeat="item in uploader.queue" uib-tooltip="{{item.file.Remark}}">-->
        <!--<div ng-if="!item.isSuccess" class="proc">{{item.progress}}%</div>-->
        <!--<img style="height:150px;margin:0 5px; width: 200px;"  osrc="{{item.file.Url.substring(1).replace('/s_','/')}}" ng-src="{{item.file.Url.replace('/s_','/')|fileurl:150}}" class="img-thumbnail" />-->
        <!--<div ng-if="edit" class="text" style="padding: 5px; text-align: right;">-->
            <!--<div style="position: relative; ">-->
                <!--<a ng-if="edit" style="position: absolute; right: 30px;width: 50px;">替换</a>-->
                <!--<input type="file" style="position: absolute; right: 30px; width: 50px; opacity: 0;cursor: pointer; font-size: 0; height: 20px;" nv-file-select uploader="uploader" multiple ng-click="inputChange()" ; />-->
            <!--</div>-->

            <!--<a ng-if="edit" ng-click="remove($event,item)" style="cursor: pointer;">删除</a>-->
        <!--</div>-->
    <!--</div>-->
  <div class="edititem" ng-if="img">
    <img style="height:140px;margin:0 5px; width: 140px;" src="{{img}}" class="img-thumbnail" />
    <div class="text" style="padding: 5px; text-align: right;">
      <a style="cursor: pointer;font-size:12px;color:#333;" ng-click="remove($event,img)">删除</a>
    </div>
  </div>
    <div ng-if="!img">
        <div class="file-drop-zone" style="height:140px;margin:0 5px;line-height:140px; padding:5px;" nv-file-drop uploader="uploader">
            <input type="file" nv-file-select uploader="uploader" multiple ng-click="inputChange()" ; />
        </div>
    </div>
</div>
