<md-content flex>
<table class="simple">
  <thead>
    <tr>
      <th style="width: 120px">流程</th>
      <th>可选任务</th>
      <th>工期</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="task in data.template">
    <td>{{task.FullName || task.getFullName()}}</td>
    <td>
      <md-menu>
        <span ng-click="$mdOpenMenu($event);">
          {{task.selectedTask?task.selectedTask.Name:'请选择'}}
        </span>
        <md-menu-content width="4">
          <md-menu-item ng-repeat="op in (task.OptionalTasks||task.getOptionalTasks())">
            <md-button ng-click="task.selectedTask = op">
              {{op.Name}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
     </td>
    <td>

      <md-input-container class="m-0" md-no-float>
        <input type="text" placeholder="输入工期" ng-model="task.selectedTask.Duration">
      </md-input-container>
      <md-input-container class="md-block" ng-repeat="v in vars">
        <label>变量{{v.key}}</label>
        <input type="text" required name="Duration" ng-model="v.value">
      </md-input-container>
    </td>
    <td>
      <div layout="row" layout-align="start start">
      <md-select ng-if="task.IsFloor" ng-model="task.selectedFloor" flex>
        <md-option ng-repeat="op in task.Floors" ng-value="op">
          {{op.FloorName}}
        </md-option>
      </md-select>
      <md-button ng-if="!task.IsRequired">
        删除节点
      </md-button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</md-content>
