<md-dialog ng-cloak style="max-width:50%;width:50%;" class="questionlist">
  <md-dialog-content layout="row">
    <div layout="column" flex>
      <div layout="row">部位</div>
      <div layout="row" flex>
        <md-input-container class="md-block" flex>
          <input ng-model="data.PartDescriptioin" placeholder="请填写部位，可为空">
        </md-input-container>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <!--<md-button class="md-raised" ng-click="cancel()">取消</md-button>-->
    <md-button class="md-raised" ng-click="submit()">确定</md-button>
  </md-dialog-actions>
</md-dialog>
