<md-content class="floor-list md-hue-1">
  <div class="right engineer">
    <!--<div layout="column">-->
      <!--<h2>测量结果</h2>-->
    <!--</div>-->
    <div layout="column">
      <md-list>
        <md-list-item>
          <md-button class="md-button" ui-sref="app.xhsc.pkresult({AssessmentID:vm.fq.assessmentID,RegionID:vm.fq.regionId,RegionName:vm.fq.RegionName,AssessmentTypeID:'82666209a15647569f9bcaff50d324c2'})">综合评估评分表</md-button>
        </md-list-item>
      </md-list>

    </div>

    <div layout="column" ng-repeat="m in vm.ms">
      <div style="border-bottom: 1px solid #d8d8d8;">
        <h2 class="md-title" style="color:#e93030;font-size:16px;margin:16px;">{{m.TemplateName}}</h2>
      </div>
      <md-list>
        <!--<md-list-item>-->
          <!--<md-button class="md-button" ui-sref="app.xhsc.sctb(vm.fq)">{{vm.fq.RegionName}}</md-button>-->
        <!--</md-list-item>-->
        <md-list-item ng-repeat="b in m.Regions">

          <md-button ui-sref="app.xhsc.sctb(b)">
            <p>{{b.name}}</p>
          </md-button>
        </md-list-item>
      </md-list>
    </div>
  </div>
</md-content>
