<md-tabs flex md-border-bottom>
  <md-tab ng-repeat="s in vm.sections.Sections" label="{{s.SectionName}}">
    <md-tab-content flex layout-fill layout="column"  >
      <div class="right engineer">
        <!--<div layout="column">-->
        <!--<h2>测量结果</h2>-->
        <!--</div>-->

        <div layout="column" ng-repeat="m in s.MeasurItems">
          <div style="border-bottom: 1px solid #d8d8d8;">
            <h2 class="md-title" style="color:#e93030;font-size:16px;margin:16px;">{{m.MeasureItemName}}</h2>
          </div>
          <md-list>
            <div layout="row" layout-wrap>
              <div flex="33" ng-repeat="b in m.ExtractionRegions">
                <md-button class="md-raised md-block" style="display: block; text-align:left;" ui-sref="app.xhsc.sctb({db:s.AssessmentID,regionId:b.RegionID,measureItemID:m.AcceptanceItemID,name:b.FullRegionName,pname:m.MeasureItemName})">
                  {{b.FullRegionName}}
                </md-button>
              </div>
            </div>


          </md-list>
        </div>
      </div>
    </md-tab-content>
  </md-tab>
</md-tabs>
