
<div layout="column" ng-cloak="">

  <md-content class="main-padding md-hue-1" layout="column">

    <div>
    </div>
    <div class="selectArea">
      <md-select ng-model="vm.selectedArea" style="margin-bottom:10px;">
          <md-option ng-value="area" ng-repeat="area in vm.Areas">{{area.ProjectName}}{{area.AreaName}}</md-option>
      </md-select>
    </div>
    <md-list class="procedure-list" ng-repeat="procdure in vm.xhMeasure">
      <h2 class="md-title" style="color:#e93030;font-size:16px;margin-top:10px;">{{procdure.$name}} > {{procdure.children[0].$name}}</h2>
      <md-list-item class="veggie-option" layout="row" layout-wrap="" ui-sref="app.xhsc.chooseHouse({id:subpro.AcceptanceItemID,areaId:vm.selectedArea.AreaID})" ng-repeat="subpro in procdure.ps">
        <div class="md-item-text">
          <p class="md-primary">{{subpro.MeasureItemName}}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>



