<md-tabs md-align-tabs="bottom" flex md-swipe-content>
  <md-tab label="评估列表">
    <md-tab-content  style="padding: 0px" flex layout-fill layout="column" layout-padding class="zb">
      <md-content class="download" style="padding: 0px">
        <div layout="column">
          <md-subheader ng-if="vm.offlines.length">已下载列表</md-subheader>
          <span class="border1px"></span>
          <md-list>
            <md-list-item style="margin: 0px -32px"  ng-repeat="item in vm.offlines">
              <img  style="margin-left: 32px;"  src="app/main/xhsc/images/icon-downed.png" class="md-avatar" />
              <p layout="column" style="padding-right: 230px;font-size:18px;">
                {{item.AssessmentSubject}}
              </p>
              <div class="md-secondary md-hue-3">
                <md-button  ng-click="vm.showECs($event,item)" class="md-raised md-primary" >
                  评估
                </md-button>
                <md-button  ng-click="vm.delete(item,$event)" class="md-raised md-primary" style="vertical-align: top;border:1px solid #0185f1;">
                  删除
                </md-button>
<!--                <md-button  ui-sref="app.xhsc.ch3({assessmentID:item.AssessmentID})" class="md-raised md-primary" style="vertical-align: top;border:1px solid #0185f1;">
                  详情
                </md-button>-->
                <md-button  class="md-raised upload-btn" ng-click="vm.download(item,true)">
                  <!--<md-progress-circular ng-show="item.downloading && item.progress!=100" md-mode="determinate" value="{{item.progress}}"  md-diameter="20"></md-progress-circular>-->
                  重下
                </md-button>
          <span style="display:inline-block;text-align: center;">
            <md-button ng-click="vm.upload(item)" class="md-raised upload-btn">
              <md-progress-circular ng-show="item.uploading && item.progress && item.progress!=100" value="{{item.progress}}"  md-diameter="20"></md-progress-circular> 上传
            </md-button>
          </span>
              </div>
              <span class="border1px bottom1px"></span>
            </md-list-item>

          </md-list>
          <md-subheader ng-if="vm.onlines.length">未下载列表</md-subheader>
          <span class="border1px"></span>
          <md-list>
            <md-list-item style="margin: 0px -32px"  ng-repeat="item in vm.onlines">
              <img src="app/main/xhsc/images/icon-down.png" style="margin-left: 32px;" class="md-avatar" />
              <p layout="column" style="font-size: 18px;padding-right: 100px;">
                {{item.AssessmentSubject}}
              </p>
              <div class="md-secondary md-hue-3">
               <span style="display:inline-block;padding-right: 20px;">
            <md-button  class="md-raised upload-btn" ng-click="vm.download(item)">
              下载
            </md-button>
          </span>
              </div>
              <span class="border1px bottom1px"></span>
            </md-list-item>
          </md-list>
        </div>
      </md-content>
    </md-tab-content>
  </md-tab>
  <md-tab label="项目汇总列表">
    <md-tab-content  style="padding: 0px;" flex layout-fill layout="column" layout-padding class="zb">
        <md-content class="download" style="padding: 0px">
        <div layout="column">
          <md-subheader id="xcpg_head" style="padding: 0px">
            <md-autocomplete  id="auto"  md-no-cache="true" flex="none" md-selected-item-change="vm.changeItem(r)" md-item-text="r.ProjectName" placeholder="搜索" md-min-length="0"
                              md-items="r in vm.querySearch(vm.searchText)" md-search-text="vm.searchText">
              <md-item-template>
                {{r.fullName}}
              </md-item-template>
              <md-not-found>
                未找到匹配项
              </md-not-found>
            </md-autocomplete>
          </md-subheader>
          <span class="border1px"></span>
          <md-list>
            <md-list-item style="margin: 0px -32px" ng-repeat="item in vm.projects">
              <img src="app/main/xhsc/images/icon-downed.png" style="margin-left: 32px;" class="md-avatar" />
              <p layout="column" style="padding-right: 230px;font-size:18px;">
                {{item.fullName}}
              </p>
              <div class="md-secondary md-hue-3">
                 <span style="display:inline-block;text-align: center;">
                      <md-button class="md-raised upload-btn" ui-sref="app.xhsc.ch31({year:item.Year,projectID:item.ProjectID,quarter:item.Quarter,assessmentStage:item.AssessmentStage})">
                   实测
                </md-button>
                </span>
              </div>
              <span class="border1px bottom1px"></span>
            </md-list-item>
          </md-list>
        </div>
      </md-content>
    </md-tab-content>
  </md-tab>
</md-tabs>


