<md-content  layout="row" style="background: #fff;" flex>
  <md-list class="evaluate" style="padding:32px 16px;">
    <md-list-item class="evaluate-item" ng-click="vm.showECs($event)">
      <div class="evaluate-itemwrap">
        <div class="left">
          <p>2015年<br/>第一季度</p>
        </div>
        <div class="md-list-item-text compact">
          <p>星河某某第一期现场评估</p>
        </div>
      </div>
    </md-list-item>
    <md-list-item class="evaluate-item" ng-click="vm.showECs($event)">
      <div class="evaluate-itemwrap">
        <div class="left">
          <p>2015年<br/>第一季度</p>
        </div>
        <div class="md-list-item-text compact">
          <p>星河某某第一期现场评估</p>
        </div>
      </div>
    </md-list-item>
    <md-list-item class="evaluate-item" ng-click="vm.showECs($event)">
    <div class="evaluate-itemwrap">
      <div class="left">
        <p>2015年<br/>第一季度</p>
      </div>
      <div class="md-list-item-text compact">
        <p>星河某某第一期现场评估</p>
      </div>
    </div>
    </md-list-item>
    <md-list-item class="evaluate-item" ng-click="vm.showECs($event)">
    <div class="evaluate-itemwrap">
      <div class="left">
        <p>2015年<br/>第一季度</p>
      </div>
      <div class="md-list-item-text compact">
        <p>星河某某第一期现场评估</p>
      </div>
    </div>
    </md-list-item>
  </md-list>
  <div layout="row" style="width: 100%;display: none;">
    <div style="position: absolute;left: 50%;top:50%;transform: translate(-50%,-50%)">
      <img src="app/main/xhsc/images/bg.png">
      <p style="font-size: 14px;text-align: center;margin-top: 16px;">当前无评估任务</p>
    </div>
  </div>
</md-content>
