<md-dialog ng-cloak style="max-width:90%;width:90%;" class="quesdetail">
  <md-dialog-content>
    <div>
{{item.ProblemDescription}}
    </div>
    <div>
      <md-button ng-click="addPhoto(question)"><md-icon><img src="app/main/xhsc/images/plus.png"></md-icon></md-button>
      <md-button class="md-button" ng-click="delete(question)" style="margin:0;"><md-icon><img src="app/main/xhsc/images/del1.png"></md-icon></md-button>
    </div>
    <div flex layout="row" layout-wrap>
      <div flex="50" ng-repeat="img in images" >
        <img ng-src="{{img.ImageByte}}" style="width: 450px;" />
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
