<md-tabs md-align-tabs="bottom" flex md-swipe-content md-selected="vm.selectedIndex" class="zlpkwrap">
  <md-tab label="项目评分汇总表">
    <md-tab-content flex layout-fill layout="column" layout-padding class="zb">
      <div layout="row" style="text-align: center;font-size:20px;">
        <div style="text-align: center;width:100%;">项目得分汇总表</div>
      </div>
      <div layout="row" flex>
        <table width="100%" cellpadding="0" cellspacing="0">
          <thead>
          <tr>
            <th style="width: 150px;">
              检查评估项
            </th>
            <th>
              得分
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="t in vm.totals">
            <td ng-style="{'font-weight': (t.ParentID?'':'bold') }">{{t.AssessmentCheckItemName }}</td>
            <td>{{t.TotalScore}}</td>
          </tr>

         <!-- <tr>
            <td style="font-weight: bold;">监理得分</td>
            <td></td>
          </tr>
          <tr>
            <td style="font-weight: bold;">总包得分</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2" style="font-weight: bold;">1.实测实量</td>
          </tr>
          </tbody>
          <tbody>
          <tr>
            <td>1.1总包</td>
            <td></td>
          </tr>
          <tr>
            <td>1.2精装修</td>
            <td></td>
          </tr>
          </tbody>
          <tbody>
          <tr>
            <td colspan="2" style="font-weight: bold;">2.实体质量</td>
          </tr>
          <tr>
            <td>2.1总包</td>
            <td></td>
          </tr>
          <tr>
            <td style="font-weight: bold;">3.安全文明</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2" style="font-weight: bold;">4.管理行为</td>
          </tr>
          <tr>
            <td>4.1项目部</td>
            <td></td>
          </tr>
          <tr>
            <td>4.2监理单位</td>
            <td></td>
          </tr>
          <tr>
            <td>4.3施工单位</td>
            <td></td>
          </tr>-->

          </tbody>
        </table>
        <!--<div class="simple-table-container" flex>-->
        <!--<div class="ms-responsive-table-wrapper">-->
        <!---->
        <!--</div>-->
      </div>



    </md-tab-content>
  </md-tab>
  <md-tab label="{{b.AssessmentClassificationName}}" ng-repeat="b in vm.items.AssessmentClassifys">
    <md-tab-content flex layout-fill layout="column"  >
      <div flex="none" layout="row" style="border-top: solid 1px silver" class="zlpkheader">
            <div flex="25">
              检测内容
            </div><div flex="35">
            评判标准
          </div>
          <div flex="40" layout="row">
            <div flex style=" border-right: 1px solid #d8d8d8;">扣分标准</div>
            <div flex="none" style="width:50px; border-right: 1px solid #d8d8d8;text-align: center;">
              权重
            </div>
            <div flex="none" style="width:50px; border-right: 1px solid #d8d8d8;text-align: center;">
              扣分
            </div>
            <div flex="none" style="width:50px;text-align: center;">
              得分
            </div>
          </div>
        </div>
      <div flex layout="column" layout-fill>
        <md-content flex  class="zlpksub">
          <section class="zlpklist" ng-repeat="c in b.AssessmentClassifys">
            <md-subheader>
              <div layout="row" class="zlpksubheader">
                <span>{{c.AssessmentClassificationName}}</span>
              </div>
            </md-subheader>
            <table width="100%" cellspacing="0" cellpadding="0" class="zlpktables">
                  <tr ng-repeat="e in c.AssessmentClassifys">
                    <td style="width:{{vm.getW(1,2)}}%;">
                      <p>{{e.AssessmentClassificationName}}</p>
                    </td>
                    <td>
                      <table width="100%" cellspacing="0" cellpadding="0">
                        <tr ng-repeat="f in e.AssessmentClassifys">
                          <td style="width:{{vm.getWidth(2,b.level)}}%;">
                            <p>{{f.AssessmentClassificationName}}</p>
                          </td>
                          <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                              <tr ng-repeat="g in f.AssessmentClassifys">
                                <td style="width:{{vm.getWidth(3,b.level)}}%;">
                                  <p>{{g.AssessmentClassificationName}}</p>
                                </td>
                                <td>
                                  <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr ng-repeat="item in g.AssessmentItems">
                                      <td style="width:{{vm.getWidth(4,b.level)}}%">
                                        <p>{{item.AssessmentCheckItemName}}</p>
                                      </td>
                                      <td>
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td style="width:{{vm.getWidth(5,b.level)}}%">
                                              <p>{{item.EvaluationCriteria}}</p>
                                            </td>
                                            <td>
                                              <p>{{item.DeductionCriteria}}</p>
                                            </td>
                                            <td style="width: 50px;text-align: center;">
                                              {{item.Weight}}
                                            </td>
                                            <td style="width: 50px;text-align: center;" class="lr">
                                              <button ng-click="vm.changeScore(item,$event)"> {{item.DelScore}}</button>
                                            </td>
                                            <td style="width: 50px;text-align: center;" class="lr">
                                              {{item.ModifyScore}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td colspan="5">
                                              <table width="100%" cellspacing="0" cellpadding="0">
                                                <tr>
                                                  <td style="width:50px;text-align:center">{{vm.RegionName}}}</td>
                                                  <td colspan="4" class="lr" style="position: relative;padding:3px 0;">
                                                    &nbsp;&nbsp;扣分信息：
                                                    <span ng-repeat="q in item.DeductScoreItems">
                                                      <!--<md-button ng-if="item.question.length" class="md-icon-button"  ><md-icon style="width:16px;height:16px;"><img src="app/main/xhsc/images/text.png"></md-icon></md-button>-->
                                                      <md-button ng-if="item.DeductScoreItems.length" class="md-icon-button" ng-click="vm.quesDetail(item.question,q,item)"><md-icon style="width:16px;height:16px;"><img src="app/main/xhsc/images/pic.png"></md-icon></md-button>
                                                    </span>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>

                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr ng-repeat="item in e.AssessmentItems">
                                <td style="width:6.25%;">
                                  <p>{{item.AssessmentCheckItemName}}{{item}}</p>
                                </td>
                                <td>
                                  <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td style="width:46.9%;">
                                        <p>{{item.EvaluationCriteria}}</p>
                                      </td>
                                      <td>
                                        <p>{{item.DeductionCriteria}}</p>
                                      </td>
                                      <td style="width: 50px;text-align: center;">
                                        {{item.Weight}}
                                      </td>
                                      <td style="width: 50px;text-align: center;" class="lr">
                                        <button ng-click="vm.changeScore(item,$event)"> {{item.DelScore}}</button>
                                      </td>
                                      <td style="width: 50px;text-align: center;" class="lr">
                                        {{item.ModifyScore}}
                                      </td>
                                    </tr>
                                    <tr>
                                      <td colspan="5">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td style="width:50px;text-align:center">{{vm.RegionName}}</td>
                                            <td colspan="4" class="lr" style="position: relative;padding:3px 0;">
                                              &nbsp;&nbsp;扣分信息：
                                              <span ng-repeat="q in item.question">
                                                <!--<md-button ng-if="item.question.length" class="md-icon-button"  ><md-icon style="width:16px;height:16px;"><img src="app/main/xhsc/images/text.png"></md-icon></md-button>-->
                                                <md-button ng-if="item.question.length" class="md-icon-button" ng-click="vm.quesDetail(item.question,q,item)"><md-icon style="width:16px;height:16px;"><img src="app/main/xhsc/images/pic.png"></md-icon></md-button>
                                              </span>
                                              <md-button aria-label="" ng-if="!item.done" class="md-icon-button" ng-click=" vm.check(item,$event)"><md-icon><img src="app/main/xhsc/images/plus.png"></md-icon></md-button>
                                              <md-button aria-label="" class="md-button md-raised zdybtn" ng-if="item.question.length==0" ng-click="vm.fit(item)" style="position: absolute;top:50%;right:5px;transform: translate(0 ,-50%);margin:0;font-size:12px;">符合要求</md-button>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>

                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr ng-repeat="item in e.AssessmentItems">
                          <td style="width:14.1%;">
                            <p>{{item.AssessmentCheckItemName}}</p>
                          </td>
                          <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                              <tr>
                                <td style="width:46.9%;">
                                  <p>{{item.EvaluationCriteria}}</p>
                                </td>
                                <td>
                                  <p>{{item.DeductionCriteria}}</p>
                                </td>
                                <td style="width: 50px;text-align: center;">
                                  {{item.Weight}}
                                </td>
                                <td style="width: 50px;text-align: center;" class="lr">
                                <button ng-click="vm.changeScore(item,$event)"> {{item.DelScore}}</button>
                                </td>
                                <td style="width: 50px;text-align: center;" class="lr">
                                  {{item.ModifyScore}}
                                </td>
                              </tr>
                              <tr ng-repeat="region in item.regions">
                                <td colspan="5">
                                  <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td style="width:50px;text-align:center">{{region.RegionName}}</td>
                                      <td colspan="4" class="lr" style="position: relative;padding:3px 0;">
                                        &nbsp;&nbsp;扣分信息：
                                  <span ng-repeat="q in region.DeductScoreItems">
                                    <md-button  ng-click="vm.quesDetail(q,region)"><md-icon style="width:16px;height:16px;"><img src="app/main/xhsc/images/pic.png"></md-icon>
                                    </md-button>
                                  </span>
                                      </td>

                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr ng-repeat="item in c.AssessmentItems">
                    <td style="width:25%;">
                      <p>{{item.AssessmentCheckItemName}}{{vm.levels}}</p>
                    </td>
                    <td>
                      <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="width:46.9%;">
                            <p>{{item.EvaluationCriteria}}</p>
                          </td>
                          <td>
                            <p>{{item.DeductionCriteria}}</p>
                          </td>
                          <td style="width: 50px;text-align: center;">
                            {{item.Weight}}
                          </td>
                          <td style="width: 50px;text-align: center;" class="lr">
                            <button ng-click="vm.changeScore(item,$event)"> {{item.DelScore}}</button>
                          </td>
                          <td style="width: 50px;text-align: center;" class="lr">
                            {{item.ModifyScore}}
                          </td>
                        </tr>
                        <tr ng-repeat="region in item.regions">
                          <td colspan="5">
                            <table width="100%" cellspacing="0" cellpadding="0">
                              <tr>
                                <td style="width:50px;text-align:center">{{region.RegionName}}</td>
                                <td colspan="4" class="lr" style="position: relative;padding:3px 0;">
                                  &nbsp;&nbsp;扣分信息：
                                  <span ng-repeat="q in region.DeductScoreItems">
                                    <md-button  ng-click="vm.quesDetail(q,region)"><md-icon style="width:16px;height:16px;"><img src="app/main/xhsc/images/pic.png"></md-icon>  {{q.DeductionScore}}</md-button>
                                  </span>
                                </td>

                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
            </table>
          </section>
        </md-content>
        </div>
      </md-tab-content>
    </md-tab>
</md-tabs>


