<md-dialog ng-cloak style="max-width:90%;width:90%;" class="questionlist">
  <md-dialog-content layout="row">
    <div layout="column" flex>
    <!--<div layout="row" flex>-->
      <!--<md-button class="md-button md-raised">其它</md-button>-->
    <!--</div>-->
    <div layout="row" flex>
    <md-list flex>
      <md-list-item flex layout="row" ng-repeat="e in Problems" ng-click="answer(e,$event)" ng-if="Problems.length">
        <md-button class="md-secondary" ng-click="vm.show = true">
          分值：<span ng-if="!vm.show">{{e.DeductValue}}</span>
          <md-input-container ng-if="vm.show">
            <input ng-model="e.DeductValue">
          </md-input-container>
        </md-button>
        <p>{{e.ProblemDescription}}</p>
      </md-list-item>
    </md-list>
    </div>
      <div layout="row" flex>
        <div layout="column" flex>
        <p layout="row" flex>暂无问题项，请输入问题</p>
        <div layout="row" flex>
        <md-input-container flex>
          <input>
        </md-input-container>
        </div>
        </div>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
