
<md-dialog aria-label="Mango (Fruit)"  ng-cloak style="background:transparent;box-shadow: none;max-width:100%;width:100%; " class="typeNumber">
  <md-dialog-actions>
    <md-list flex layout="row" layout-wrap layout-fill>
      <md-list-item flex  flex-sm="30">
        <md-button ui-sref="app.xhsc.evaluatelist" ng-click="hide()">
          <span>0.5</span>
        </md-button>
      </md-list-item>
      <md-list-item flex  flex-sm="30">
        <md-button ui-sref="app.xhsc.evaluatelist" ng-click="hide()">
          <span>0.5</span>
        </md-button>
      </md-list-item>
      <md-list-item flex  flex-sm="30">
        <md-button ui-sref="app.xhsc.evaluatelist" ng-click="hide()">
          <span>0.5</span>
        </md-button>
      </md-list-item>
      <md-list-item flex  flex-sm="30">
        <md-button ui-sref="app.xhsc.evaluatelist" ng-click="hide()">
          <span>0.5</span>
        </md-button>
      </md-list-item>
      <md-list-item flex  flex-sm="30">
        <md-button ui-sref="app.xhsc.evaluatelist" ng-click="hide()">
          <span>0.5</span>
        </md-button>
      </md-list-item>
      <md-list-item flex  flex-sm="30">
        <md-button ui-sref="app.xhsc.evaluatelist" ng-click="hide()">
          <span>0.5</span>
        </md-button>
      </md-list-item>
    </md-list>
  </md-dialog-actions>
</md-dialog>
