<md-dialog ng-cloak style="max-width:90%;width:90%;" class="questionlist">
  <md-dialog-content layout="row">
    <div layout="column" flex>
      <div  layout="row" flex ng-if="Problems.length">
        <md-list flex>
          <md-list-item flex layout="row" ng-repeat="e in Problems" ng-click="answer(e,$event)">
            <md-button class="md-secondary" ng-click="vm.show = true">
              分值：<span ng-if="!vm.show">{{e.DeductValue}}</span>
              <md-input-container ng-if="vm.show">
                <input ng-model="e.DeductValue">
              </md-input-container>
            </md-button>
            <p>{{e.ProblemDescription}}</p>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </div>
      <div layout="row" flex ng-if="!Problems.length">
        <div layout="column" flex>
          <md-input-container class="md-block">
            <label>分数</label>
            <input required>
          </md-input-container>
          <md-input-container class="md-block">
            <label>描述</label>
            <input required>
          </md-input-container>
        </div>
        </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row" ng-if="!Problems.length">
    <span flex></span>
    <md-button class="md-raised" ng-click="">
      取消
    </md-button>
    <md-button class="md-raised" ng-click="" style="margin-right:20px;">
      确定
    </md-button>
  </md-dialog-actions>
</md-dialog>
