<md-tabs md-align-tabs="bottom" flex md-swipe-content md-selected="vm.selectedIndex" class="zlpkwrap">
  <md-tab label="项目评分汇总表">
    <md-tab-content  style="padding: 0px" flex layout-fill layout="column" layout-padding class="zb">
      <div layout="row" style="text-align: center;font-size:20px;">
        <div style="text-align: center;width:100%;">银河谷项目得分汇总表</div>
      </div>
      <div layout="row" flex style="padding: 0px">
        <table class="reportWrap"  width="100%" cellpadding="0" cellspacing="0">
          <thead>
          <tr>
            <th style="text-align: center;width:30%;font-size: 16px;font-family: 'Roboto'">检查评估项</th>
            <th style="text-align: center;width:15%;font-size: 16px;font-family: 'Roboto'" ng-repeat="k in vm.summaryReport.Sections">
              {{k.SectionName}}
            </th>
            <th  style="text-align: center;font-size: 16px;font-family: 'Roboto'">
              备注
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="2" class="td_left">项目部得分</td>
            <td colspan="3">50</td>
            <td class="td_left"></td>
          </tr>
          <tr>
            <td>{{vm.summaryReport.unit[0].project[0].score}}</td>
            <td>{{vm.summaryReport.unit[0].project[1].score}}</td>
            <td>{{vm.summaryReport.unit[0].project[2].score}}</td>
            <td class="td_left"></td>
          </tr>
          <tr>
            <td rowspan="2" class="td_left">监理得分</td>
            <td colspan="3">60</td>
            <td class="td_left"></td>
          </tr>
          <tr>
            <td>{{vm.summaryReport.unit[1].Supervision[0].score}}</td>
            <td>{{vm.summaryReport.unit[1].Supervision[1].score}}</td>
            <td>{{vm.summaryReport.unit[1].Supervision[2].score}}</td>
            <td class="td_left"></td>
          </tr>
          <tr>
            <td class="td_left">总包得分</td>
            <td>{{vm.summaryReport.unit[2].manager[0].score}}</td>
            <td>{{vm.summaryReport.unit[2].manager[1].score}}</td>
            <td>{{vm.summaryReport.unit[2].manager[2].score}}</td>
            <td class="td_left"></td>
          </tr>
          <tr ng-repeat="k in vm.summaryReport.category">
            <td colspan="5">
              <table class="report" style="width: 100%">
                <tr>
                  <td style="text-align: left" colspan="5">
                    <h3>{{k.root}}</h3>
                  </td>
                </tr>
                <tr ng-repeat="m in k.detail">
                  <td style="width: 30%" class="td_left">{{m.name}}</td>
                  <td style="width: 15%" ng-repeat="n in m.Sections">
                    {{n.score}}
                  </td>
                  <td></td>
                </tr>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </md-tab-content>
  </md-tab>
  <md-tab label="{{b.AssessmentClassificationName}}" ng-repeat="b in vm.items.AssessmentClassifys">
    <md-tab-content flex layout-fill layout="column"  >
      <div flex="none" layout="row" style="border-right:0" class="zlpkheader">
        <div flex layout="row">
            <div flex="10">
              检测内容
            </div>
        <div flex="35" style=" border-left: 1px solid #d8d8d8;">
            评判标准
          </div>
          <div flex="55" layout="row">
            <div flex style=" border-left: 1px solid #d8d8d8;">扣分标准</div>
            <div flex="none" style="width:50px; border-left: 1px solid #d8d8d8;border-right:1px solid #d8d8d8;text-align: center;">
              权重
            </div>
            <div flex="none" layout="column" class="bd">
              <div flex="none" layout="row">
                <div flex="none" class="bdtop">
                  标段1
                </div>
              </div>
              <div flex="none" layout="row">
                <div flex="none" style="width:50px;text-align: center;height:23px;line-height: 23px;">
                  扣分
                </div>
                <div flex="none" style="width:50px; border-left: 1px solid #d8d8d8;text-align: center;height:23px;line-height: 23px;">
                  得分
                </div>
              </div>
            </div>
            <div flex="none" layout="column" class="bd">
              <div flex="none" layout="row">
                <div flex="none" class="bdtop">
                  标段2
                </div>
              </div>
              <div flex="none" layout="row">
                <div flex="none" style="width:50px;text-align: center;height:23px;line-height: 23px;">
                  扣分
                </div>
                <div flex="none" style="width:50px;text-align: center; border-left: 1px solid #d8d8d8;height:23px;line-height: 23px;">
                  得分
                </div>
              </div>
            </div>
            <div flex="none" layout="column" class="bd">
              <div flex="none" layout="row">
                <div flex="none" class="bdtop">
                  标段2
                </div>
              </div>
              <div flex="none" layout="row">
                <div flex="none" style="width:50px;text-align: center;height:23px;line-height: 23px;">
                  扣分
                </div>
                <div flex="none" style="width:50px;text-align: center; border-left: 1px solid #d8d8d8;height:23px;line-height: 23px;">
                  得分
                </div>
              </div>
            </div>
          </div>
        </div>
        <div flex="none" fix-scrollbar-width="md-content.zlpksub">
        </div>
      </div>
      <div flex layout="column" layout-fill>
        <md-content flex  class="zlpksub">
          <section class="zlpklist" ng-if="c.show" ng-repeat="c in b.AssessmentClassifys">
            <md-subheader>
              <div layout="row" class="zlpksubheader">
                <span>{{c.AssessmentClassificationName}}</span>
              </div>
            </md-subheader>
            <table width="100%" cellspacing="0" cellpadding="0" class="zlpktables">
                  <tr  ng-if="e.show" ng-repeat="e in c.AssessmentClassifys">
                    <td style="width:{{vm.getW(1,2)}}%;">
                      <p class="pname">{{e.AssessmentClassificationName}}</p>
                    </td>
                    <td>
                      <table width="100%" cellspacing="0" cellpadding="0">
                        <tr  ng-if="f.show" ng-repeat="f in e.AssessmentClassifys">
                          <td style="width:{{vm.getWidth(2,b.level)}}%;">
                            <p class="pname">{{f.AssessmentClassificationName}}</p>
                          </td>
                          <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                              <tr ng-if="g.show" ng-repeat="g in f.AssessmentClassifys">
                                <td style="width:{{vm.getWidth(3,b.level)}}%;">
                                  <p class="pname">{{g.AssessmentClassificationName}}</p>
                                </td>
                                <td>
                                  <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr ng-if="item.show"  ng-repeat="item in g.AssessmentItems">
                                      <td style="width:{{vm.getWidth(4,b.level)}}%">
                                        <p class="pname">{{item.AssessmentCheckItemName}}</p>
                                      </td>
                                      <td>
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td style="width:{{vm.getWidth(5,b.level)}}%">
                                              <p>{{item.EvaluationCriteria}}</p>
                                            </td>
                                            <td>
                                              <p>{{item.DeductionCriteria}}</p>
                                            </td>
                                            <td style="width: 50px;text-align: center;">
                                              {{item.Weight}}
                                            </td>
                                            <td style="width: 50px;text-align: center;" class="lr">
                                              <button ng-click="vm.changeScore(item,$event)"> {{item.DelScore}}</button>
                                            </td>
                                            <td style="width: 50px;text-align: center;" class="lr">
                                              {{item.ModifyScore}}
                                            </td>
                                          </tr>
                                          <tr ng-repeat="region in item.regions">
                                            <td colspan="9">
                                              <table width="100%" cellspacing="0" cellpadding="0">
                                                <tr>
                                                  <td style="width:50px;text-align:center">{{region.RegionName}}</td>
                                                  <td>
                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                      <tr>
                                                        <td style="width:50px;text-align:center"><p>一层</p></td>
                                                        <td class="lr" style="position: relative;padding:3px 0;">
                                                          <span ng-if="item.Weight!=item.ModifyScore">&nbsp;&nbsp;扣分信息2：</span>
                                                          <span ng-if="item.Weight==item.ModifyScore">&nbsp;&nbsp;符合要求</span>
                                  <span ng-repeat="q in region.DeductScoreItems">
                                    <md-button  ng-click="vm.quesDetail(q,region,$event)"><md-icon style="width:16px;height:16px;"><img ng-src="{{q.Images && q.Images.length?'app/main/xhsc/images/pic.png':'app/main/xhsc/images/text.png'}}"></md-icon><span style="padding-left:3px">{{q.DeductionScore}}</span>
                                    </md-button>
                                  </span>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td style="width:50px;text-align:center"><p>一层</p></td>
                                                        <td class="lr" style="position: relative;padding:3px 0;">
                                                          <span ng-if="item.Weight!=item.ModifyScore">&nbsp;&nbsp;扣分信息2：</span>
                                                          <span ng-if="item.Weight==item.ModifyScore">&nbsp;&nbsp;符合要求</span>
                                  <span ng-repeat="q in region.DeductScoreItems">
                                    <md-button  ng-click="vm.quesDetail(q,region,$event)"><md-icon style="width:16px;height:16px;"><img ng-src="{{q.Images && q.Images.length?'app/main/xhsc/images/pic.png':'app/main/xhsc/images/text.png'}}"></md-icon><span style="padding-left:3px">{{q.DeductionScore}}</span>
                                    </md-button>
                                  </span>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                  <!--<td colspan="6" class="lr" style="position: relative;padding:3px 0;">-->
                                                  <!--<span ng-if="item.Weight!=item.ModifyScore">&nbsp;&nbsp;扣分信息2：</span>-->
                                                  <!--<span ng-if="item.Weight==item.ModifyScore">&nbsp;&nbsp;符合要求</span>-->
                                                  <!--<span ng-repeat="q in region.DeductScoreItems">-->
                                                  <!--<md-button  ng-click="vm.quesDetail(q,region,$event)"><md-icon style="width:16px;height:16px;"><img ng-src="{{q.Images && q.Images.length?'app/main/xhsc/images/pic.png':'app/main/xhsc/images/text.png'}}"></md-icon><span style="padding-left:3px">{{q.DeductionScore}}</span>-->
                                                  <!--</md-button>-->
                                                  <!--</span>-->
                                                  <!--</td>-->
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr ng-if="item.show"  ng-repeat="item in e.AssessmentItems">
                                <td style="width:5.26%;">
                                  <p>{{item.AssessmentCheckItemName}}</p>
                                </td>
                                <td>
                                  <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td style="width:38.9%;">
                                        <p>{{item.EvaluationCriteria}}</p>
                                      </td>
                                      <td>
                                        <p>{{item.DeductionCriteria}}</p>
                                      </td>
                                      <td style="width: 50px;text-align: center;">
                                        {{item.Weight}}
                                      </td>
                                      <td style="width: 50px;text-align: center;" class="lr">
                                        <button ng-click="vm.changeScore(item,$event)"> {{item.DelScore}}</button>
                                      </td>
                                      <td style="width: 50px;text-align: center;" class="lr">
                                        {{item.ModifyScore}}
                                      </td>
                                    </tr>
                                    <tr ng-repeat="region in item.regions">
                                      <td colspan="9">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td style="width:50px;text-align:center">{{region.RegionName}}</td>
                                            <td>
                                              <table width="100%" cellspacing="0" cellpadding="0">
                                                <tr>
                                                  <td style="width:50px;text-align:center"><p>一层</p></td>
                                                  <td class="lr" style="position: relative;padding:3px 0;">
                                                    <span ng-if="item.Weight!=item.ModifyScore">&nbsp;&nbsp;扣分信息2：</span>
                                                    <span ng-if="item.Weight==item.ModifyScore">&nbsp;&nbsp;符合要求</span>
                                  <span ng-repeat="q in region.DeductScoreItems">
                                    <md-button  ng-click="vm.quesDetail(q,region,$event)"><md-icon style="width:16px;height:16px;"><img ng-src="{{q.Images && q.Images.length?'app/main/xhsc/images/pic.png':'app/main/xhsc/images/text.png'}}"></md-icon><span style="padding-left:3px">{{q.DeductionScore}}</span>
                                    </md-button>
                                  </span>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td style="width:50px;text-align:center"><p>一层</p></td>
                                                  <td class="lr" style="position: relative;padding:3px 0;">
                                                    <span ng-if="item.Weight!=item.ModifyScore">&nbsp;&nbsp;扣分信息2：</span>
                                                    <span ng-if="item.Weight==item.ModifyScore">&nbsp;&nbsp;符合要求</span>
                                  <span ng-repeat="q in region.DeductScoreItems">
                                    <md-button  ng-click="vm.quesDetail(q,region,$event)"><md-icon style="width:16px;height:16px;"><img ng-src="{{q.Images && q.Images.length?'app/main/xhsc/images/pic.png':'app/main/xhsc/images/text.png'}}"></md-icon><span style="padding-left:3px">{{q.DeductionScore}}</span>
                                    </md-button>
                                  </span>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <!--<td colspan="6" class="lr" style="position: relative;padding:3px 0;">-->
                                            <!--<span ng-if="item.Weight!=item.ModifyScore">&nbsp;&nbsp;扣分信息2：</span>-->
                                            <!--<span ng-if="item.Weight==item.ModifyScore">&nbsp;&nbsp;符合要求</span>-->
                                            <!--<span ng-repeat="q in region.DeductScoreItems">-->
                                            <!--<md-button  ng-click="vm.quesDetail(q,region,$event)"><md-icon style="width:16px;height:16px;"><img ng-src="{{q.Images && q.Images.length?'app/main/xhsc/images/pic.png':'app/main/xhsc/images/text.png'}}"></md-icon><span style="padding-left:3px">{{q.DeductionScore}}</span>-->
                                            <!--</md-button>-->
                                            <!--</span>-->
                                            <!--</td>-->
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr ng-if="item.show" ng-repeat="item in e.AssessmentItems">
                          <td style="width:5.26%;">
                            <p class="pname">{{item.AssessmentCheckItemName}}</p>
                          </td>
                          <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                              <tr>
                                <td style="width:38.9%;">
                                  <p>{{item.EvaluationCriteria}}</p>
                                </td>
                                <td>
                                  <p>{{item.DeductionCriteria}}</p>
                                </td>
                                <td style="width: 50px;text-align: center;">
                                  {{item.Weight}}
                                </td>
                                <td style="width: 50px;text-align: center;" class="lr">
                                  <button ng-click="vm.changeScore(item,$event)"> {{item.DelScore}}</button>
                                </td>
                                <td style="width: 50px;text-align: center;" class="lr">
                                  {{item.ModifyScore}}
                                </td>
                                <td style="width: 50px;text-align: center;" class="lr">
                                  a
                                </td>
                                <td style="width: 50px;text-align: center;" class="lr">
                                  a
                                </td>
                                <td style="width: 50px;text-align: center;" class="lr">
                                  a
                                </td>
                                <td style="width: 50px;text-align: center;" class="lr">
                                  a
                                </td>
                              </tr>
                              <tr ng-repeat="region in item.regions">
                                <td colspan="9">
                                  <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td style="width:50px;text-align:center">{{region.RegionName}}</td>
                                      <td>
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                          <tr>
                                            <td style="width:50px;text-align:center"><p>一层</p></td>
                                            <td class="lr" style="position: relative;padding:3px 0;">
                                              <span ng-if="item.Weight!=item.ModifyScore">&nbsp;&nbsp;扣分信息2：</span>
                                              <span ng-if="item.Weight==item.ModifyScore">&nbsp;&nbsp;符合要求</span>
                                  <span ng-repeat="q in region.DeductScoreItems">
                                    <md-button  ng-click="vm.quesDetail(q,region,$event)"><md-icon style="width:16px;height:16px;"><img ng-src="{{q.Images && q.Images.length?'app/main/xhsc/images/pic.png':'app/main/xhsc/images/text.png'}}"></md-icon><span style="padding-left:3px">{{q.DeductionScore}}</span>
                                    </md-button>
                                  </span>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="width:50px;text-align:center"><p>一层</p></td>
                                            <td class="lr" style="position: relative;padding:3px 0;">
                                              <span ng-if="item.Weight!=item.ModifyScore">&nbsp;&nbsp;扣分信息2：</span>
                                              <span ng-if="item.Weight==item.ModifyScore">&nbsp;&nbsp;符合要求</span>
                                  <span ng-repeat="q in region.DeductScoreItems">
                                    <md-button  ng-click="vm.quesDetail(q,region,$event)"><md-icon style="width:16px;height:16px;"><img ng-src="{{q.Images && q.Images.length?'app/main/xhsc/images/pic.png':'app/main/xhsc/images/text.png'}}"></md-icon><span style="padding-left:3px">{{q.DeductionScore}}</span>
                                    </md-button>
                                  </span>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr ng-if="item.show" ng-repeat="item in c.AssessmentItems">
                    <td style="width:10%;">
                      <p class="pname">{{item.AssessmentCheckItemName}}</p>
                    </td>
                    <td>
                      <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="width:38.9%;">
                            <p>{{item.EvaluationCriteria}}</p>
                          </td>
                          <td>
                            <p>{{item.DeductionCriteria}}</p>
                          </td>
                          <td style="width: 50px;text-align: center;">
                            {{item.Weight}}
                          </td>
                          <td style="width: 50px;text-align: center;" class="lr">
                            <button ng-click="vm.changeScore(item,$event)"> {{item.DelScore}}</button>
                          </td>
                          <td style="width: 50px;text-align: center;" class="lr">
                            {{item.ModifyScore}}
                          </td>
                        </tr>
                        <tr ng-if="item.show" ng-repeat="region in item.regions">
                          <td colspan="9">
                            <table width="100%" cellspacing="0" cellpadding="0">
                              <tr>
                                <td style="width:50px;text-align:center">{{region.RegionName}}</td>
                                <td>
                                  <table width="100%" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td style="width:50px;text-align:center"><p>一层</p></td>
                                      <td class="lr" style="position: relative;padding:3px 0;">
                                        <span ng-if="item.Weight!=item.ModifyScore">&nbsp;&nbsp;扣分信息2：</span>
                                        <span ng-if="item.Weight==item.ModifyScore">&nbsp;&nbsp;符合要求</span>
                                  <span ng-repeat="q in region.DeductScoreItems">
                                    <md-button  ng-click="vm.quesDetail(q,region,$event)"><md-icon style="width:16px;height:16px;"><img ng-src="{{q.Images && q.Images.length?'app/main/xhsc/images/pic.png':'app/main/xhsc/images/text.png'}}"></md-icon><span style="padding-left:3px">{{q.DeductionScore}}</span>
                                    </md-button>
                                  </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="width:50px;text-align:center"><p>一层</p></td>
                                      <td class="lr" style="position: relative;padding:3px 0;">
                                        <span ng-if="item.Weight!=item.ModifyScore">&nbsp;&nbsp;扣分信息2：</span>
                                        <span ng-if="item.Weight==item.ModifyScore">&nbsp;&nbsp;符合要求</span>
                                  <span ng-repeat="q in region.DeductScoreItems">
                                    <md-button  ng-click="vm.quesDetail(q,region,$event)"><md-icon style="width:16px;height:16px;"><img ng-src="{{q.Images && q.Images.length?'app/main/xhsc/images/pic.png':'app/main/xhsc/images/text.png'}}"></md-icon><span style="padding-left:3px">{{q.DeductionScore}}</span>
                                    </md-button>
                                  </span>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                                <!--<td colspan="6" class="lr" style="position: relative;padding:3px 0;">-->
                                <!--<span ng-if="item.Weight!=item.ModifyScore">&nbsp;&nbsp;扣分信息2：</span>-->
                                <!--<span ng-if="item.Weight==item.ModifyScore">&nbsp;&nbsp;符合要求</span>-->
                                <!--<span ng-repeat="q in region.DeductScoreItems">-->
                                <!--<md-button  ng-click="vm.quesDetail(q,region,$event)"><md-icon style="width:16px;height:16px;"><img ng-src="{{q.Images && q.Images.length?'app/main/xhsc/images/pic.png':'app/main/xhsc/images/text.png'}}"></md-icon><span style="padding-left:3px">{{q.DeductionScore}}</span>-->
                                <!--</md-button>-->
                                <!--</span>-->
                                <!--</td>-->
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
            </table>
          </section>
        </md-content>
        </div>
      </md-tab-content>
    </md-tab>
</md-tabs>


