<md-content class="subheader">
  <div style="position: fixed;top: 44px;left: 0;width: 100%;background: #fff;z-index: 45;">
    <md-tabs md-dynamic-height flex>
      <md-tab label="总包">
      </md-tab>
      <md-tab label="精装修">
      </md-tab>
      <md-tab label="门窗、栏杆">
      </md-tab>
      <md-tab label="防火门、入户门">
      </md-tab>
      <md-tab label="精装修">
      </md-tab>
      <md-tab label="门窗、栏杆">
      </md-tab>
      <md-tab label="防火门、入户门">
      </md-tab>
      <md-tab label="防火门、入户门">
      </md-tab>
      <md-tab label="精装修">
      </md-tab>
      <md-tab label="门窗、栏杆">
      </md-tab>
      <md-tab label="防火门、入户门">
      </md-tab>
    </md-tabs>
  </div>
  <div style="width: 100%;" layout="column">
    <div style="position: fixed;top:92px;background: #f4f6f6;height:40px;left:0;right:0;z-index:10;padding-top: 0;">
      <table cellspacing="0" cellpadding="0" border="0" width="100%"  class="zdytable fixtable" style="table-layout: fixed;margin-bottom: 0;">
        <thead >
        <tr>
          <th colspan="4" width="204" align="center">
            检测内容
          </th>
          <th>
            评判标准
          </th>
          <th>
            扣分标准
          </th>
          <th width="50" align="center">
            权重
          </th>
          <th width="50" align="center">
            扣分
          </th>
          <th width="50" align="center">
            得分
          </th>
        </tr>
        </thead>
      </table>
    </div>
    <div style="position: relative;padding:0;">
      <div style="margin-top:88px;"></div>
      <div>
        <md-subheader class="md-primary">
          <span>标题一</span>
          <span>扣分</span>
          <span>扣分</span>
          <span>扣分</span>
        </md-subheader>
        <table cellspacing="0" cellpadding="0" border="0" width="100%"  class="zdytable" style="table-layout: fixed;margin-bottom: 0;">
          <tbody>
          <tr>
            <td rowspan="8" class="procedurename" width="28"><p>钢筋工程</p></td>
            <td rowspan="8" class="procedurename" width="28"><p>钢筋工程</p></td>
            <td rowspan="5" class="procedurename" width="28"><p>钢筋工程</p></td>
            <td width="120" rowspan="3">钢筋工程</td>
            <td>检查人</td>
            <td>检查人</td>
            <td width="50" align="center">2</td>
            <td width="50" class="lr" align="center">
              <span ng-click="vm.getRecord($event)" ng-if="!vm.input">录入</span>
              <span ng-click="vm.getRecord($event)" ng-if="vm.input">{{vm.input}}</span>
            </td>
            <td width="50" align="center">2</td>
          </tr>
          <tr>
            <td colspan="5" class="lr">
              <img ng-src="app/main/xhsc/images/text.png" style="margin-right:12px;margin-top:5px;"><span>备注：<i style="font-style: normal;color:#333;font-size:12px;margin-right:5px;">{{vm.evaluateNote}}</i></span><md-icon style="padding-top:8px;width:30px;height:30px;" ng-click="vm.showDialog($event)"><img ng-src="app/main/xhsc/images/write.png"></md-icon>
            </td>
          </tr>
          <tr>
            <td colspan="5" class="lr">
              <img ng-src="app/main/xhsc/images/pic.png" style="margin-right:12px;margin-top:4px;">照片：
              <!--<div>-->{{vm.images}}
                <ul class="img" style="display: inline-block;" sxt-images="vm.images" ng-repeat="img in vm.images">
                  <li><img ng-src="{{img.url}}"></li>
                </ul>
              <!--</div>-->
              <!--<span class="img"><img src="assets/images/etc/plug.png" width="30"></span>-->
              <md-icon style="width:30px;height:30px;"><img src="assets/images/etc/plug.png"></md-icon>
            </td>
          </tr>
          <tr>
            <td width="120">钢筋工程</td>
            <td>检查人</td>
            <td>检查人</td>
            <td width="50">检查人</td>
            <td width="50">检查人</td>
            <td width="50">检查人</td>
          </tr>
          <tr>
            <td width="120">钢筋工程</td>
            <td>检查人</td>
            <td>检查人</td>
            <td width="50">检查人</td>
            <td width="50">检查人</td>
            <td width="50">检查人</td>
          </tr>
          <tr>
            <td rowspan="3" class="procedurename" width="28"><p>钢筋工程</p></td>
            <td width="120">钢筋工程</td>
            <td>检查人</td>
            <td>检查人</td>
            <td width="50">检查人</td>
            <td width="50">检查人</td>
            <td width="50">检查人</td>
          </tr>
          <tr>
            <td width="120">钢筋工程</td>
            <td>检查人</td>
            <td>检查人</td>
            <td width="50">检查人</td>
            <td width="50">检查人</td>
            <td width="50">检查人</td>
          </tr>
          <tr>
            <td width="120">钢筋工程</td>
            <td>检查人</td>
            <td>检查人</td>
            <td width="50">检查人</td>
            <td width="50">检查人</td>
            <td width="50">检查人</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <md-subheader class="md-primary">标题二</md-subheader>
        <table cellspacing="0" cellpadding="0" border="0" width="100%"  class="zdytable">
          <tbody>
          <tr>
            <td>检查人</td>
            <td>检查人</td>
          </tr>
          <tr>
            <td>检查人</td>
            <td>检查人</td>
          </tr>
          <tr>
            <td>检查人</td>
            <td>检查人</td>
          </tr>
          <tr>
            <td>检查人</td>
            <td>检查人</td>
          </tr>
          <tr>
            <td>检查人</td>
            <td>检查人</td>
          </tr>
          <tr>
            <td>检查人</td>
            <td>检查人</td>
          </tr>
          <tr>
            <td>检查人</td>
            <td>检查人</td>
          </tr>
          <tr>
            <td>检查人</td>
            <td>检查人</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</md-content>

