
<md-dialog aria-label="1"  ng-cloak style="background:transparent;box-shadow: none;max-width:100%;width:100%;" class="e-dialog">
  <md-dialog-actions>
    <md-list flex layout="row">
      <md-list-item flex>
        <md-button  ng-click="goSC(item)">
          <img ng-src="app/main/xhsc/images/measure.png">
        </md-button>
      </md-list-item>
      <md-list-item flex>
        <!--<md-button ui-sref="app.xhsc.evaluatelist" ng-click="cancel()">-->
          <!--<img ng-src="app/main/xhsc/images/quality.png">-->
        <!--</md-button>-->
        <md-button   ng-click="goST(item)">
          <img ng-src="app/main/xhsc/images/quality.png">
        </md-button>
      </md-list-item>
      <!--<md-list-item flex>-->
        <!--<md-button ui-sref="app.xhsc.glxwSetting({AssessmentID:item.AssessmentID,AssessmentTypeID:'5c96685e88394ca1b663da5ff344ed76'})"  ng-click="cancel()">-->
          <!--<img ng-src="app/main/xhsc/images/manage.png">-->
        <!--</md-button>-->
      <!--</md-list-item>-->
      <md-list-item flex>
        <md-button  ng-click="goAQ(item)">
          <img ng-src="app/main/xhsc/images/culture.png">
        </md-button>
      </md-list-item>
    </md-list>
  </md-dialog-actions>
</md-dialog>
