<md-dialog aria-label="Mango (Fruit)" class="scchoose">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>请选择测量项</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="answer(scList)">
        确定
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-list>
      <md-list-item ng-repeat="sc in scList" ng-click="checkSc(sc)">
        <p>{{sc.IndexName}}</p>
        <md-switch class="md-secondary" ng-model="sc.checked"></md-switch>
      </md-list-item>
    </md-list>
  </md-dialog-content>
</md-dialog>
