<md-content layout-padding>
  <div  layout="row" layout-align="left center"> <span>第
</span>
    <md-select ng-model="vm.info.t" style="margin:5px 0 10px 0;">
      <md-option ng-repeat="t in  vm.info.Numbers" value="{{t.MeasureRecordID}}">{{t.Number}}</md-option>
    </md-select><span>次
</span></div>
  <table cellspacing="0" cellpadding="0" border="0" width="100%" class="zdytable">
          <tr>
            <td colspan="{{vm.cols + 5}}" style="text-align: center;" class="head">
              {{vm.info.aItem.MeasureItemName}}
            </td>
          </tr>
          <tr>
            <td colspan="{{vm.oneCols}}">
             项目名称:{{vm.info.name}}
            </td>
            <td colspan="{{vm.twoCols}}">检查人:{{vm.person}}</td>
            <td colspan="{{vm.twoCols}}">检查日期:{{vm.time}}</td>
          </tr>
          <tr>
            <td align="center">内容</td>
            <td style="width:120px;text-align: center;">位置</td>
            <td align="center">结果</td>
            <td align="center">最大偏差</td>
            <td align="center">合格率</td>
            <td ng-repeat="i in vm.alItem[0].Points" align="center">{{$index+1}}</td>
          </tr>
          <tr ng-repeat="item in vm.alItem">
            <td rowspan="{{vm.alItem.length}}" colspan="1" class="procedurename" ng-if="$index==0"><p>{{vm.info.aItem.MeasureItemName}}</p></td>
            <td>{{item.IndexName}}</td>
            <td align="center" class="normal" ng-class="{'redColor':item.ResultStatus == 2}">{{item.passText}}</td>
            <td align="center">{{item.MaximumDeviation}}</td>
            <td align="center">{{item.QualifiedRate}}</td>
            <td ng-repeat="point in item.Points" align="center">{{point.MeasureValue}}</td>
          </tr>
  </table>
</md-content>
