<md-content class="subheader" style="position:relative;" layout-padding>
  <div  layout="row" layout-align="left center">
    <span>第</span>
    <md-select ng-model="vm.info.t" style="margin:5px 0 10px 0;">
      <md-option value="">1</md-option>
    </md-select><span>次</span>
  </div>

  <table cellspacing="0" cellpadding="0" border="0" width="100%" class="zdytable">
    <tr>
      <td colspan="{{vm.cols+6}}" style="text-align: center;" class="head">
        abc
      </td>
    </tr>
    <tr>
      <td colspan="{{vm.oneCols}}">
        项目名称:{{vm.info.name}}
      </td>
      <td colspan="{{vm.twoCols}}">检查人:{{vm.person}}</td>
      <td colspan="{{vm.twoCols}}">检查日期:{{vm.time}}</td>
    </tr>
    <tr>
      <td>内容</td>
      <td style="width:100px;text-align: center;" colspan="2">位置</td>
      <td align="center">结果</td>
      <td align="center">最大偏差</td>
      <td align="center">合格率</td>
      <td ng-repeat="i in vm.scData[0].Points">{{$index+1}}</td>
    </tr>
    <tr ng-repeat="item in vm.newData">
      <td class="procedurename" rowspan="{{vm.newData.length}}" ng-if="$index == 0"><p>{{item.MeasureUserName}}</p></td>
      <td rowspan="{{item.rowspan}}" ng-if="!item.parent" colspan="2">{{item.IndexName}}</td>
      <td rowspan="{{item.rowspan}}" ng-if="!item.parent">结果</td>
      <td rowspan="{{item.rowspan}}" ng-if="!item.parent">结果</td>
      <td rowspan="{{item.rowspan}}" ng-if="!item.parent">结果</td>
      <td ng-repeat="point in item.points">{{point.MeasureValue}}</td>
    </tr>
    <!--<tr>-->
      <!--<td class="procedurename" rowspan="2"><p>测试</p></td>-->
      <!--<td rowspan="2">测试总称</td>-->
      <!--<td>设计值</td>-->
      <!--<td>结果</td>-->
      <!--<td>结果</td>-->
      <!--<td>结果</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>测量值</td>-->
      <!--<td>结果</td>-->
      <!--<td>结果</td>-->
      <!--<td>结果</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td class="procedurename" rowspan="2"><p>工程</p></td>-->
      <!--<td rowspan="2">名称</td>-->
      <!--<td rowspan="2">结果</td>-->
      <!--<td rowspan="2">结果</td>-->
      <!--<td rowspan="2">结果</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
      <!--<td>1</td>-->
    <!--</tr>-->
  </table>

</md-content>
