<div flex layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row">
      <h2 class="md-flex">{{vm.info.name}}({{vm.info.pname}})</h2>
      <span flex></span>
      <md-button  class="md-raised  md-warn" ng-click="vm.back()">返回</md-button>
    </div>
  </md-toolbar>
<md-content class="subheader" style="position:relative;" flex layout-padding>
 <table width="100%" cellpadding="0" cellspacing="0" class="levelTable">
    <thead>
    <tr>
      <th colspan="23" style="text-align: center;" class="head">
        {{vm.info.pname}}
      </th>
    </tr>
    <tr>
      <th colspan="9">
        项目名称：{{vm.info.name}}
      </th>
      <th colspan="7">检查人：{{vm.person}}</th>
      <th colspan="7">检查日期：{{vm.time}}</th>
    </tr>
    <tr>
      <th style="width:60px;text-align: center;">指标</th>
      <th style="text-align: center">结果</th>
      <!--<th style="text-align: center">结果<br/>(不合格/总数)</th>-->
      <th style="text-align: center">合格率</th>
      <th ng-repeat="i in vm.scData[0].rows[0]">{{$index+1}}</th>
    </tr>
    </thead>
    <tbody ng-repeat="item in vm.scData">
    <tr ng-repeat="row in item.rows" ng-if="!item.Children">
      <td rowspan="{{item.rows.length}}" ng-if="$index == 0" style="padding: 0;">
        <table width="100%" cellpadding="0" cellspacing="0" class="levelTable leveltable2">
          <tr>
            <td style="white-space: nowrap;"><a ui-sref="app.pc.sctbdetail({recordId:item.MeasureRecordID,itemId:item.AcceptanceIndexID})">{{item.AcceptanceIndexName}}</a></td>
          </tr>
        </table>
      </td>
      <td rowspan="{{item.rows.length}}" ng-if="$index == 0" align="center">
        {{item.QualifiedPointNum}}/{{item.allDot}}
      </td>
      <td rowspan="{{item.rows.length}}" ng-if="$index == 0">{{item.QualifiedRate|number:2}}%</td>
      <td ng-repeat="point in row"  ng-class="{'yellow':point.MeasureStatus == 2,'red':point.MeasureStatus == 3}" ng-bind-html="point.MeasureValue"></td>
    </tr>
    <tr ng-repeat="row in item.Children" ng-if="item.Children">
      <td rowspan="{{item.Children.length}}" ng-if="$index == 0" style="padding: 0;">
        <table width="100%" cellpadding="0" cellspacing="0" class="levelTable leveltable2">
          <tr ng-repeat="row in item.Children">
            <td rowspan="{{item.Children.length}}" ng-if="$index == 0">{{item.AcceptanceIndexName}}</td>
            <td><a ui-sref="app.pc.sctbdetail({recordId:item.MeasureRecordID,itemId:row.AcceptanceIndexID})">{{item.AcceptanceIndexName}}</a></td>
          </tr>
        </table>
      </td>
      <td align="center" rowspan="{{item.rowSpan}}" ng-if="$index==0">
        {{item.QualifiedPointNum}}/{{item.allDot}}
      </td>
      <!--<td align="center">-->
        <!--<span class="red">{{row.UnqualifiedPointNum}}</span>/{{row.allDot}}-->
      <!--</td>-->
      <td  rowspan="{{item.rowSpan}}" ng-if="$index==0">{{item.QualifiedPointNum*100.0/item.allDot|number:2}}%</td>
      <td ng-repeat="point in row.rows[0]" ng-class="{'yellow':point.MeasureStatus == 2,'red':point.MeasureStatus == 3}" ng-bind-html="point.MeasureValue"></td>
      <!--<td ng-repeat="point in row">{{point.MeasureValue}}</td>-->
    </tr>
    </tbody>
  </table>
</md-content>
</div>
