<md-content class="subheader" style="position:relative;" layout-padding>
  <table cellspacing="0" cellpadding="0" border="0" width="100%" class="zdytable">
    <tr>
      <td colspan="26" style="text-align: center;" class="head">
        {{vm.info.pname}}
      </td>
    </tr>
    <tr>
      <td colspan="12">
        项目名称:{{vm.info.name}}
      </td>
      <td colspan="7">检查人:{{vm.person}}</td>
      <td colspan="7">检查日期:{{vm.time}}</td>
    </tr>
    <tr>

      <td style="width:100px;text-align: center;" colspan="2">指标</td>
      <td align="center">结果</td>
<!--      <td align="center">最大偏差</td>-->
      <td align="center">合格率</td>
      <td ng-repeat="i in vm.scData[0].rows[0]">{{$index+1}}</td>
    </tr>
    <tbody ng-repeat="item in vm.scData">
    <tr ng-repeat="row in item.rows">
      <td ng-if="$index == 0"rowspan="{{item.rows.length}}" colspan="2">{{item.AcceptanceIndexName}}</td>
      <td ng-if="$index == 0"rowspan="{{item.rows.length}}" class="normal" ng-class="{'redColor':item.ResultStatus == 2}">{{item.ResultStatus}}</td>
<!--      <td rowspan="{{item.rows.length}}" >{{item.MaximumDeviation}}</td>-->
      <td ng-if="$index == 0"rowspan="{{item.rows.length}}" >{{item.QualifiedRate|number:2}}%</td>
      <td ng-repeat="point in row">{{point.MeasureValue}}</td>
    </tr>
    </tbody>
  </table>

</md-content>
