#toptoolbar {
  .md-toolbar-tools {
    padding-left: 5px;
    padding-right: 5px;
  }
}
#toolbar2 {
  height: 49px;
  min-height: 49px;
  max-height: 49px;
  border-top: 1px solid rgba(0, 0, 0, 0.117647);
  box-shadow:none;
}
.newinput{
  .md-button{
    &.md-icon-button{
      margin:0;
    }
  }
  //padding-left: 14px;
  .md-datepicker-input{
    min-width: 80px;
    width:100%;
  }
}
#toolbar {
  height: 64px;
  min-height: 64px;
  max-height: 64px;
  z-index: 55 !important;

    #navigation-toggle {
        width: $toolbarHeight;
        min-width: $toolbarHeight;
        height: $toolbarHeight;
        margin: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 0;
    }

    #user-menu {
        height: $toolbarHeight;
        padding: 0;

        md-menu-item .md-button {
            font-size: 15px;

            md-icon {
                margin: auto 16px auto 0;
            }
        }

        md-menu-content {

            &.md-menu-bar-menu {

                &.md-dense {
                    padding: 8px 0;

                    .md-button,
                    md-menu-item {
                        height: 48px;
                        line-height: 48px;
                    }
                }
            }
        }

        #user-status-menu {

            md-menu-item {

                &.selected {
                    opacity: .3;
                }
            }
        }

        .user-button {
            margin: 0;
            padding: 0 16px;
            height: $toolbarHeight;
            text-transform: none;

            .avatar-wrapper {
                position: relative;

                .status {
                    position: absolute;
                    bottom: -3px;
                    right: 5px;
                }
            }

            .username {
                margin: 0 12px 0 8px;
            }
        }
    }

    #language-menu {
        height: $toolbarHeight;

        .language-button {
            min-width: $toolbarHeight;
            height: $toolbarHeight;
            margin: 0;
            padding: 0 16px;
            border-radius: 0;

            .iso {
                text-transform: uppercase;
            }

            .flag {
                margin-right: 8px;
            }
        }
    }

    #quick-panel-toggle {
        width: $toolbarHeight;
        height: $toolbarHeight;
        margin: 0;
        border-radius: 0;
    }

    .toolbar-separator {
        height: $toolbarHeight;
        width: 1px;
        background: rgba(0, 0, 0, 0.12);
    }
}

#language-menu-content {

    md-menu-item {

        .flag {
            margin-right: 16px;
        }
    }
}

#language-message {
    min-height: 88px;
    max-width: 600px;

    .md-toast-content {
        height: 90px;
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #toolbar {

        #user-menu {

            .user-button {
                min-width: 64px;
                padding: 0 2px 0 10px;
            }
        }
    }
}
.fixedtable{
  .ms-responsive-table-wrapper{
    margin-right: 100px;

  }
  .office{
    .btn-xs{
      padding:0 5px;
      border:none;
      line-height: 1;
    }
  }
}

  .repeat-top {
    .md-virtual-repeat-container{
      overflow: auto;
    }
      #vertical-container{
        height: 292px;
        width: 100%;
      }
    .repeated-item {
      border-bottom: 1px solid #ddd;
      box-sizing: border-box;
      height: 30px;
      line-height:30px;
      span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    md-content {
      margin: 16px; }
    md-virtual-repeat-container {
      .md-virtual-repeat-scroller{
        overflow-x:auto;
      }
      .md-virtual-repeat-offsetter {

  }

    }
    }


.circles{
  >div{
    >div{

      >div{
        width:50px;
        height:50px;
        border:1px solid #d8d8d8;
        border-radius:50%;
        margin: 5px auto;
        text-align: center;
        line-height: 50px;
        white-space:nowrap;
        overflow: hidden;
        >span{
          display: block;height:50px;line-height: 50px;
          &.n{
            color:#d8d8d8;
          }
        }

        &.done{
          border-color:#e93030;
          background-color: #fff;
          color:#e93030;
        }
        &.current{
          border-color:#e93030;
          background:#e93030;
          color:#fff;
        }
      }
    }
  }
}

.setBtn{
  >div{
    >div{

      >div{
        border:1px solid #d8d8d8;
        text-align: center;
        white-space:nowrap;
        overflow: hidden;
        >span{
          display: block;height:50px;line-height: 50px;
          &.n{
            color:#d8d8d8;
          }
        }

        &.done{
          border-color:#e93030;
          background-color: #fff;
          color:#e93030;
        }
        &.current{
          border-color:#e93030;
          background:#e93030;
          color:#fff;
        }
      }
    }
  }
}

.circle{
  >div{
    >div{
      width:10%;
      display: inline-block;
      vertical-align: top;
      >div{
        width:50px;
        height:50px;
        border:1px solid #d8d8d8;
        border-radius:50%;
        margin: 5px auto;
        text-align: center;
        line-height: 50px;
        white-space:nowrap;
        >span{
          display: block;height:50px;line-height: 50px;
          &.n{
            color:#d8d8d8;
          }
        }

        &.done{
          border-color:#e93030;
          background-color: #fff;
          color:#e93030;
        }
        &.current{
          border-color:#e93030;
          background:#e93030;
          color:#fff;
        }
      }
    }
  }
}
@media (max-width:520px) {
  .circle {
    > div {
      > div {
        width: 16.667%;
      }
    }
  }
}
.input{
  >div{
    border-right:1px solid #d8d8d8;
    border-bottom:1px solid #d8d8d8;
    .md-button{
      width: 100%;
      margin: 0;
      padding: 0;
      height: 50px;
      line-height: 50px;
      span{
        color:#000;
      }
    }
  }
}
.numberpanel{
  z-index: 1005;
  background-color: #fff;
  display: none;
}
