<md-bottom-sheet>
<md-list>
    <md-list-item ng-repeat="item in btns" layout="row" style="position: relative">
      <md-button ng-click="item.action($event)" flex style="text-align: center;margin: 0px">
        <span  style="color: #359df5;font-size:16px;" >{{item.title}}</span>
      </md-button>
      <span  class="border1px bottom1px" style="bottom: 6px"></span>
    </md-list-item>
    <!--<md-list-item layout="row">-->
      <!--<md-button flex ng-click="download()" style="text-align: center;margin: 0px" style="margin: 0px">-->
        <!--<span style="color: #359df5;font-size:16px" >下 载</span>-->
      <!--</md-button>-->
      <!--<span class="border1px bottom1px" style="bottom: 6px"></span>-->
    <!--</md-list-item>-->
    <!--<md-list-item layout="row">-->
      <!--<md-button ng-click="close()" flex style="text-align: center;margin: 0px" style="margin: 0px">-->
          <!--<span style="color: #359df5;font-size:16px" >取 消</span>-->
      <!--</md-button>-->
      <!--<span class="border1px bottom1px" style="bottom: 6px"></span>-->
    <!--</md-list-item>-->
  </md-list>
</md-bottom-sheet>
