<div flex="none" layout="column" style="max-height:60px;height:60px;width:100%;z-index: 10;" class="gxxz">
  <md-list  flex layout="row" style="background:#fff;padding:0;border-bottom: 1px solid #d8d8d8;">
    <md-list-item flex="20" style="border-bottom: 2px solid #ff3434"><md-button ng-click="vm.filter()" style="margin:0 auto;"><span>全部</span><span>(15)</span></md-button></md-list-item>
    <md-list-item flex="20"><md-button ng-click="vm.filter()" style="margin:0 auto;"><span><i  class="pass"></i>合格</span><span>(15)</span></md-button></md-list-item>
    <md-list-item flex="20"><md-button ng-click="vm.filter()" style="margin:0 auto;"><span><i class="ng"></i>不合格</span><span>(15)</span></md-button></md-list-item>
    <md-list-item flex="20"><md-button ng-click="vm.filter()" style="margin:0 auto;"><span><i class="wait"></i>待验</span><span>(15)</span></md-button></md-list-item>
    <md-list-item flex="20"><md-button ng-click="vm.filter()" style="margin:0 auto;"><span><i class="yet"></i>未报验</span><span>(15)</span></md-button></md-list-item>
  </md-list>
</div>
<md-content flex ng-cloak>
  <div layout="row" layout-sm="column" layout-align="space-around" ng-show="!vm.loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <p style="font-size:12px;background: #f4f4f6;padding:10px;" ng-show="vm.loading">{{vm.projectTitle }}</p>
  <!--<div style=" height: 20px;background: #ebebeb;border: 1px solid #d8d8d8;border-radius: 4px;position: relative;overflow: hidden;text-align: center;">-->
    <!--<div style="width: 60%;background: #f00;height:100%;"></div><span style="display: block;width:100%;position: absolute;top:0;">60%</span>-->
  <!--</div>-->
  <div class="floor-list gxroomlist" ng-show="vm.loading">
    <div>
      <md-list style="padding:0 10px;">
        <md-list-item ng-repeat="d in vm.houses.Children">
          <div flex>
            <div flex class="gxrooms"><span class="roomname">{{d.RegionName}}</span><md-button ng-click="vm.zk(d)" style="color:#49affe;min-width: 50px;"><span ng-show="d.show">展开</span><span ng-show="!d.show">折叠</span></md-button></div>
              <md-list slide-up-down ng-value="!d.show">
                <md-list-item ng-repeat="c in d.Children">
                  <div flex layout="column">
                    <div flex class="gxrooms"><span class="roomname">{{c.RegionName}}</span><md-button ng-click="vm.zk(c)" style="color:#49affe;min-width: 50px;"><span ng-show="c.show">展开</span><span ng-show="!c.show">折叠</span></md-button></div>
                      <md-list class="roomllist" slide-up-down ng-value="!c.show">
                        <md-list-item ng-repeat="r in c.Children">
                          <div style=" height: 32px;border: 1px solid #ff3434;border-radius: 4px;position: relative;overflow: hidden;text-align: center;width:100%;" ng-click="vm.chroom(r)">
                            <div style="width: 60%;background: #ffebea;height:100%;"></div><span style="display: block;width:100%;position: absolute;top:0;line-height: 32px;color:#ff3434;">{{r.RegionName}}</span>
                          </div>
                          <!--<md-button ng-click="vm.chroom(r)">{{r.RegionName}}</md-button>-->
                        </md-list-item>
                      </md-list>
                  </div>
                </md-list-item>
              </md-list>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>
</md-content>
<my-dialog dialog-show="vm.showmyDialog" dialog-data="vm.data" dialog-sure="报检" dialog-msg=""></my-dialog>




