<!--<div layout="column" layout-padding>-->
  <!--<p>星河银河谷项目</p>-->
  <!--<md-list>-->
    <!--<md-list-item style="border-bottom: 1px solid #d8d8d8;">-->
      <!--<p layout="column" style="padding-right:100px;">-->
         <!--项目标段-->
      <!--</p>-->
      <!--<div class="md-secondary md-hue-3" style="right:0;">-->
        <!--<span style="display:inline-block;text-align: center;">-->
          <!--<md-button class="md-raised upload-btn" ui-sref="app.xhsc.gxlist">-->
            <!--验收-->
          <!--</md-button>-->
        <!--</span>-->
      <!--</div>-->

    <!--</md-list-item>-->
    <!--<md-list-item style="border-bottom: 1px solid #d8d8d8;">-->
      <!--<p layout="column" style="padding-right:100px;">-->
        <!--项目标段二标-->
      <!--</p>-->
      <!--<div class="md-secondary md-hue-3" style="right:0;">-->
        <!--<span style="display:inline-block;text-align: center;">-->
          <!--<md-button class="md-raised upload-btn" ui-sref="app.xhsc.gxlist">-->
            <!--验收-->
          <!--</md-button>-->
        <!--</span>-->
      <!--</div>-->

    <!--</md-list-item>-->

  <!--</md-list>-->
  <!--</div>-->
<div layout="column" class="gxdownload">
  <md-subheader ng-if="vm.offlines.length">已下载列表</md-subheader>
  <md-list>
    <md-list-item ng-repeat="item in vm.sections">
      <p layout="column" style="padding-right: 100px;font-size:16px;">
        {{item.title}}
      </p>
      <div class="md-secondary md-hue-3" style="right:0;">
        <md-button  ui-sref="app.xhsc.gxbdchoose.gxlist({projectId:vm.projectId,areaID:item.AreaID})" class="md-raised md-primary" >
          工序验收
        </md-button>
      </div>

    </md-list-item>
    <md-list-item ng-repeat="item in vm.offlines" ng-hide="true">
      <p layout="column" style="padding-right: 100px;font-size:16px;">
        {{item.AssessmentSubject}}
      </p>
      <div class="md-secondary md-hue-3" style="right:0;">
        <md-button  ui-sref="app.xhsc.gxbdchoose.gxlist({projectId:item.ProjectID})" class="md-raised md-primary" >
          工序验收
        </md-button>
        <!--<md-button ng-show="item.completed" ng-click="vm.delete(item,$event)" class="md-raised md-primary" style="vertical-align: top;border:1px solid #0185f1;">-->
          <!--删除-->
        <!--</md-button>-->
        <!--<md-button ng-show="item.completed" ui-sref="app.xhsc.ch3({assessmentID:item.AssessmentID})" class="md-raised md-primary" style="vertical-align: top;border:1px solid #0185f1;">-->
          <!--详情-->
        <!--</md-button>-->
          <!--<span style="display:inline-block;text-align: center;">-->
            <!--<md-button ng-click="vm.upload(item)" class="md-raised upload-btn">-->
              <!--<md-progress-circular ng-show="item.progress && item.progress!=100" value="{{item.progress}}"  md-diameter="20"></md-progress-circular> 上传-->
            <!--</md-button>-->
          <!--</span>-->
      </div>

    </md-list-item>

  </md-list>
  <md-subheader ng-if="vm.onlines.length">未下载列表</md-subheader>
  <md-list>
    <md-list-item ng-repeat="item in vm.onlines">
      <p layout="column" style="font-size: 16px;padding-right: 100px;">
        {{item.AssessmentSubject}}
      </p>
      <div class="md-secondary md-hue-3">
         <span style="display:inline-block;width:50px;text-align: center;">
            <md-button ng-if="!item.pack.isDown" class="md-raised upload-btn" ng-click="vm.download(item)" style="min-width: 50px;">
              下载
            </md-button>
           <a  ng-if="item.pack.isDown" style="position: relative;display: inline-block;width:31px;height:31px;border:1px solid #f8f8f8;border-radius:50%" ng-click="vm.cancel()">
             <md-progress-circular md-mode="determinate" value="{{item.progress}}"  md-diameter="30"></md-progress-circular>
             <md-icon style="width:10px;height:10px;background: #0185f1;position: absolute;left:10px;top:10px;"></md-icon></a>
           <!--<md-button  ng-if="item.pack.isDown" style="display: inline-block;vertical-align: middle;padding:5px;color:#0185f1;min-width:40px;" ui-sref="app.xhsc.ddetail">详情</md-button>-->
          </span>
      </div>

    </md-list-item>
  </md-list>
</div>
<ui-view></ui-view>

