<div flex ng-if="vm.role==0" class="gxbg" layout="column" ms-scroll>
  <div class="gxheadzb">
    <ul>
      <li ng-click="vm.setModule(0)">
        <img src="app/main/xhsc/images/zbzj.png">
        <p>总包自检</p>
      </li>
      <li ng-click="vm.setModule(2)">
        <img src="app/main/xhsc/images/zbby.png">
        <p>总包报验</p>
      </li>
      <li ng-click="vm.setModule(4)">
        <img src="app/main/xhsc/images/zbzg.png">
        <p>总包整改</p>
      </li>
      <li ng-click="vm.setModule(8)">
        <img src="app/main/xhsc/images/regionState.png">
        <p>区域状态</p>
      </li>
      <li ng-click="vm.upload()">
        <img src="app/main/xhsc/images/upload.png">
        <p>离线上传</p>
      </li>
    </ul>
    <ul ng-if="false">
      <li ng-click="vm.setModule(32)">
        <img src="app/main/xhsc/images/jlys.png">
        <p>监理验收</p>
      </li>
      <li ng-click="vm.setModule(64)">
        <img src="app/main/xhsc/images/jlfy.png">
        <p>监理复验</p>
      </li>
      <li ng-click="vm.setModule(8)">
        <img src="app/main/xhsc/images/offPackage.png">
        <p>离线上传</p>
      </li>
      <li ng-click="vm.setModule(16)">
        <img src="app/main/xhsc/images/regionState.png">
        <p>区域状态</p>
      </li>
    </ul>
  </div>
  <div  ng-if="vm.bodyFlag==0" flex style="background-color: white;overflow: scroll">
    <md-list style="overflow-x: hidden;">
      <md-list-item ng-click="vm.zbzjAction(item)" layout="row"  ng-repeat="item in vm.projects">
        <p style="font-size:14px;">
          {{item.ProjectName}}
          <span style="margin-left:2%;color:white;background-color: #00b6de;font-size:12px;border-radius: 3px">总包自检</span>
        </p>
        <span flex></span>
        <md-button ng-click="vm.zbzjbtnAction(item,$event)" class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="app/main/xhsc/images/more_vert.svg"></md-icon>
        </md-button>
        <span class="border1px bottom1px"></span>
      </md-list-item>
    </md-list>
  </div>
</div>


