<div flex="none" style="position: relative;border-bottom: 1px solid #d8d8d8;">
  <md-button class="md-fab" style="line-height: 24px;width:36px;height:36px;position: absolute;left:10px;top:0;" ng-click="vm.nextRegion(true)">
    <md-icon md-font-icon="icon-chevron-left" ></md-icon>
  </md-button>
  <p style="font-size:14px;padding:0 10px;text-align: center;margin-bottom: 0;line-height:48px;width:70%;margin-left:auto;margin-right:auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
    {{vm.RegionFullName}}
  </p>
  <md-button class="md-fab" style="line-height: 24px;width:36px;height:36px;position: absolute;right:10px;top:0" ng-click="vm.nextRegion()">
    <md-icon md-font-icon="icon-chevron-right" ></md-icon>
  </md-button>
</div>
<div flex sxt-map-check="vm.info.current"  project-id="vm.info.projectId" procedure="vm.info.acceptanceItemID" region-id="vm.info.regionId">
  <div style="position: absolute;z-index: 10003;bottom: 10px;right: 10px" ng-show="vm.info.current"><md-button class="md-raised md-mini md-green" fast-click="vm.cancelCurrent($event)">取消</md-button></div>
</div>
<slide-menu flex="none" style="height: 200px" layout="column" slide-data="vm.procedureData" current="vm.info.current" show-check="true"  level="2"></slide-menu>
<div style="display: none">
  <sxt-map-check-popup></sxt-map-check-popup>
</div>




