<div flex="none" style="position: relative;" class="downcaret">
  <div layout="row" flex style="height:48px;border-bottom: 1px solid #d8d8d8;position: relative;z-index: 10;background: rgb(245,245,245);">
    <md-button class="md-fab" style="line-height: 24px;width:36px;height:36px;position: absolute;left:10px;top:0;" ng-click="vm.nextRegion(true)">
      <md-icon md-font-icon="icon-chevron-left"></md-icon>
    </md-button>
    <p ng-click="vm.qyslide()" style="font-size:14px;padding:0 10px;text-align: center;margin: 0;height:48px;line-height:48px;width:70%;margin-left:auto;margin-right:auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
      {{vm.regionSelect.AreaName||'区域'}} <span class="caret"></span>
    </p>
    <md-button class="md-fab" style="line-height: 24px;width:36px;height:36px;position: absolute;right:10px;top:0" ng-click="vm.nextRegion()">
      <md-icon md-font-icon="icon-chevron-right"></md-icon>
    </md-button>
  </div>
  <div flex layout="row" class="gxtest qyslide" ng-class="{'qydown':vm.qyslideShow}">
    <md-list layout="column" flex class="gxplist">
      <md-list-item flex ng-repeat="p in vm.pareaList">
        <p ng-click="vm.selectQy(p)">{{p.AreaName}}</p>
      </md-list-item>
    </md-list>
  </div>
</div>
<div class="mapcheck" flex sxt-map-check project-id="'00018'" procedure="'438b49cfd5bd4681a589a94901c7e880'" region-id="'0001800000000000000000019'">
</div>
<md-content flex style="background: transparent;">
  <div class="gxtest gxtestdetail" flex>
    <div style="margin-top: 20px;padding:0 8px;" flex layout="row"><span flex>问题列表</span><span flex></span><span ng-click="vm.showBaseInfor()">基本信息</span></div>
    <md-list class="gxque">
      <md-list-item ng-repeat="k in vm.ques">
        <!--<span flex="none" style="width:100px;">2号问题</span>-->
        <span flex>{{k.IndexDesc}}</span>
        <span flex="none" style="text-align: right;padding-right:20px">{{k.points.length}}处</span>
      </md-list-item>
    </md-list>

    <md-button flex style="display: block;width:100%;margin:10px 0;padding:6px;border:1px solid #d8d8d8;background: #fff;" ng-click="vm.showTop()">提交复检报告{{vm.role}}</md-button>
    <slide-top-view slide-show="vm.slideShow" slide-role="vm.role"></slide-top-view>

  </div>
</md-content>



