<div flex="none" style="position: relative;" class="downcaret">
    <div layout="row" flex style="height:48px;border-bottom: 1px solid #d8d8d8;position: relative;z-index: 10;background: rgb(245,245,245);">
      <md-button class="md-fab" style="line-height: 24px;width:36px;height:36px;position: absolute;left:10px;top:0;" ng-click="vm.nextRegion(true)">
        <md-icon md-font-icon="icon-chevron-left"></md-icon>
      </md-button>
      <p ng-click="vm.qyslide()" style="font-size:14px;padding:0 10px;text-align: center;margin: 0;height:48px;line-height:48px;width:70%;margin-left:auto;margin-right:auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
        {{vm.RegionFullName||'名称'}} <span class="caret"></span>
      </p>
      <md-button class="md-fab" style="line-height: 24px;width:36px;height:36px;position: absolute;right:10px;top:0" ng-click="vm.nextRegion()">
        <md-icon md-font-icon="icon-chevron-right"></md-icon>
      </md-button>
    </div>
    <div flex layout="row" class="gxtest qyslide" ng-class="{'qydown':vm.qyslideShow}">
      <md-list layout="column" flex class="gxplist">
        <md-list-item flex ng-repeat="p in vm.pareaList">
          <p ng-click="vm.selectQy(p)">{{p.name}}</p>
        </md-list-item>
      </md-list>
    </div>
  </div>
<md-content flex style="background: transparent;">
  <div class="mapcheck">
    原位图纸
  </div>
  <div class="gxtest gxtestdetail">
    <div style="margin-top: 20px;padding:0 8px;" flex layout="row"><span flex>问题列表</span></div>
    <md-list class="gxque">
      <md-list-item>
        <span flex="none" style="width:100px;">2号问题</span>
        <span flex>二号问题描述二号问题描述二号问题描述二号问题描述</span>
        <span flex="none" style="width:50px;text-align: right;">3处</span>
      </md-list-item>
      <md-list-item>
        <span flex="none" style="width:100px;">2号问题</span>
        <span flex>二号问题描述二号问题描述</span>
        <span flex="none" style="width:50px;text-align: right;">3处</span>
      </md-list-item>
    </md-list>
    <div style="margin-top: 20px;padding-left:10px;padding-right:10px;" flex layout="row"><span>基本信息</span><span flex></span></div>
    <md-list>
      <md-list-item>
        <label>工序</label>
        <p>工序名称</p>
      </md-list-item>
      <md-list-item>
        <label>部位</label>
        <p>工序名称</p>
      </md-list-item>
      <md-list-item>
        <label>监理单位</label>
        <p>工序名称</p>
      </md-list-item>
      <md-list-item>
        <label>验收人员</label>
        <p>工序名称</p>
      </md-list-item>
      <md-list-item>
        <label>施工单位</label>
        <p>工序名称</p>
      </md-list-item>
      <md-list-item>
        <label>责任人</label>
        <p>工序名称</p>
      </md-list-item>
      <md-list-item>
        <label>验收进度</label>
        <p>工序名称</p>
      </md-list-item>
      <md-list-item>
        <label>验收时间</label>
        <p>工序名称</p>
      </md-list-item>
      <md-list-item>
        <label style="width:100px;">最迟整改时间</label>
        <p>工序名称</p>
      </md-list-item>
      <md-list-item>
        <label>备注信息</label>
        <p>工序名称</p>
      </md-list-item>
      <md-list-item>
        <label>验收状态</label>
        <p>工序名称</p>
      </md-list-item>
    </md-list>
    <!--<div class="slideTop" ng-show="vm.show" ng-class="{'slidedown':vm.show}">-->
      <!--<md-list style="margin-top: 0">-->
        <!--<md-list-item>-->
          <!--<p>工序位置</p>-->
        <!--</md-list-item>-->
        <!--<md-list-item>-->
          <!--<p>工序位置</p>-->
        <!--</md-list-item>-->
        <!--<md-list-item>-->
          <!--<p>工序位置</p>-->
        <!--</md-list-item>-->
      <!--</md-list>-->
    <!--</div>-->

    <md-button flex style="display: block;width:100%;margin:10px 0;padding:6px;border:1px solid #d8d8d8;background: #fff;" ng-click="vm.showTop()">提交复检报告</md-button>
    <slide-top-view slide-show="vm.slideShow"></slide-top-view>

  </div>
  </md-content>


