<md-content style="background: transparent;">
<div class="gxtest gxtestdetail">
  <div style="margin-top: 20px;padding-left:8px;"><span>基本信息</span></div>
  <md-list>
    <md-list-item>
      <label>工序</label>
      <p>工序名称</p>
    </md-list-item>
    <md-list-item>
      <label>部位</label>
      <p>工序名称</p>
    </md-list-item>
    <md-list-item>
      <label>监理单位</label>
      <p>工序名称</p>
    </md-list-item>
    <md-list-item>
      <label>验收人员</label>
      <p>工序名称</p>
    </md-list-item>
    <md-list-item>
      <label>施工单位</label>
      <p>工序名称</p>
    </md-list-item>
    <md-list-item>
      <label>责任人</label>
      <p>工序名称</p>
    </md-list-item>
    <md-list-item>
      <label>验收进度</label>
      <p>工序名称</p>
    </md-list-item>
    <md-list-item>
      <label>验收时间</label>
      <p>工序名称</p>
    </md-list-item>
    <md-list-item>
      <label style="width:100px;">最迟整改时间</label>
      <p>工序名称</p>
    </md-list-item>
    <md-list-item>
      <label>备注信息</label>
      <p>工序名称</p>
    </md-list-item>
    <md-list-item>
      <label>验收状态</label>
      <p>工序名称</p>
    </md-list-item>
  </md-list>
  <div style="margin-top: 20px;padding:0 8px;" flex layout="row"><span flex>遗留问题</span><span flex></span><button ui-sref="app.xhsc.gxtest">新建问题</button></div>
  <md-list class="gxque">
    <md-list-item>
      <span flex="none" style="width:100px;">2号问题</span>
      <span flex>二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述</span>
      <span flex="none" style="width:50px;text-align: right;">3处</span>
    </md-list-item>
    <md-list-item>
      <span flex="none" style="width:100px;">2号问题</span>
      <span flex>二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述二号问题描述</span>
      <span flex="none" style="width:50px;text-align: right;">3处</span>
    </md-list-item>
  </md-list>
  <div>
    <md-content>
      <md-tabs md-dynamic-height style="background: rgb(245,245,245)">
        <md-tab label="遗留问题">
          <md-content>
            <md-list class="gxque" style="margin-top: 0;">
              <md-list-item>
                <p style="color:#333;">交流单芯电缆不得单独穿于钢导管内</p>
              </md-list-item>
              <md-list-item>
                <span style="width:60px;display: block;">说明</span>
                <p>交流单芯电缆不得单独穿于钢导管内交流单芯电缆不得单独穿于钢导管内交流单芯电缆不得单独穿于钢导管内交流单芯电缆不得单独穿于钢导管内</p>
              </md-list-item>
              <md-list-item>
                <span style="width:60px;display: block;">首验照片</span>
                <p>
                <span class="photo">
                    <i>照片</i><i>2</i>
                  </span>
                  <md-button style="min-width: 40px;" class="addphoto"><img src="app/main/xhsc/images/plus.png" width="40"></md-button>
                </p>
              </md-list-item>
              <md-list-item>
                <span style="width:60px;display: block;">备注</span>
                <p>备注信息</p>
              </md-list-item>
              <md-list-item>
                <span style="width:60px;display: block;">整改照片</span>
                <p>
                  <span class="photo">
                    <i>照片</i><i>1</i>
                  </span>
                  <md-button style="min-width: 40px;" class="addphoto"><img src="app/main/xhsc/images/plus.png" width="40"></md-button>
                </p>
              </md-list-item>
              <md-list-item>
                <span>复验意见</span>
                <p style="text-align: right;margin-right:70px;">
                  {{vm.value}}<md-switch  ng-disabled="true" class="md-secondary"></md-switch>
                </p>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab>
        <md-tab label="已整改问题">
          <md-content>
            <md-list class="gxque" style="margin-top: 0;">
              <md-list-item>
                <p style="color:#333;">交流单芯电缆不得单独穿于钢导管内</p>
              </md-list-item>
              <md-list-item>
                <span style="width:60px;display: block;">说明</span>
                <p>交流单芯电缆不得单独穿于钢导管内交流单芯电缆不得单独穿于钢导管内交流单芯电缆不得单独穿于钢导管内交流单芯电缆不得单独穿于钢导管内</p>
              </md-list-item>
              <md-list-item>
                <span style="width:60px;display: block;">照片</span>
                <p>
                  <span class="photo">
                      <i>照片</i><i>2</i>
                  </span>
                  <md-button style="min-width: 40px;" class="addphoto"><img src="app/main/xhsc/images/plus.png" width="40"></md-button>
                </p>
              </md-list-item>
              <md-list-item>
                <span style="width:60px;display: block;">备注</span>
                <p><input style="border:none;width:100%;"></p>
              </md-list-item>
              <md-list-item>
                <span>验收意见</span>
                <p style="text-align: right;margin-right:70px;">
                  {{vm.value}}<md-switch ng-model="vm.value" ng-true-value="'符合'" ng-init="vm.value='不符合'" ng-false-value="'不符合'" class="md-secondary"></md-switch>
                </p>
              </md-list-item>
            </md-list>
            <md-list class="gxque">
              <md-list-item>
                <p style="color:#333;">交流单芯电缆不得单独穿于钢导管内</p>
              </md-list-item>
              <md-list-item>
                <span style="width:60px;display: block;">说明</span>
                <p>交流单芯电缆不得单独穿于钢导管内交流单芯电缆不得单独穿于钢导管内交流单芯电缆不得单独穿于钢导管内交流单芯电缆不得单独穿于钢导管内</p>
              </md-list-item>
              <md-list-item>
                <span style="width:60px;display: block;">照片</span>
                <p>
        <span class="photo">
            <i>照片</i><i>2</i>
          </span>
                  <md-button style="min-width: 40px;" class="addphoto"><img src="app/main/xhsc/images/plus.png" width="40"></md-button>
                </p>
              </md-list-item>
              <md-list-item>
                <span style="width:60px;display: block;">备注</span>
                <p><input style="border:none;width:100%;"></p>
              </md-list-item>
              <md-list-item>
                <span>验收意见</span>
                <p style="text-align: right;margin-right:70px;">
                  {{vm.value}}<md-switch ng-model="vm.value" ng-true-value="'符合'" ng-init="vm.value='不符合'" ng-false-value="'不符合'" class="md-secondary"></md-switch>
                </p>
              </md-list-item>
            </md-list>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
  <div style="margin-top: 20px;padding:0 8px;" flex layout="row"><span>原位标注</span></div>
  <div flex>图纸</div>

  <md-button flex style="display: block;width:100%;margin:10px 0;padding:6px;border:1px solid #d8d8d8;background: #fff;" ng-click="vm.showTop()">提交复检报告</md-button>
  <!--ng-class="{'slidedown':vm.show}"-->

  <div class="slideTop" ng-show="vm.show" ng-class="{'slidedown':vm.show}">
    <md-list style="margin-top: 0">
      <md-list-item>
        <label>问题描述</label>
        <p>工序名称</p>
      </md-list-item>
      <md-list-item>
        <label>首验照片</label>
        <p>
          <span class="photo">
            <i>照片</i><i>1</i>
          </span>
          <span class="photo">
            <i>照片</i><i>2</i>
          </span>
        </p>
      </md-list-item>
      <md-list-item>
        <label>整改照片</label>
        <p>
          <span class="photo">
            <i>照片</i><i>2</i>
          </span>
          <md-button style="min-width: 40px;" class="addphoto"><img src="app/main/xhsc/images/plus.png" width="40"></md-button>
        </p>
      </md-list-item>
      <md-list-item>
        <label>复验意见</label>
        <p style="text-align: right;margin-right:70px;">
          {{vm.value}}<md-switch ng-model="vm.value" ng-true-value="'合格'" ng-init="vm.value='不合格'" ng-false-value="'不合格'" class="md-secondary"></md-switch>
        </p>
      </md-list-item>
    </md-list>
    <md-button flex style="display: block;width:100%;padding:0px;background: #fff;" ng-click="vm.show = false">确定</md-button>
  </div>

</div>

</md-content>
