<md-dialog class="changetel">
  <md-dialog-content style="padding:10px;border-bottom: 1px solid #dedede;">
    <md-list>
      <md-list-item>
        <p>未整改：</p>
        <p class="md-secondary">1处</p>
      </md-list-item>
      <md-list-item>
        <p>不合格：</p>
        <p class="md-secondary">1处</p>
      </md-list-item>
      <md-list-item>
        <p>最迟整改时间：</p>
        <p class="md-secondary">
          <md-input-container class="md-block" style="margin:0">
            <md-select ng-model="time">
              <md-option ng-repeat="time in times" ng-value="time">
                {{time.time}}
              </md-option>
            </md-select>
          </md-input-container>
        </p>
      </md-list-item>
    </md-list>

    <!--<div layout="column" flex class="choose-datepicker">-->
      <!--<p flex layout="row" style="padding-left:16px;">最迟整改时间：</p>-->
      <!--<p flex layout="row">-->
        <!--&lt;!&ndash;<md-datepicker ng-model="vm.myDate" flex></md-datepicker>&ndash;&gt;-->
      <!--</p>-->
    <!--</div>-->
  </md-dialog-content>
  <md-dialog-actions style="padding-top:0;padding-bottom:0;min-height: 40px;">
    <a flex class="new-btn noborder" ng-click="submit()">确定</a>
  </md-dialog-actions>
</md-dialog>
