<md-dialog class="changetel">
  <md-dialog-content style="padding:10px;border-bottom: 1px solid #dedede;">
    <md-list>
      <md-list-item ng-repeat="s in status|filter:{visible:1}">
        <p>{{s.name}}：</p>
        <p class="md-secondary">{{s.num}}处</p>
      </md-list-item>
      <md-list-item ng-if="">
        <p>最迟整改时间：</p>
        <p class="md-secondary">
          <md-input-container class="md-block" style="margin:0">
            <md-select ng-model="time">
              <md-option ng-repeat="time in times" ng-value="time.value">
                {{time.time}}
              </md-option>
            </md-select>
          </md-input-container>
        </p>
      </md-list-item>
    </md-list>

  </md-dialog-content>
  <md-dialog-actions style="padding-top:0;padding-bottom:0;min-height: 40px;">
    <a flex class="new-btn" ng-click="cancel()">取消</a>
    <a flex class="new-btn noborder" ng-click="submit()">确定</a>
  </md-dialog-actions>
</md-dialog>
