<div flex="none" layout="column" style="max-height:50px;height:50px;width:100%;z-index: 10;" class="gxxz">
  <md-list flex layout="row" class="gxfilter">
    <md-list-item  flex ng-class="{'active':vm.filterNum == -1}"><md-button ng-click="vm.filter(-1)" style="margin:6px auto;"><span>全部</span><span>{{vm.nums.qb}}</span></md-button></md-list-item>
    <md-list-item  flex ng-class="{'active':vm.filterNum == 0}"><md-button ng-click="vm.filter(0)" style="margin:6px auto;"><span><i class="wait"></i>未检</span><span>{{vm.nums.wtj}}</span></md-button></md-list-item>
    <md-list-item  flex ng-class="{'active':vm.filterNum == 2}"><md-button ng-click="vm.filter(2)" style="margin:6px auto;"><span><i  class="dy"></i>已检</span><span>{{vm.nums.ytj}}</span></md-button></md-list-item>
<!--    <md-list-item  flex ng-class="{'active':vm.filterNum == 4}"><md-button ng-click="vm.filter(4)" style="margin:6px auto;"><span><i class="ng"></i>不合格</span><span>{{vm.nums.bhg}}</span></md-button></md-list-item>-->
  </md-list>
</div>
<md-content flex ng-cloak  style="background:#f4f4f4;">
  <div layout="row" layout-sm="column" layout-align="space-around" ng-show="!vm.loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <div ng-if="h.hasShowRight" flex ng-repeat="h in vm.houses">
    <p style="font-size:12px;background: #f4f4f6;padding:10px;margin:0;" ng-show="vm.loading">{{h.projectTitle }}</p>
    <div class="floor-list gxroomlist" ng-show="vm.loading">
      <div>
        <md-list>
          <md-list-item ng-if="d.hasShowRight"  ng-repeat="d in h.Children"  style="padding:0;background: #fff;margin-bottom:10px;border-top:1px solid #dedede;">
            <div flex>
              <div flex class="gxrooms" style="padding-left:10px;padding-right:10px;"><span class="roomname">{{d.RegionName}}</span><md-button ng-click="vm.zk(d)" style="color:#49affe;min-width: 50px;"><span ng-show="!d.show">展开</span><span ng-show="d.show">收起</span></md-button></div>
              <md-list ng-if="d.show&&vm.maxRegion !=8" style="padding-left:10px;padding-right:10px;">
                <md-list-item ng-if="d.show&&c.hasShowRight&&vm.regionfilterByStatus(c)"  ng-repeat="c in d.Children|filter:{}">
                  <div flex layout="column">
                    <div flex class="gxrooms" style="overflow: hidden;">
                      <div style=" width:20%;float:left;padding:2px 5px;">
                        <div ng-click="vm.selected(c)" class="room-st {{c.style}}" ng-class="{'checked':c.checked}">
                          <div style="height:100%;width:{{c.Percentage}}%"></div><span>{{c.RegionName}}</span>
                        </div>
                      </div>
                      <md-button ng-click="vm.zk(c)" style="color:#49affe;min-width: 50px;"><span ng-show="!c.show">展开</span><span ng-show="c.show">收起</span></md-button></div>
                      <md-list class="roomllist" ng-if="c.show" style="border-bottom: 1px solid #dedede;margin-top:10px;">
                        <md-list-item ng-if="c.show&&r.hasShowRight&&vm.regionfilterByStatus(r)" ng-repeat="r in c.Children">
                          <div class="room-st {{r.style}}" ng-click="vm.selected(r)" ng-class="{'checked':r.checked}">
                            <div style="height:100%;width:{{r.Percentage}}%;"></div><span>{{r.RegionName}}</span>
                          </div>
                        </md-list-item>
                    </md-list>
                  </div>
                </md-list-item>
              </md-list>
              <div layout="column" ng-if="d.show&&vm.maxRegion ==8">
                <md-list class="roomllist" ng-if="d.show"  style="border-bottom: 1px solid #dedede;padding:10px 5px 0;">
                  <md-list-item ng-if="r.hasShowRight&&vm.regionfilterByStatus(r)" ng-repeat="r in d.Children">
                    <div class="room-st {{r.style}}" ng-click="vm.selected(r)" ng-class="{'checked':r.checked}">
                      <div style="height:100%;width:{{r.Percentage}}%;"></div><span>{{r.RegionName}}</span>
                    </div>
                  </md-list-item>
                </md-list>
              </div>
            </div>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>
</md-content>





