<div layout="row" class="scTop">
  <div flex class="scleft">
    <span>{{vm.info.aItem.MeasureItemName}}：</span>
    <md-button class="md-mini" ng-click="vm.scChoose($event)">
      <label style="margin-bottom: 0;font-weight: normal;"><span ng-repeat="sc in vm.info.MeasureIndexes" style="color:#f00;">{{sc.IndexName}}</span></label>
      <img src="app/main/xhsc/images/pop.png" style="vertical-align: middle;margin-left: 10px;"></md-button>
    <span style="color:darkslategray;font-style: italic;">{{vm.info.tooltip}}</span>
  </div>
</div>

<sxt-sc-new-v flex layout="column" area-id="vm.info.areaId" tooltip="vm.info.tooltip" db="vm.info.db" image-url="vm.info.imageUrl" region-id="vm.info.regionId"
    region-type="vm.info.regionType" acceptance-item="vm.info.acceptanceItemID" region-name="vm.info.name"  measure-indexes="vm.info.MeasureIndexes "
        pic-relate="vm.picRelate"   standar="vm.standar"     sc-choose="vm.scChoose()" >
  <div flex layout="row" layout-align="center center" ng-if="!vm.info.loaded"><md-progress-circular md-mode="indeterminate" md-diameter="28"></md-progress-circular></div>
</sxt-sc-new-v>
<div style="display: none">
  <sxt-sc-popup-new></sxt-sc-popup-new>
</div>
