<md-tabs md-align-tabs="bottom" flex md-swipe-content>
  <md-tab  label="实测实量">
    <md-tab-content  style="padding: 0px" flex layout-fill layout="column" layout-padding class="zb">
      <md-content class="download" style="padding: 0px">
        <md-progress-circular id="toolbar-progress" ng-if="!vm.isOver" class="md-accent"
                              md-mode="indeterminate" md-diameter="32" style="margin-left: 8px;margin-top: 8px">
        </md-progress-circular>
        <div ng-show="vm.isOver" layout="column">
          <md-subheader ng-if="vm.offlines.length"><span style="margin-left: -18px">已下载列表</span></md-subheader>
          <span class="border1px"></span>
          <md-list style="padding:0px">
            <md-list-item layout="row"ng-click="vm.go(item)"  ng-repeat="item in vm.offlines" layout="row">
              <p style="font-size:14px;padding-left:3%">
                {{item.ProjectName}}
              </p>
              <span flex></span>
              <md-button ng-click="vm.action(item,$event)"  style="padding: 0px 1%;min-width: 0px"   aria-label="More">
                <md-icon md-svg-icon="app/main/xhsc/images/more_vert.svg"></md-icon>
              </md-button>
              <span class="border1px bottom1px"></span>
            </md-list-item>
          </md-list>
          <md-subheader ng-if="vm.onlines.length"><span style="margin-left: -18px">未下载列表</span></md-subheader>
          <span class="border1px"></span>
          <md-list style="padding:0px">
            <md-list-item ng-repeat="item in vm.onlines"  layout="row">
              <p style="font-size:14px;padding-left:3%">
                {{item.ProjectName}}
              </p>
              <span flex></span>
              <md-button ng-click="vm.download(item)" style="margin: 6px 0px" >
                <i class="icon icon-download s30"></i>
              </md-button>
              <span class="border1px bottom1px"></span>
            </md-list-item>
          </md-list>
        </div>
      </md-content>
    </md-tab-content>
  </md-tab>
</md-tabs>






