<md-tabs md-align-tabs="bottom" flex md-swipe-content>
  <md-tab label="实测列表">
    <md-tab-content  style="padding: 0px" flex layout-fill layout="column" layout-padding class="zb">
      <md-content class="download" style="padding: 0px">
        <div layout="column">
          <md-subheader ng-if="vm.offlines.length"><span style="margin-left: -18px">已下载列表</span></md-subheader>
          <md-list style="padding:0px">
            <md-list-item ng-repeat="item in vm.offlines" layout="row">
              <p flex style="font-size:16px;padding-left:12px;">
                {{item.ProjectName}}
              </p>
              <!--<span flex></span>-->
              <div flex="none" layout="row">
                <md-button  ng-click="vm.go(item)"   class="md-raised md-primary" style="min-width:50px;padding:0px;margin:0px 0px 0px 5px ;line-height:35px ">
                  实测
                </md-button>
                <md-button  class="md-raised upload-btn" style="min-width:50px;padding:0px;margin:0px 0px 0px 5px ;line-height:35px" ng-click="vm.download(item)">
                  <md-progress-circular ng-show="item.downloading && item.progress && item.progress!=100" md-mode="determinate" value="{{item.progress}}"  md-diameter="20"></md-progress-circular>
                  重下
                </md-button>
                <!--<md-button ng-click="vm.upload(item)" class="md-raised upload-btn" style="min-width:50px;padding:0px;margin:0px 5px 0px 5px ;line-height:35px">-->
                <md-button ng-click="vm.upload(item)" class="md-raised upload-btn" style="min-width:50px;padding:0px;margin:0px 5px 0px 5px ;line-height:35px">
                <md-progress-circular ng-show="item.uploading && item.progress && item.progress!=100" value="{{item.progress}}"  md-diameter="20"></md-progress-circular> 上传
                </md-button>
              </div>
            </md-list-item>
          </md-list>
          <md-subheader ng-if="vm.onlines.length"><span style="margin-left: -18px">未下载列表</span></md-subheader>
          <md-list style="padding:0px">
            <md-list-item ng-repeat="item in vm.onlines"  layout="row">
              <p flex style="font-size:16px;padding-left:12px;">
                {{item.ProjectName}}
              </p>
              <div flex="none" class="md-secondary md-hue-3"  style="right:5px">
               <span style="display:inline-block;text-align: center;">
                  <md-button ng-if="!item.pack.isDown" class="md-raised upload-btn" ng-click="vm.download(item)"
                     style="min-width:50px;padding:0px;margin:3px;line-height:35px ">
                 下载
               </md-button>
                 <a  ng-if="item.pack.isDown" style="position: relative;display: inline-block;width:31px;height:31px;border:1px solid #f8f8f8;border-radius:50%" ng-click="vm.cancel()">
                   <md-progress-circular md-mode="determinate" value="{{item.progress}}"  md-diameter="30"></md-progress-circular>
                   <md-icon style="width:10px;height:10px;background: #0185f1;position: absolute;left:10px;top:10px;"></md-icon></a>
                </span>
              </div>
            </md-list-item>
          </md-list>
        </div>
      </md-content>
    </md-tab-content>
  </md-tab>
</md-tabs>






