<md-tabs md-border-bottom flex md-selected="vm.selectedIndex">
  <md-tab label="系统设置">
    <md-tab-content flex layout-fill layout="column">
      <md-content flex>
        <md-list>
          <md-subheader class="md-no-sticky">个人信息</md-subheader>
          <md-list-item ng-click="vm.selectedIndex=1">
            <img alt="{{user.name}}" src="app/main/szgc/settings/images/uesrinfo-icon@2x.png" class="md-avatar" />
            <p>{{vm.profile.name}}</p>
            <p class="md-secondary md-hue-3">{{vm.profile.mobile}}</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-subheader class="md-no-sticky">当前</md-subheader>
          <md-list-item>
            <p>版本</p>
            <p class="md-secondary md-hue-3">{{ vm.appVersion}}</p>
          </md-list-item>
          <md-list-item>
            <p>模式({{vm.networkState?'离线':'在线'}})</p>
            <p class="md-secondary md-hue-3">
              <md-switch ng-model="vm.networkState" aria-label="模式" ng-true-value="0" ng-false-value="1" class="md-warn"></md-switch>
            </p>
          </md-list-item>
          <md-list-item>
            <p>缓存 <b>{{vm.cacheInfo}}</b></p>
            <md-button class="md-secondary md-raised md-primary" ng-click="vm.clearCache()">清空</md-button>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <md-button flex class="md-raised md-warn" ng-click="vm.logout()">退出</md-button>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab-content>
  </md-tab>
  <md-tab label="个人信息">
    <md-tab-content flex layout-fill layout="column">
      <md-content flex>
        <md-list>
          <md-subheader class="md-no-sticky">个人信息</md-subheader>
          <md-list-item>
            <p>公司名称</p>
            <p class="md-secondary">{{vm.profile.company}}</p>
          </md-list-item>
          <md-list-item>
            <p>员工姓名</p>
            <p class="md-secondary">{{vm.profile.name}}</p>
          </md-list-item>
          <md-list-item>
            <p>显示名称</p>
            <p class="md-secondary">{{vm.profile.display_name}}</p>
          </md-list-item>
          <md-list-item>
            <p>邮箱地址</p>
            <p class="md-secondary">{{vm.profile.email}}</p>
          </md-list-item>
          <md-list-item>
            <p>帐号</p>
            <p class="md-secondary">{{vm.profile.loginname}}</p>
          </md-list-item>
          <md-list-item>
            <p>手机号码</p>
            <p class="md-secondary">{{vm.profile.mobile}}</p>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab-content>
  </md-tab>
  <md-tab label="项目进度设置" ng-if="vm.projectId" ng-click="vm.openProjectSetting()">
    <md-tab-content flex layout-fill layout="column">
      <md-content flex layout="column">
        <md-list style="margin-bottom: 64px;" md-cloak>
          <!--<md-subheader class="md-no-sticky">已设置</md-subheader>
          <md-list-item ng-repeat="p in vm.Downloaded">
            <div flex layout="column">
              <md-button ng-click="loadStages(p)" style="text-align: left"> {{ p.name }} </md-button>
              <div ng-if="p.show" ng-repeat="s in p.stages" layout="column" style="padding-left: 10px;">
                <md-button ng-click="loadBuildings(s)" style="text-align: left"> {{ s.stage }} </md-button>
                <div ng-if="s.show" ng-repeat="b in s.buildings" layout="column" style="padding-left: 10px;">
                  <md-button ng-click="loadProcedure(b)" style="text-align: left"> {{ b.buildingName }} </md-button>
                  <div ng-if="b.show" ng-repeat="g in b.procedures" layout="row" style="padding-left: 20px;">
                    <p flex="70" style="margin: 0; line-height: 35px;"> {{ g.procedureName }} </p>
                    <md-input-container class="md-block" flex="15" style="margin:0 0 0 10px; height: 35px;">
                      <input type="number" ng-model="g.count">
                    </md-input-container>
                    <label style="line-height: 35px;">层</label>
                  </div>
                </div>
              </div>
            </div>
            <md-divider></md-divider>
          </md-list-item>-->
          <md-subheader class="md-no-sticky">设置</md-subheader>
          <md-list-item ng-repeat="p in vm.data">
            <div flex layout="column">
              <md-button ng-click="loadStages(p)" style="text-align: left"> {{ p.name }} </md-button>
              <div ng-if="p.show" ng-repeat="s in p.stages" layout="column" style="padding-left: 10px;">
                <md-button ng-click="loadBuildings(s)" style="text-align: left"> {{ s.name }} </md-button>
                <div ng-if="s.show" ng-repeat="b in s.buildings" layout="column" style="padding-left: 10px;">
                  <md-button ng-click="loadProcedure(b)" style="text-align: left"> {{ b.name }} </md-button>
                  <div ng-if="b.show" ng-repeat="g in b.procedures" layout="row" style="padding-left: 20px;">
                    <p flex="70" style="margin: 0; line-height: 35px;"> {{ g.procedureName }} </p>
                    <md-input-container class="md-block" flex="15" style="margin:0 0 0 10px; height: 35px;">
                      <input type="number" ng-model="g.count">
                    </md-input-container>
                    <label style="line-height: 35px;">层</label>
                  </div>
                  <md-button style="width:100px;" ng-click="vm.openGx();vm.current=b" class="md-raised md-primary md-block" ng-click="">添加工序</md-button>
                </div>
              </div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
        <md-button ng-disabled="vm.loading" flex ng-click="vm.save()" style="position: fixed;" class="md-primary md-fab md-fab-bottom-right">确定</md-button>
      </md-content>
    </md-tab-content>
  </md-tab>
</md-tabs>
<!--<md-sidenav class="md-sidenav-right" md-component-id="nav_procedure" md-is-open="vm.isRightOpen" md-whiteframe="4" layout="column">
  <md-content flex layout="column" style="background: white">

    <sxt-procedure flex layout="column" on-select="vm.closeNav('nav_procedure')" ng-model="project.procedureId" procedure-type-id="project.procedureTypeId"
      root-type-id="project.rootTypeId" name-value="project.procedureName" region-type="32" check-requirement="project.CheckRequirement"
      class="md-block"></sxt-procedure>

    <div class="md-padding" layout="row">

      <md-button type="submit" flex ng-click="vm.closeNav('nav_procedure')" class="md-raised md-primary">确定</md-button>
    </div>
  </md-content>
</md-sidenav>-->

<md-sidenav layout="column" class="md-sidenav-right" md-is-open="vm.build.isOpen" md-component-id="procedure_right">
  <md-toolbar flex="none" class="md-theme-indigo">
    <h4 class="md-toolbar-tools">选择工序(点击左侧灰色区关闭)</h4>
  </md-toolbar>
  <md-tabs flex layout="column" md-border-bottom>
    <md-tab label="已选择工序">
      <md-tab-content flex layout-fill layout="column">
        <md-list>
          <section>
            <md-subheader class="md-primary">
              <div layout="row" layout-align="space-between center">
                <div layout="column" layout-align="start center">已选择工序</div>
                <div layout="column" layout-align="start center"><a ng-click="vm.clearAll()" ng-if="vm.selected.ps.length">清除</a></div>
              </div>
            </md-subheader>
            <md-list-item ng-repeat="p in vm.selected.ps" ng-click="vm.itemChecked1(p,vm.selected)">
              <p> {{p.ProcedureName}}</p>
              <md-checkbox class="md-secondary" ng-click="vm.itemChecked(p)" ng-model="p.checked"></md-checkbox>
            </md-list-item>
          </section>
        </md-list>
      </md-tab-content>
    </md-tab>
    <md-tab ng-repeat="g in vm.types|sxtProcedureS" label="{{g.name}}({{g.ps.length}})">
      <md-tab-content flex layout-fill layout="column">
        <md-list>
          <section ng-repeat="c in g.children|sxtProcedureS">
            <md-subheader class="md-primary">{{c.name}}({{c.ps.length}})</md-subheader>
            <md-list-item ng-repeat="p in c.ps" ng-click="vm.itemChecked1(p,c)">
              <p> {{p.ProcedureName}}</p>
              <md-checkbox class="md-secondary" ng-click="vm.itemChecked(p)" ng-model="p.checked"></md-checkbox>
            </md-list-item>
          </section>
        </md-list>
      </md-tab-content>
    </md-tab>
  </md-tabs>
</md-sidenav>
<md-progress-circular ng-show="vm.loading"  md-diameter="20" md-mode="indeterminate"></md-progress-circular>