<md-tabs md-border-bottom flex md-selected="vm.selectedIndex">
  <md-tab label="系统设置">
    <md-tab-content flex layout-fill layout="column">
      <md-content flex>
        <md-list>
          <md-subheader class="md-no-sticky">个人信息</md-subheader>
          <md-list-item ng-click="vm.selectedIndex=1">
            <img alt="{{user.name}}" src="app/main/szgc/settings/images/uesrinfo-icon@2x.png" class="md-avatar" />
            <p>{{vm.profile.name}}</p>
            <p class="md-secondary md-hue-3">{{vm.profile.mobile}}</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-subheader class="md-no-sticky">当前</md-subheader>
          <md-list-item>
            <p>版本</p>
            <p class="md-secondary md-hue-3">{{ vm.appVersion}}</p>
          </md-list-item>
          <md-list-item>
            <p>模式({{vm.networkState?'离线':'在线'}})</p>
            <p class="md-secondary md-hue-3">
              <md-switch ng-model="vm.networkState" aria-label="模式" ng-true-value="0" ng-false-value="1" class="md-warn"></md-switch>
            </p>
          </md-list-item>
          <md-list-item>
            <p>缓存 <b>{{vm.cacheInfo}}</b></p>
            <md-button class="md-secondary md-raised md-primary" ng-click="vm.clearCache()">清空</md-button>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <md-button flex class="md-raised md-warn" ng-click="vm.logout()">退出</md-button>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab-content>
  </md-tab>
  <md-tab label="个人信息">
    <md-tab-content flex layout-fill layout="column">
      <md-content flex>
        <md-list>
          <md-subheader class="md-no-sticky">个人信息</md-subheader>
          <md-list-item>
            <p>公司名称</p>
            <p class="md-secondary">{{vm.profile.company}}</p>
          </md-list-item>
          <md-list-item>
            <p>员工姓名</p>
            <p class="md-secondary">{{vm.profile.name}}</p>
          </md-list-item>
          <md-list-item>
            <p>显示名称</p>
            <p class="md-secondary">{{vm.profile.display_name}}</p>
          </md-list-item>
          <md-list-item>
            <p>邮箱地址</p>
            <p class="md-secondary">{{vm.profile.email}}</p>
          </md-list-item>
          <md-list-item>
            <p>帐号</p>
            <p class="md-secondary">{{vm.profile.loginname}}</p>
          </md-list-item>
          <md-list-item>
            <p>手机号码</p>
            <p class="md-secondary">{{vm.profile.mobile}}</p>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab-content>
  </md-tab>
  <md-tab label="项目进度设置" ng-click="vm.openProjectSetting()">
    <md-tab-content flex layout-fill layout="column">
      <md-content flex layout="column">
        <md-list style="margin-bottom: 64px;" md-cloak>
          <md-subheader class="md-no-sticky">已设置</md-subheader>
          <md-list-item ng-repeat="s in vm.Downloaded">
            <div flex layout="column">
              <md-button ng-click="loadBuildings(s)" style="text-align: left"> {{ s.stage }} </md-button>
              <div ng-if="s.show" ng-repeat="item in s.buildings" layout="column" style="padding-left: 10px;">
                <md-button ng-click="loadProcedure(item)" style="text-align: left"> {{ item.buildingName }} </md-button>
                <div ng-if="item.show" ng-repeat="p in item.procedures" layout="row" style="padding-left: 20px;">
                  <p flex="75" style="margin: 0; line-height: 35px;"> {{ p.procedureName }} </p>
                  <label style="line-height: 35px; margin-left: 10px">{{p.count}}层</label>
                </div>
              </div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
          <md-subheader class="md-no-sticky">设置</md-subheader>
          <md-list-item ng-repeat="s in vm.data">
            <div flex layout="column">
              <md-button ng-click="loadBuildings(s)" style="text-align: left"> {{ s.name }} </md-button>
              <div ng-if="s.show" ng-repeat="item in s.buildings" layout="column" style="padding-left: 10px;">
                <md-button ng-click="loadProcedure(item)" style="text-align: left"> {{ item.name }} </md-button>
                <div ng-if="item.show" ng-repeat="p in item.procedures" layout="row" style="padding-left: 20px;">
                  <p flex="70" style="margin: 0; line-height: 35px;"> {{ p.procedureName }} </p>
                  <md-input-container class="md-block" flex="15" style="margin:0 0 0 10px; height: 35px;">
                    <input type="number" ng-model="p.count">
                  </md-input-container>
                  <label style="line-height: 35px;">层</label>
                </div>
                <md-button style="width:100px;" ng-click="vm.openNav('nav_procedure',item)" class="md-raised md-primary md-block" ng-click="">添加工序</md-button>
              </div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
        <div class="md-padding" layout="row" style="position:fixed; bottom: 0; width:100%; background-color: white;">
          <md-button flex ng-click="vm.save()" class="md-raised md-primary md-block">确定</md-button>
        </div>
      </md-content>
    </md-tab-content>
  </md-tab>
</md-tabs>
<md-sidenav class="md-sidenav-right" md-component-id="nav_procedure" md-is-open="vm.isRightOpen" md-whiteframe="4" layout="column">
  <md-content flex layout="column" style="background: white">

    <sxt-procedure flex layout="column" on-select="vm.closeNav('nav_procedure')" ng-model="project.procedureId" procedure-type-id="project.procedureTypeId"
      root-type-id="project.rootTypeId" name-value="project.procedureName" region-type="2" check-requirement="project.CheckRequirement"
      class="md-block"></sxt-procedure>

    <div class="md-padding" layout="row">

      <md-button type="submit" flex ng-click="vm.closeNav('nav_procedure')" class="md-raised md-primary">确定</md-button>
    </div>
  </md-content>
</md-sidenav>