
body{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.viewer-container {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  -ms-user-select: none;
  user-select: none;

  background-color: rgba(0, 0, 0, 1);

  direction: ltr !important;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.viewer-title {
  font-size: 20px;
  line-height: 150%;
  display: inline-block;
  overflow: hidden;
  max-width: 90%;
  margin: 0 5% 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: .8;
 color:white;
}
d.leaflet-popup-content-wrapper {
  .leaflet-draw-subbuttom {
    &.sure{

      ul {
        li{
          a{
            display: block;
            padding:0 12px;
            height:32px;
            line-height: 32px;
            font-size:16px;
          }
        }
      }
    }

  }

}
md-tabs[md-align-tabs="bottom"]{
  &.zlpkwrap{
      &.md-vanke-theme{
        .md-tab{
          &.md-active{
            color:#e93030;
          }
        }
      }
    .md-tab{
      position: relative;
      padding:12px 50px;
      &:after{
        content:'/';
        position: absolute;
        right:0;
        top:13px;
        font-size:20px;
      }
    }
    md-tabs-wrapper{
      border-top: 1px solid #d8d8d8;
    }
  }
  .zdybtn{
    position: absolute;top:50%;right:5px;transform: translate(0 ,-50%);margin:0;font-size:12px;
    &.done{
      color:#e93030;
    }
  }
}

.subheader{
  .md-tab{
    position: relative;
    padding:12px 50px;
    &:after{
      content:'/';
      position: absolute;
      right:0;
      top:13px;
      font-size:20px;
    }
  }
  .lr{
    color:#0fb2fb;
    .img{
      margin:0;
      padding:0;
      li{
        display: inline-block;
        vertical-align: middle;
        list-style: none;
      }
      img{
        margin-right: 5px;
        width:30px;
        height:30px;
      }
    }
  }
  .headspan{
    span{
      margin-right: 8px;
    }
  }
  .md-subheader{
    border-left:1px solid  #ccc;
    border-right:1px solid  #ccc;
    &.md-vanke-theme{
      &.md-primary{
        background: #e93030;
        color:#fff;
      }
    }
    .md-subheader-inner{
      padding: 10px;
      background: #e93030;
      color:#fff;
    }
  }
  .md-subheader-wrapper{
    &:not(.md-sticky-no-effect)[sticky-state="active"]{
      margin-top:88px;
    }
  }
  .md-sticky-clone{
    //left:-8px;
    //right:16px;
  }
}
.evaluate{
  .evaluate-item{
    .md-no-style{
      padding: 0;
    }
    width: 50%;
    float: left;
    height:100px;
    padding:0 16px;
    margin-bottom: 32px;
    .evaluate-itemwrap{
      background: #fb4848 url(main/xhsc/images/evaluateBg.png) no-repeat right bottom;
      width:100%;
      display: table;
      font-size:22px;
      color:#fff;
      text-shadow: 0 2px 2px #ccc;
      padding: 14px 0;
      border-radius:5px;
      &>div{
        display: table-cell;
        vertical-align: middle;
        height:68px;

        p{
          margin-bottom: 0;
        }
        &.left{
          width: 150px;
          text-align: center;
          border-right:1px solid #e14141;

        }
      }
      .md-list-item-text{
        padding: 0 16px;
        p{
          font-size:24px !important;
        }

      }
    }
  }
}
//.md-scroll-mask{
//    background: rgba(0,0,0,.6);
//  &>.md-scroll-mask-bar{
//    background:none;
//  }
//}
.md-dialog-container{
  background: rgba(0,0,0,.6);
}
//viewer样式更改
.viewer-toolbar{
  width:320px;
  &>li{
    &.viewer-play{
      display: none;
    }
    width:30px;
    height:30px;
    &:before{
      margin: 5px;
    }
  }
}
.viewer-invisible{
  display: none;
}
.viewer-delete{
  &:before{
    content:"";
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    color: transparent;
    background:url(main/xhsc/images/del.png) no-repeat center center;
  }
}
//topfresh
.topfresh{
  .md-button{
    margin-right:-8px;
  }
}
.typeNumber{
  .md-button{
    background: #f67740;color:#fff;font-size:40px;text-align: center;border-radius:50%;box-shadow: 0 0 8px rgba(0,0,0,.5);
    width:130px;
    height:130px;
    line-height: 130px;
    margin:10px auto;
    &:not([disabled]):hover{
      background: #f67740;
    }
  }
}
.mappopup{
  background:transparent;
  color:#fff;
  font-size:16px;
  .leftside{
    color:#fff;
    display: inline-block;
    vertical-align: top;
    margin-top:0;
    height:30px;
    line-height: 26px;
    padding: 2px;
    margin-bottom:20px;
    &.kd{
      width:90px;
      text-align:right;
      padding-right: 15px;
    }
  }
  md-input-container{
    margin:0;
    width:100%;
    input{
      font-size:1.6rem;
      min-width:50px;
      //text-align: center;
    }
    .md-errors-spacer{
      min-height:0;
    }
    &.md-input-focus{
      .md-input{
        border-color:#555;
      }
    }
    md-icon{
      color:#fff;
    }
    .md-input{
      color:#fff;
      border-color:#555;
    }
  }
  .input{
    span{
      text-align: center;
    }
  }
  .mb20{
    margin-bottom:20px;
  }
  .takeph{
    margin-top:4px;
    md-icon{
      width:40px;
      height:auto;
    }
  }
  .result{
    span{
      font-size:1.4rem;
      &.red{
        color:red;
      }
      &.yellow{
        color:yellow;
      }
    }
  }
  md-select{
    .md-select-value{
      border-bottom-color:rgb(85,85,85);
      .md-text{
        font-size:1.4rem;
      }
      &.md-select-placeholder{
        color:#fff;
      }
    }
    &:not([disabled]){
      &:focus{
        .md-select-value{
          color:#f1f1f1;
          border-bottom-color:#f1f1f1;
        }
      }
    }
  }
  .md-select-value{
    .md-select-icon{
      &:after {
        -webkit-transform: scaleY(1) scaleX(1.7);
        transform: scaleY(1) scaleX(1.7);
      }
    }
  }
  table{
    border-collapse: collapse;
    table-layout: fixed;
    position: relative;
    tr{
      th{
        height:28px;
        line-height: 28px;
        text-align: center;
      }
      th,td{
        border:1px solid rgb(85,85,85);
        padding: 3px 5px;
        min-width:50px;
        md-input-container{
          &.md-input-focus{
            .md-input{
              border:none;
            }
          }
          md-icon{
            color:#fff;
          }
          .md-input{
            color:#fff;
            border:none;
          }
        }
        .sliderbar{
          md-slider-container{
            md-input-container{

              input[type="number"]{
                margin-top:0;
                padding-left:0;
                min-width:42px;
              }
            }
          }
        }
        input{
          text-align: center;

        }
        span{
          display: block;
          text-align: center;
          padding:5px;
          font-size:1.4rem;
        }
      }
    }
  }

}
.topSelect{
  md-select{
    .md-select-value{
      border-bottom-color:transparent;
      .md-text{
        font-size:1.4rem;
      }
      &.md-select-placeholder{
        color:#fff;
      }
    }
    &:not([disabled]){
      &:focus{
        .md-select-value{
          color:#f1f1f1;
          border-bottom-color:transparent;
        }
      }
    }
  }
}
.mease{
  display: none;
  &.inmease{
    display: block;
  }
}

.imglist{
  margin-top:16px;
  p{
    img{
      display: inline-block;
      width:40px;
      margin-right:10px;
      margin-bottom:10px;
    }
  }

}
.scTop{
  border-bottom: 1px solid rgba(0, 0, 0, 0.117647);
  padding:0 16px;
  height: 56px;
  background: #fff;
  .scleft {
    span {
      display: inline-block;
      min-width: 50px;
      font-size: 16px;
      vertical-align: middle;
      line-height: 56px;
      text-align: center;
    }
    .md-button{
      min-height:32px;
      min-width: 36px;
      line-height: 100%;
      display: inline-block;
      vertical-align:middle;
      span{
        line-height: 100%;
      }
      &.font14{
        span{

          font-size:14px;
        }
      }
      &.md-fab{
        width:32px;
        height:32px;
      }
    }
  }
    .scright{
      text-align: right;
      position: relative;
      .md-button{
        margin: 8px;
      }
      &:before{
        content:"";
        width:1px;
        height:32px;
        background: #d8d8d8;
        position: absolute;
        left:-10px;
        top:11px;
      }
      //span{
      //  text-align: right;overflow: hidden;display:block;font-size:14px;line-height: 48px;white-space: nowrap;color:#ccc;font-style: italic;
      //}
    }
}
.scchoose{
  md-toolbar{
    border-top:5px solid #ea5300;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    min-height: 58px;
    border-bottom:1px solid #d8d8d8;
    &:not(.md-menu-toolbar){
      background-color: #fff;
      color:rgb(211,47,47);
      .md-button{
        &:not(.md-raised){
          color:rgb(211,47,47);
        }
      }
    }
    .md-toolbar-tools{
      height:58px;
      max-height: 58px;
      &> .md-button{
        &:last-child{
          margin-right:16px;
        }
      }
    }
  }
  min-width: 320px;
  md-dialog-content{
    padding:16px;
  }
  md-list{
    padding:0;
    .red{
      color:#f00;
    }
  }
}

.arrows{
  vertical-align:top;
  border:2px solid #e93030;
  border-radius:50%;
  position:relative;
  margin:7px 5px 0;
  &.icon{
    color:white;
  }
  &.icon-chevron-left{
     &:before{
       position: absolute;
       left:-2px;
       top:-2px;
     }
   }
  &.icon-chevron-right{
    &:before{
      position: absolute;
      right:-2px;
      top:-2px;
    }
  }
}
.poptoolbar{
  .md-button{
    min-width: 70px;
    border:1px solid rgb(85,85,85);
    font-size:1.2rem;
    min-height: 30px;
    line-height: 30px;
    border-radius: 5px;
    span{
      font-size:1.2rem;
      color:#fff;
    }
  }
  .md-toolbar-tools{
    height: 40px;
    max-height: 40px;
  }
}
.piclayer{
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background:rgba(100,100,100,.95);
  z-index:10000;
  .pic_close{

    height:50px;
    position: absolute;
    right:0;
    top: 0;
  }
  .swiper-container{
    width:100%;
    .swiper-wrapper{
      height:100%;
      .swiper-slide{
        display:table;
        width: 100%;
        p{
          display: table-cell;
          vertical-align:middle;
          width:100%;
          padding:0;
          margin:0;
          -webkit-margin-before: 0;
          -webkit-margin-after: 0;
          img{
            max-width:100%;
            max-height:100%;
            margin:0 auto;
            display: block;
          }
        }

      }
    }
    .swiper-pagination-bullet{
      width: 8px;
      height: 8px;
      background:#ffffff;
      opacity:.9;
      margin: 0 4px;
    }
    .swiper-pagination-bullet-active{
      background: #ff0000!important;
    }
  }
}
.main-padding{
  padding:10px 16px;
  .md-subheader-wrapper{
    &:not(.md-sticky-no-effect)[sticky-state="active"]{
      margin-left:0;
      transform: translate3d(0, 200px, 0px);
      background: rgb(245,245,245);
    }
  }
  md-list{
    md-list-item{
      border:1px solid #d8d8d8;
      margin-left:-1px;
      margin-bottom: -1px;
      background: #fff;
      .md-no-style{
        padding: 0;
      }
      .md-button{
        margin:0;
        .md-item-text{
          display: table;
          height:120px;
          text-align: center;
          width:100%;
          p{
            //margin-bottom: 0;
            display: table-cell;
            vertical-align: middle;
            font-size:16px;
            color:#000;
            margin:0;
          }
        }
      }

    }
  }

}
.layer-wrap{
  position: fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.58);opacity: 0;z-index: 10000;transition: all 0.5s ease;
  .right{
    position: absolute;right:-100%;top:0;min-width: 320px;
    bottom: 0;
    overflow: auto;
    width:50%;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    md-toolbar{
      height: 44px;min-height: 44px;padding: 0 16px;
      background: #fff;
      button{
       display:block;width:24px;height:24px;position: absolute;left: 16px;top:10px;color:#f00;
      }
      h2{
        color:#f00;
      }
    }
    md-list{
      padding: 0 16px;background: #fff;border-top:1px solid #ccc;
      md-list-item{
        span{
          font-size:16px;
        }
      }
    }
  }
}

.veggie-option{
  width:12.5%;
  float:left;
  height:120px;
  box-sizing:border-box;
}
.floor-list{
  md-checkbox{
    margin-bottom: 0;
  }

  md-list-item{
    transition: all 0.5s linear;
    &.active{
      background: #fff;
    }
    .md-button{
      margin: 0;
      padding:0;
    }

    .md-list-item-inner {
    > md-checkbox{
      margin-top:0;
      margin-right:5px;
    }
    }
    .md-secondary-container{
      md-checkbox{
        &:last-child{
          margin-right:8px;
        }
      }
    }
    .md-list-item-inner{
      .md-secondary-container {
        md-checkbox{
          &:last-child{
            margin-right:8px;
          }
        }
      }
    }
    //md-checkbox{
    //  width:18px;
    //  height:18px;
    //  .md-container{
    //    width:18px;
    //    height:18px;
    //  }
    //  .md-icon{
    //    background: url(/app/toolbar/images/check.png);
    //    border-width:0;
    //    width:18px;
    //    height:18px;
    //    border-radius: 0;
    //    overflow: hidden;
    //  }
    //  &.md-vanke-theme{
    //    &.md-checked {
    //      .md-icon{
    //        background: url(/app/toolbar/images/checked.png);
    //        background-color:transparent;
    //      }
    //    }
    //  }
    //}
    i{
      &.myselect{
        display: inline-block;box-sizing:border-box;width:18px;height:18px;
        background: url(/app/toolbar/images/check.png);
        &.selected{
          background: url(/app/toolbar/images/checked.png);
        }
      }
    }
  }
  &.gxroomlist{
    .gxrooms{
      border-bottom: 1px solid #d8d8d8;position: relative;text-align: right;padding:6px 0;
      .roomname{
        display:block;position: absolute;left: 15px;line-height: 36px;
      }
    }
    .room-st{
      height: 32px;width:100%;border: 1px solid #dedede;border-radius: 4px;position: relative;overflow: hidden;text-align: center;
      >span{
        display: block;width:100%;position: absolute;top:0;line-height: 32px;
      }
      &.wy{
        border:1px solid #CDDC39;
        color:	#6e4f1c;
        >div{
          background:#CDDC39;
        }
      }
      &.yzg{
        border:1px solid #fed189;
        color:#fed189;
        >div{
          background: #fff3e6;
        }
      }
      &.dy{
        //border:1px solid #4bb9f3;
        //color:#4bb9f3;
        //>div{
        //  background:#d2eefc;
        //}
        border:1px solid #d6d6d6;
        color:#333;
        >div{
          background: #f6f6f9;
        }
      }
      &.pass{
        border:1px solid #169e49;
        color:#169e49;
        >div{
          background: #ddffea;
        }
      }
      &.ng{
        border:1px solid #ff3434;
        color:#ff3434;
        >div{
          background: #ffebea;
        }
      }
      &.yet{
        border:1px solid #052f57;
        color:#333;
        >div{
          background: #7ea2b4;
        }
      }
      &.wait{
        border:1px solid #dedede;
        color:#333;
        >div{
          background: #fff;
        }
      }
      &.checked{
        //border-color:#e93030;
        &:before{
          content:"";
          position: absolute;
          right:1px;
          top:1px;
          background:url(../app/main/xhsc/images/circle-v.png) no-repeat;
          background-size: 12px auto;
          width:12px;
          height:12px;
        }
      }
      //>div{
      //
      //}

    }
    .md-button{
      font-size:12px;
    }
    md-list{
      padding:0;
      //transition: all ease 0.5s;
      md-list-item{
        min-height: 36px;
      }
      //&.ng-hide-add,&.ng-hide-remove{
      //  transition: all ease 0.5s;
      //}
      //&.ng-hide{
      //  height: 0;
      //}
    }
  }
  .list-left{
    background: #f0f0f0;
    .md-button{
      padding:4px 0;
      &.md-vanke-theme{
        &:not([disabled]){
          &:hover{
            background: none;
          }
        }
      }
    }
  }
  .right{
    //background: #fff;
    .search{
      margin:8px 16px;
      .search_bar{
        width:100%;
        position: relative;
        .searchicon{
          width:14px;height:14px;display: inline-block;position: absolute;top:8px;left:50%;margin-left:-34px;
          background: url(/app/toolbar/images/search.jpg);
          background-size:14px 14px;
        }
        .inputtext{
          width:100%;
          height:32px;
          border:1px solid #d8d8d8;
          border-radius:6px;
          text-align: center;
          box-sizing:border-box;
          background: #fff;
          span{
            display: inline-block;
            line-height: 32px;
          }
        }
      }
    }
    h3 {
      margin:0;
      background: rgb(245,245,245);
      border-bottom: 1px solid #d8d8d8;
      .md-subheader-inner{
        padding: 0;
      }
     .header{
       width:20%;
       .margin{
         border: 2px solid #d8d8d8;
         border-radius: 32px;
         padding: 0;
         min-height: 32px;
         margin: 8px;
         background:#fff;
         overflow: hidden;
         &.ing{
           border-color:#38b7ea;
         }
         &.done{
           border-color:#54cb00;
         }
         &.yet{
           border-color:#999;
         }
         .md-button {
           min-height: 32px;
           line-height: 32px;
           min-width: 50px;
           margin: 0;
           width: 100%;
           p {
             margin-bottom: 0;

           }
           i{
             &.myselect{
               display: inline-block;box-sizing:border-box;width:18px;height:18px;
               background: url(../app/toolbar/images/check.png);
               &.selected{
                 background: url(../app/toolbar/images/checked.png);
               }
             }
           }
           md-checkbox{
             width:18px;
             height:18px;
             .md-container{
               width:18px;
               height:18px;
             }
             .md-icon{
               background: url(toolbar/images/check.png);
               border-width:0;
               width:18px;
               height:18px;
               border-radius: 0;
               overflow: hidden;
             }
             &.md-vanke-theme{
               &.md-checked {
                 .md-icon{
                   background: url(toolbar/images/checked.png);
                   background-color:transparent;
                 }
               }
             }
           }
         }
       }


     }

    }

    md-list-item{
      //margin:8px;
      min-height: 32px;
      float: left;
      width:20%;
      .md-list-item-inner {
        > p {
          width: 100%;
          text-align: center;
          flex: none;
        }
      }
      .md-no-style{
        border:1px solid #d8d8d8;
        border-radius:32px;
        padding: 0;
        min-height: 32px;
        margin:8px;
        overflow: hidden;
        .md-button{
          min-height: 32px;
          line-height: 32px;
          min-width: 50px;
          margin: 0;
          width:100%;
          p{
            padding: 0;
            margin: 0;
          }
        }
      }
      .md-button{
        min-height: 32px;
        line-height: 32px;
        min-width: 50px;
        margin: 0;
        width:100%;
        border:2px solid #d8d8d8;
        border-radius:32px;
        padding: 0 10px;
        min-height: 32px;
        margin:8px;
        overflow: hidden;
        &.ing{
          border-color:#38b7ea;
        }
        &.done{
          border-color:#54cb00;
        }
        &.yet{
          border-color:#999;
        }
        p{
          padding: 0;
          margin: 0;
        }
      }
    }
    &.engineer{
      h3{
        .header{
          width:12%;
        }
      }
      md-list-item{
      }
    }
  }
  .floors{
    md-list{
      padding: 8px;
      md-list-item{
        border-bottom: 1px solid #d8d8d8;
          a{
            color:#000;
          }
      }
    }
  }
}
.gx-list{
  &.mb40{
    margin-bottom: 40px;
  }
  md-checkbox{
    margin-bottom: 0;
  }

  md-list-item{
    transition: all 0.5s linear;
    &.active{
      background: #fff;
      color:#e93030;
    }
    .md-button{
      margin: 0;
      //padding:0;
      text-align: left;
    }
    .md-list-item-inner {
      > md-checkbox{
        margin-top:0;
        margin-right:5px;
      }
    }
    .md-secondary-container{
      md-checkbox{
        &:last-child{
          //margin-right:8px;
        }
      }
    }
    .md-list-item-inner{
      .md-secondary-container {
        md-checkbox{
          &:last-child{
            margin-right:8px;
          }
        }
      }
    }
    i{
      &.myselect{
        display: inline-block;box-sizing:border-box;width:18px;height:18px;
        background: url(/app/toolbar/images/check.png);
        &.selected{
          background: url(/app/toolbar/images/checked.png);
        }
      }
    }
  }
  .list-left{
    background: #f0f0f0;
    md-list-item{
      border-bottom:1px solid #dedede;
    }
    .md-button{
      padding:6px 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      &.md-vanke-theme{
        &:not([disabled]){
          &:hover{
            background: none;
          }
        }
      }
    }
  }
  .right{
    //background: #fff;
    .search{
      margin:8px 16px;
      .search_bar{
        width:100%;
        position: relative;
        .searchicon{
          width:14px;height:14px;display: inline-block;position: absolute;top:8px;left:50%;margin-left:-34px;
          background: url(/app/toolbar/images/search.jpg);
          background-size:14px 14px;
        }
        .inputtext{
          width:100%;
          height:32px;
          border:1px solid #d8d8d8;
          border-radius:6px;
          text-align: center;
          box-sizing:border-box;
          background: #fff;
          span{
            display: inline-block;
            line-height: 32px;
          }
        }
      }
    }
    h3 {
      margin:0;
      background: rgb(245,245,245);
      border-bottom: 1px solid #d8d8d8;
      .md-subheader-inner{
        padding: 0;
      }
      .header{
        width:20%;
        .margin{
          border: 2px solid #d8d8d8;
          border-radius: 32px;
          padding: 0;
          min-height: 32px;
          margin: 8px;
          background:#fff;
          overflow: hidden;
          &.ing{
            border-color:#38b7ea;
          }
          &.done{
            border-color:#54cb00;
          }
          &.yet{
            border-color:#999;
          }
          .md-button {
            min-height: 32px;
            line-height: 32px;
            min-width: 50px;
            margin: 0;
            width: 100%;
            p {
              margin-bottom: 0;

            }
            i{
              &.myselect{
                display: inline-block;box-sizing:border-box;width:18px;height:18px;
                background: url(../app/toolbar/images/check.png);
                &.selected{
                  background: url(../app/toolbar/images/checked.png);
                }
              }
            }
            md-checkbox{
              width:18px;
              height:18px;
              .md-container{
                width:18px;
                height:18px;
              }
              .md-icon{
                background: url(toolbar/images/check.png);
                border-width:0;
                width:18px;
                height:18px;
                border-radius: 0;
                overflow: hidden;
              }
              &.md-vanke-theme{
                &.md-checked {
                  .md-icon{
                    background: url(toolbar/images/checked.png);
                    background-color:transparent;
                  }
                }
              }
            }
          }
        }


      }

    }

    md-list-item{
      //margin:8px;
      min-height: 32px;
      float: left;
      width:20%;
      .md-list-item-inner {
        > p {
          width: 100%;
          text-align: center;
          flex: none;
        }
      }
      .md-no-style{
        border:1px solid #dedede;
        border-radius:32px;
        padding: 0;
        min-height: 32px;
        margin:8px;
        overflow: hidden;
        .md-button{
          min-height: 32px;
          line-height: 32px;
          min-width: 50px;
          margin: 0;
          width:100%;
          p{
            padding: 0;
            margin: 0;
          }
        }
      }
      .md-button{
        min-height: 32px;
        line-height: 32px;
        min-width: 50px;
        margin: 0;
        width:100%;
        border:2px solid #d8d8d8;
        border-radius:32px;
        padding: 0 10px;
        min-height: 32px;
        margin:8px;
        overflow: hidden;
        &.ing{
          border-color:#38b7ea;
        }
        &.done{
          border-color:#54cb00;
        }
        &.yet{
          border-color:#999;
        }
        p{
          padding: 0;
          margin: 0;
        }
      }
    }
    &.engineer{
      h3{
        .header{
          width:12%;
        }
      }
      md-list-item{
      }
    }
  }
  .floors{
    md-list{
      padding: 0;
      md-list-item{
        border-bottom: 1px solid #dedede;
        a{
          color:#333;
        }
        p{
          padding:0 8px;
          &.active{
            color:#e93030;
          }
        }

      }
    }
  }
}
.list-right{
  p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ng-enter,.ng-leave {
    -webkit-transition:all .5s cubic-bezier(.35,0,.25,1);
    transition:all .5s cubic-bezier(.35,0,.25,1);
    transform: translate3d(0,0,0);
  }
  .ng-leave{
    opacity: 0;
    //transform: translate3d(0,-100%,0);
  }
  .ng-enter{
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  .ng-enter.ng-enter-active {
    opacity:1;
    transform: translate3d(0,0,0);
  }
  md-radio-button{
    .md-label{
      white-space: nowrap;
      max-width: 100%;
      padding-right:40px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.gxtest{
  &.qyslide{
    position:absolute;top:48px;left:0;background:#fff;width: 100%;z-index: 9;box-shadow: 0 5px 5px #ccc;transform:translateY(-120%);transition: transform .3s ease;
    &.qydown{
      transform:translateY(0);
    }
  }
  md-list{
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
    margin-top: 10px;
    background: #fff;
    padding: 0 10px;
    md-list-item{
      &.md-no-proxy,.md-no-style{
        padding:0;
      }
      >p{
        font-size:14px;
        color:#999;
      }
      border-bottom: 1px solid #dedede;
      &:last-child{
        border-bottom: none;
      }
      label{
        display: inline-block;
        width:80px;
        vertical-align: middle;
        margin-bottom: 0;
        margin-right:24px;
        padding-left:8px;
        font-size:14px;
        font-weight: normal;
        color:#333;
        text-align:justify;
        text-justify:distribute-all-lines;/*ie6-8*/
        text-align-last:justify;/* ie9*/
        -moz-text-align-last:justify;/*ff*/
        -webkit-text-align-last:justify;/*chrome 20+*/
      }
    }
    &.gxplist{
      margin-top: -1px;
      md-list-item{
        p{
          text-align: center;line-height: 46px;
        }
      }
    }
  }
  &.gxtestdetail{
    md-list{
      &.gxque{
        md-list-item{
          &.md-no-proxy,.md-no-style{
            padding:8px 0;
            span{
              font-size: 14px;
              color:#999;
              display: inline-block;
            }
          }
          span{
            font-size: 14px;
            color:#999;
            display: inline-block;
          }
        }
      }
    }
  }
}
[md-theme="vanke"]{
  .submit-btn{
    a{
      color:#fff;
    }
  }
}
.mbtn{
  &>div{
    border:1px solid #fff;border-radius:5px;margin:12px 0;
    overflow: hidden;
    background: #fff;
    button{
      display: inline-block;padding:6px 25px;
      color:#e93030;
      background: #fff;
      &:first-child{
        border-right:1px solid #d8d8d8;
      }
      &.active{
        background: #e93030;
        color:#fff;
      }
    }
  }
}
.slide-del{
  padding:0;
  md-list-item{
    position: relative;-webkit-transform: translateX(0);border-bottom: 1px solid #d8d8d8;
    //padding:16px 0;
    .md-no-style{
      padding:0 10px;
    }
    .slidelist{
      width:100%;
      display: table;
      padding-left:10px;
      padding-right: 10px;
      >div{
        //display: inline-block;
        //vertical-align: middle;
        display: table-cell;
        vertical-align: middle;
        &.msgcheck{
          i{
            display: block;
            width:30px;
            height: 30px;
            background: url("main/xhsc/images/circle.jpg") no-repeat center center;
            &.checked{
              background: url('main/xhsc/images/circle-v.jpg') no-repeat center center;
            }
          }
        }
        &.circle{
          width:50px;
          height:50px;
          span{
            width:50px;
            height:50px;
            display: block;
            background: #f00;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            white-space: nowrap;
            overflow: hidden;
            color:#fff;
            margin-right: 12px;
          }
        }
        h3{
          font-size: 17px;
          color:#333;
          position: relative;
          margin-top: 10px;margin-bottom: 0;
          line-height: 24px;
          span{
            position: absolute;
            right:8px;
            color:#999;
          }
        }
        p{
          font-size: 14px;
          color:#999;
          //margin-bottom: 0;
          line-height: 20px;
        }
      }
    }
  }
}

.grzx{
  &.md-toolbar-tools{
    >.md-button{
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .md-button{
    min-width: 50px;
    margin: 0;
    padding: 0;
  }
}
//.animate-enter, .animate-leave {
//  transition: 500ms ease-in all;
//  position: relative;
//}
//.animate-enter.animate-enter-active, .animate-leave {
//  transform: translate(100%,0);
//}
//.animate-leave.animate-leave-active, .animate-enter {
//  transform: translate(-100%,0);
//}
.md-padding{
  md-list-item {
    &.active{
      background: rgba(0,0,0,0.03);
    }
        button{
          &.md-button{
            &.md-secondary-container{
              &.md-icon-button{
                margin-right:20px;
              }
            }
          }
        }
    .md-list-item-inner {
      >p{
        padding-left:20px;
        &.ing{
          color:#38b7ea;
        }
        &.done{
          color:#54cb00;
        }
        &.yet{
          color:#999;
        }
      }
      > md-icon{
        &.md-secondary{
          &:not(.md-avatar-icon){
            margin-top:0;
          }
          &.go{
            margin-right:30px;
          }
        }
      }
    }
     md-checkbox{
       &.md-secondary{
         &.left{
           right:auto;
           left:-5px;
           margin-top:-1px;
         }

       }
     }
  }
}

.levelTable{
  border-collapse: collapse;
  tr{
    td,th{
      border:1px solid #d8d8d8;
      padding: 6px;
    }
    th{
      padding: 8px;
    }
    td{
      &.yellow{
        color:#e6b900;
      }
      &.red{
        color:#f00;
      }
      .red{
        color:#f00;
      }
      &.normal{
        color:#333;
        &.redColor{
          color:#f00;
        }
      }
    }
  }
  &.leveltable2{
    border-width:0px; border-style:hidden;
    tr{
      td{
        padding: 8px;
      }
    }
  }
}
.zdytable{
  border-collapse: collapse;
  margin-bottom: 16px;
  tr{
    height: 40px;
    th,td{
      border:1px solid #d8d8d8;
      padding: 8px;

    }
    td{
      &.yellow{
        color:#e6b900;
      }
      &.red{
        color:#f00;
      }
      table{
        &.innerTable{
          tr{
            td{
              height: 40px;
              border:none;
              border-right:1px solid #d8d8d8;
            }
          }
        }
      }
      &.head{
        font-size:16px;
      }
      &.normal{
        color:#333;
        &.redColor{
          color:#f00;
        }
      }
      p{
        max-width: 80px;
        margin: 0;
      }
      &.procedurename{
        text-align: center;
        p{
          width:12px;
          margin: 0 auto;

        }
      }
    }

  }
  &.fixtable{
    tr{
      th{
        padding:10px 8px;
      }
    }
  }
}
.download{
  .md-subheader{
    font-size:12px;
    border-bottom: 1px solid #d8d8d8;
    .md-subheader-inner{
    padding:16px 32px;
    }
    &.md-vanke-theme{
      background:rgb(245,245,245);
    }
  }
  md-list{
    padding:0 32px;
    border-bottom: 1px solid #d8d8d8;
    md-list-item{
      border-bottom: 1px solid #d8d8d8;
      margin-bottom: -1px;
      &.md-no-proxy{
        padding:0;
      }
      .md-avatar{
        width:56px;
        height:56px;
        margin-top:11px;
        margin-bottom:11px;
      }
      h3{
        font-size:18px;
        color:#000;
      }
      .md-list-item-text{
        p{
          font-size:14px !important;
          color:#666;
        }
      }

      .md-button{
        padding:6px 25px;
        line-height: 20px;
        min-height: 0;
        &.md-vanke-theme{
          &.md-raised{
            background-color: #0185f1;
            &:not([disabled]){
              box-shadow: none;
              &.md-focused{
                background-color: #0185f1;
              }
              &:hover{
                background-color: #0185f1;
              }
            }
            &.upload-btn{
              &:not([disabled]){
                &:hover{
                  background-color: #fff;
                }
              }
              background: #fff;
              border:1px solid #0185f1;
              color:#0185f1;
            }
          }
        }
      }
      md-progress-circular{
        display: inline-block;
        vertical-align: middle;
        &.md-vanke-theme{
          .md-inner{
            .md-left{
              .md-half-circle{
                border-left-color:#0185f1;
                border-top-color:#0185f1;
              }
            }
            .md-right{
              .md-half-circle{
                border-right-color:#0185f1;
                border-top-color:#0185f1;
              }
            }
          }
        }
      }
    }
  }

}
.gxdownload{
  .md-subheader{
    font-size:12px;
    border-bottom: 1px solid #dedede;
    .md-subheader-inner{
      padding:16px 10px;
    }
    &.md-vanke-theme{
      background:rgb(245,245,245);
    }
  }
  md-list{
    padding:0 10px;
    border-bottom: 1px solid #dedede;
    md-list-item{
      border-bottom: 1px solid #dedede;
      margin-bottom: -1px;
      padding:8px 0;
      &.md-no-proxy{
        padding:0;
      }
      .md-avatar{
        width:56px;
        height:56px;
        margin-top:11px;
        margin-bottom:11px;
      }
      h3{
        font-size:16px;
        color:#000;
      }
      .md-list-item-text{
        p{
          font-size:14px !important;
          color:#666;
        }
      }

      .md-button{
        padding:6px 10px;
        line-height: 20px;
        min-height: 20px;
        min-width:50px;
        margin:6px 8px 6px 0;
        &.md-vanke-theme{
          &.md-raised{
            background-color: #0185f1;
            &:not([disabled]){
              box-shadow: none;
              &.md-focused{
                background-color: #0185f1;
              }
              &:hover{
                background-color: #0185f1;
              }
            }
            &.upload-btn{
              &:not([disabled]){
                &:hover{
                  background-color: #fff;
                }
              }
              background: #fff;
              border:1px solid #0185f1;
              color:#0185f1;
            }
          }
        }
      }
      md-progress-circular{
        display: inline-block;
        vertical-align: middle;
        &.md-vanke-theme{
          .md-inner{
            .md-left{
              .md-half-circle{
                border-left-color:#0185f1;
                border-top-color:#0185f1;
              }
            }
            .md-right{
              .md-half-circle{
                border-right-color:#0185f1;
                border-top-color:#0185f1;
              }
            }
          }
        }
      }
    }
  }

}
.e-dialog{
  a{
    &.md-button{
      &:not([disabled]){
        &:hover{
          background-color: transparent;
        }
      }
    }
  }
}
.ddetail{
  md-progress-circular{
    &.md-vanke-theme{
      .md-inner{
        .md-left{
          .md-half-circle{
            border-left-color:#0185f1;
            border-top-color:#0185f1;
          }
        }
        .md-right{
          .md-half-circle{
            border-right-color:#0185f1;
            border-top-color:#0185f1;
          }
        }
      }
    }
  }
  .detailTop{
    position: relative;padding:8px 16px;background: #fff;border-bottom: 1px solid #d8d8d8;
    .dTopr{
      position: absolute;right: 16px;top:50%;-webkit-transform: translate3d(0, -50%, 0);transform: translate3d(0, -50%, 0);
      a{
        position: relative;display: inline-block;
        md-icon{
          width:10px;height:10px;background: #0185f1;position: absolute;left:10px;top:10px;
        }
      }
    }
  }
  .detaillist{
    position: relative;
    md-list-item{
      &.md-no-proxy{
        padding:32px 11px;
      }
    }
    &:before{
      content:"";
      width:1px;
      height:auto;
      background: #d8d8d8;
      position: absolute;
      left:16px;
      top:50px;
      bottom:100px;
    }
    p{
      font-size: 14px;
      color:#666;
      padding-left: 20px;
      &.alread{
        background:url(main/xhsc/images/icon-dot3.jpg) no-repeat left center;
      }
      &.downing{
        background:url(main/xhsc/images/icon-dot2.jpg) no-repeat left center;
      }
      &.not{
        background:url(main/xhsc/images/icon-dot1.jpg) no-repeat left center;
      }
      span{
        font-size:18px;
        color:#000;
        display: inline-block;
        min-width: 120px;
      }
    }
    md-progress-linear{
      .md-container{
        background-color: rgb(170,209,249);
      }
      &.md-vanke-theme{
        .md-bar{
          background-color: rgb(16,108,200);
        }
      }
    }
  }
}
.filter{
  md-list-item{
    position: relative;
    text-align: center;
    border-bottom:2px solid transparent;
    .md-button{
      margin:8px 0;
      line-height: 24px;
      min-height:24px;
      border-radius: 0;
      width:100%;
      font-size:16px;
      &.md-vanke-theme{
        &:not([disabled]){
          &:hover{
            background: rgba(255,255,255,0.2);
          }
        }
      }
      span{
        width:100%;
        display: block;
        text-align: center;
        i{
          display: inline-block;
          width:12px;
          height:12px;
          border-radius:50%;
          margin-right:10px;
          vertical-align: top;
          margin-top:5px;
        }
        &.ing{
          i{
            background: #38b7ea;
          }
          color:#38b7ea;
        }
        &.done{
          i{
            background: #54cb00;
          }
          color:#54cb00;
        }
        &.yet{
          i{
            background: #999;
          }
          color:#999;
        }
      }
    }
    &:after{
      content:"";
      width:1px;
      height:20px;
      background: #d8d8d8;
      position: absolute;
      right:0;
      top:13px;
    }
    &:last-child:after{
      width:0;
    }
    &.active{
      border-color: #f00;
    }

  }
}
.viewer-invisible{
  display: none;
}
.viewer-delete{
  &:before{
    content:"";
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    color: transparent;
    background:url(main/xhsc/images/del.png) no-repeat center center;
  }
}
.inner-footerbar{
  md-toolbar{
    //position:fixed;bottom:0;left:0;
    box-shadow:0 0 12px #999;
    height: 40px;
    line-height: 40px;
    min-height: 40px;
    &.md-vanke-theme{
      &:not(.md-menu-toolbar){
        background:#fff;
        .md-button:not(.md-raised){
          color:#e93030;
        }
      }
    }
    .md-button{
     // width:100%;
      display: block;
      text-align: center;
      margin:3px;
    }
  }
}
.selectArea{
  .md-subheader{
    .md-subheader-inner{
      background: rgb(245,245,245);
      padding:5px 0;
    }
  }

  .md-select-value{
    span{
      padding:4px;
    }
    .md-text{
      font-size:16px;
    }
  }
}
[md-theme="vanke"]{
  .leaflet-control{
    a{
      color:#fff;
    }
  }
}
#rightsidenav{

  .filter{
    md-list-item{
      position: relative;
      text-align: center;
      .md-button{
        margin:8px 0;
        line-height: 24px;
        min-height:24px;
        border-radius: 0;
        width:100%;
        span{
          i{
            display: inline-block;
            width:12px;
            height:12px;
            border-radius:50%;
            margin-right:10px;
            vertical-align: middle;
          }
          &.ing{
            i{
              background: #f00;
            }
            color:#f00;
          }
          &.done{
            i{
              background: #f00;
            }
            color:#f00;
          }
          &.yet{
            i{
              background: #f00;
            }
            color:#f00;
          }
        }
      }
      &:after{
        content:"";
        width:1px;
        height:20px;
        background: #d8d8d8;
        position: absolute;
        right:0;
        top:10px;
      }
      &:last-child:after{
        width:0;
      }
      &.active{
        border-bottom: 1px solid #f00;
      }

    }
  }
  .search{
    margin:8px 16px;
    .search_bar{
      width:100%;
      position: relative;
      .inputtext{
        width:100%;
        height:32px;
        border:1px solid #d8d8d8;
        border-radius:6px;
        text-align: center;
        box-sizing:border-box;
        background: #fff;
        span{
          display: inline-block;
          line-height: 32px;
        }
      }
    }

  }
  .room-list{
    md-list-item{
      margin:8px;
      border:2px solid #d8d8d8;
      border-radius:10%;
      min-height: 32px;
      border-radius:32px;
      overflow: hidden;
      float: left;
      width:20%;
      ._md-no-style{
        padding: 0;
        min-height: 32px;
        .md-button{
          min-height: 32px;
          line-height: 32px;
          min-width: 50px;
          margin: 0;
          width:100%;
          p{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 800px){
  .floor-list{
    .right{
      &.engineer{
        md-list-item{
          width:20%;
        }
      }
    }
  }
  .photodraw{
    .photo-btn{
      .md-button{
        min-width:44px;
        margin-left:3px;
        margin-right:3px;
        &.md-icon-button{
          width:30px;
        }
      }
    }
  }
}
@media (min-width: 600px){
  #rightsidenav{
    md-sidenav {
      max-width: 550px !important;
    }
  }
}
.zlpkheader{
  background:rgb(245,245,245);;
  border: 1px solid #d8d8d8;
  font-size:16px;
  >div{
    height: 46px;
    line-height: 46px;
    //border-left: 1px solid #d8d8d8;
    //border-right: 1px solid #d8d8d8;
    text-align: center;
    .bd{
      border-right: 1px solid #d8d8d8;margin-right:-1px;
      .bdtop{
        width:100px;text-align: center;height:23px;line-height: 23px;border-bottom: 1px solid #d8d8d8;
        white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
      }
    }
    &:first-child{
      border-left: 0;
    }
    &:last-child{
      border-right:0;
    }
  }
}
.zlpksub{
  font-size:14px;
  .md-subheader{
    background: #e93030;
    .zlpksubheader{
      color:white;
    }
  }
  table{
    p{
      &.pname{
        margin: 0 auto;
        padding: 0;
      }
    }
  }

}

.zlpklist{
    table{
      border-collapse: collapse;

      tr{
        td{
          line-height: 150%;
          border-right:1px solid #d8d8d8;
          border-bottom:1px solid #d8d8d8;
          p{
            padding: 5px;
            margin: 0;
          }
          &:last-child{
            border-right:0;
          }
        }
        &:last-child{
          >td{
            border-bottom: 0;
          }
        }
      }
    }
    >table{
      border-bottom:1px solid #d8d8d8;
      border-left:1px solid #d8d8d8;
      border-right:1px solid #d8d8d8;
    }

}
.zlpktables {
  td {
    p{
      //padding:4px;
    }
    &.lr {
      color: #0fb2fb;
      .img {
        margin: 0;
        padding: 0;
        *{
          margin: 0;
          padding: 0;
        }

        li {
          display: inline-block;
          vertical-align: middle;
          list-style: none;
        }
        img {
          margin-right: 5px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
.questionlist{
  md-list-item{
    p{
      padding-left: 150px;
    }
    .md-secondary{
      left:0;
      right:auto;
    }
    md-input-container{
      margin:0;
      width:80px;
      .md-errors-spacer{
        min-height: 0;
      }
    }
  }

}
.quesdetail{
  md-list-item{
    border-bottom: 1px solid #d8d8d8;
    &.md-no-proxy{
      padding: 0;
    }

  }
  md-toolbar{
    &.md-vanke-theme{
      &:not(.md-menu-toolbar){
        background-color: #e93030;
      }
    }
    min-height: 40px;
    .md-toolbar-tools{
      height:40px;max-height: 40px;
    }
  }

  .md-button{
    min-width: 50px;
  }
}
.zb{
   background-color: white;
  table{
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 10px;
    tr{
      td,th{
        border:1px solid #d8d8d8;
        padding: 0 6px;
        height:40px;
        line-height:40px;
      }
    }
  }
}

.zb{
  .reportWrap{
    td{
      padding: 0px;
      text-align: center;
    };
    .td_left {
      text-align: left;;
    }
  ;
  }
  .report{
    border: 0px solid;
    width: 100%;
    margin: 0px;
    td{
      text-align: center;
      padding: 0px;
      border: 0px solid;
      border-right: 1px solid #d8d8d8;
    };
    tr{
      border-bottom: 1px solid #d8d8d8;
    };
    tr:last-of-type{
      border-bottom: 0px solid;
    };
    td:last-of-type {
      border-right: 0px solid ;
    };
  }
}

.glxwdialog{
  max-width:60%;width:60%;
  md-dialog-content{
    padding-bottom: 0;padding-top:16px;
    p{
      margin-bottom: 0;
    }
    md-list{
      md-list-item{
        padding: 0;
        p{
          span{
            display: inline-block;width: 65px;
          }
        }
      }
    }
  }

}
[md-theme="vanke"]{
  .homeTab{
    a{
      color:#666;
    }
  }
}
md-bottom-sheet{
  &.md-list {

    .homeTab {

      md-list-item {
        height: 136px;
      }

    }
  }
}
//.recheck{
//  position: fixed;top:0;left:0;bottom:0;right:0;background: transparent;z-index:28;
//
//}
.slideTop{
  position: fixed;top:44px;left: 0;width:100%;background:#fff;
  transition: all .5s ease;
  transform: translate3d(0,-120%,0);
  border-bottom:1px solid #d8d8d8;
  box-shadow: 0 10px 10px rgba(0,0,0,.3);
  z-index:30;
  &.slidedown{
    transform: translate3d(0,0,0);
  }
  md-list{
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
    margin-top: 10px;
    background: #fff;
    padding: 0 10px;
    md-list-item{
      &.md-no-proxy,.md-no-style{
        padding:0;
      }
      >p{
        font-size:14px;
        color:#999;
      }
      border-bottom: 1px solid #dedede;
      &:last-child{
        border-bottom: none;
      }
      label{
        display: inline-block;
        width:80px;
        vertical-align: middle;
        margin-bottom: 0;
        margin-right:24px;
        padding-left:8px;
        font-size:14px;
        font-weight: normal;
        color:#333;
        text-align:justify;
        text-justify:distribute-all-lines;/*ie6-8*/
        text-align-last:justify;/* ie9*/
        -moz-text-align-last:justify;/*ff*/
        -webkit-text-align-last:justify;/*chrome 20+*/
      }
    }
    //&.gxplist{
    //  margin-top: -1px;
    //  md-list-item{
    //    p{
    //      text-align: center;line-height: 46px;
    //    }
    //  }
    //}
  }
}
.gxxz{
  font-size: 12px;
  md-list{
    &.gxfilter{
      background:#fff;padding:0;border-bottom: 1px solid #d8d8d8;
      md-list-item{
        border-bottom: 2px solid #fff;
        &.active{
          border-bottom: 2px solid #ff3434
        }
        .md-button{
          line-height: 20px;
          min-width: 60px;
          margin:6px 0;
          font-size: 12px;
          span{
            display: block;
            text-align: center;
            i{
              display: inline-block;
              width:14px;
              height:14px;
              border:1px solid #fff;
              border-radius: 3px;
              margin-right: 3px;
              vertical-align: middle;
              &.wy{
                border:1px solid #CDDC39;
                background:#CDDC39;
              }
              &.dy{
                //border:1px solid #DCDCDC;
                //background:#00b0e8;
                border:1px solid #d6d6d6;
                background: #f6f6f9;
              }
              &.pass{
                border:1px solid #169e49;
                background: #ddffea;
              }
              &.ng{
                border:1px solid #ff3434;
                background: #ffebea;
              }
              &.yet{
                border:1px solid #d8d8d8;
                background: #7ea2b4;
              }
              &.yzg{
                border:1px solid #fed189;
                background: #fff3e6;
              }
              &.wait{
                border:1px solid #d8d8d8;
                background: #fff;
              }
            }
          }
        }

      }

    }
  }
}
.roomllist{
  font-size: 12px;
  md-list-item{
    //margin:8px;
    min-height: 32px;
    float: left;
    width:20%;
    margin:0 0 10px;
    &.md-no-proxy{
      padding: 0 5px;
    }
    .md-list-item-inner {
      > p {
        width: 100%;
        text-align: center;
        flex: none;
      }
    }
    .md-no-style{
      border:1px solid #d8d8d8;
      border-radius:3px;
      padding: 0;
      min-height: 32px;
      margin:8px;
      overflow: hidden;
      .md-button{
        min-height: 32px;
        line-height: 32px;
        min-width: 50px;
        margin: 0;
        width:100%;
        p{
          padding: 0;
          margin: 0;
        }
      }
    }
    .md-button{
      min-height: 32px;
      line-height: 32px;
      min-width: 50px;
      margin: 0;
      width:100%;
      border:2px solid #dedede;
      border-radius:6px;
      padding: 0;
      min-height: 32px;
      margin:8px;
      overflow: hidden;
      &.pass{
        border:1px solid #169e49;
        background: #ddffea;
      }
      &.ng{
        border:1px solid #ff3434;
        background: #ffebea;
      }
      &.yet{
        border:1px solid #dedede;
        background: #f6f9f9;
      }
      &.wait{
        border:1px solid #dedede;
        background: #fff;
      }
      p{
        padding: 0;
        margin: 0;
      }
    }
  }
}
.my-dialog-mask{
  position: fixed;
  bottom:0;
  top:0;
  left:0;
  right:0;
  background: rgba(0,0,0,.6);
  z-index:100;
  display: none;
  .my-dialog{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    .dialog-top,.dialog-bottom{
      background: #fff;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 10px;
      width:90%;
      margin-left: auto;
      margin-right:auto;
      border-radius: 6px;
      .md-button{
        font-size:16px;
        display: block;
        margin:0 auto;
        padding:8px 0;
      }
    }
    .dialog-top{
      //padding:20px;
      color:#fe6767;
      p{
        //margin-bottom: 5px;
        //padding:20px;
        //border-bottom: 1px solid #d8d8d8;
        line-height: 22px;
        margin-bottom: 0;
        color:#999;
      }
    }
    .dialog-bottom{
      color:#4bb9f3;
    }
  }
}
.photo{
  display: inline-block;
  width:40px;
  height:40px;
  background: #49affe;
  text-align: center;
  vertical-align: middle;
  margin:10px;
  i{
    display: block;
    font-style: normal;
    color:#fff;
    font-size:12px;
    height:20px;
    width:100%;
  }
}
.md-button{
  &.addphoto{
    margin:0 10px;
    padding:0;
  }
}

.homeTab{

  background: #fff;
  padding: 26px 10px 0 10px;
  h2{
    font-size: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 0;
    margin-bottom: 0;
    color:#666;
    background: url("main/xhsc/images/floor-icon.png") no-repeat left top;
    background-size:20px auto;
    padding-left: 30px;
  }
  md-content{
    padding: 0;
    margin-bottom: 20px;
    md-list{
      padding: 0;
      .md-button{
        margin-top:18px;
        margin-bottom: 12px;
        margin-left:auto;
        margin-right:auto;
      }
    }
  }
  //&:not(.md-no-tab-content){
  //  &:not(.md-dynamic-height){
  //    min-height: 200px;
  //  }
  //}

  md-tabs{
    &.md-vanke-theme {
    .md-tab{
      position: relative;
      &.md-active{
        //&:before{
        //  content:"";
        //  border-top:8px solid #f00;
        //  border-left:8px solid transparent;
        //  border-right:8px solid transparent;
        //  left:40px;
        //  bottom:0px;
        //  position: absolute;
        //}
      }
    }
      //md-ink-bar{
      //  &:before{
      //    content:"";
      //    border-top:8px solid #f00;
      //    border-left:4px solid transparent;
      //    border-right:4px solid transparent;
      //    left:40px;
      //    top:10px;
      //    position: relative;
      //  }
      //}
    }

  .md-button{
    font-size: 12px;
    line-height: 28px;
  }
  .md-tab{
    font-size: 12px;
    padding:12px 0;
    width:77px;
    text-align: center;
  }
}
}
.ryxz{
  .labs{
    border:1px solid #f00;
    padding:5px 15px;
    display: inline-block;
    position: relative;
    margin:8px;
    i{
      display: inline-block;
      position: absolute;
      right:-10px;
      background:url("main/xhsc/images/dej.png") no-repeat center center;
      background-size:100% 100%;
      width:20px;
      height:20px;
      top:3px;
    }
  }
}
.pcenter{
  md-list{
    md-list-item{
      margin:10px 0;
      border:1px solid #d8d8d8;
      background: #fff;
    }
  }
}
.changetel{
  width: 80%;
  .new-btn{
    text-align: center;border-right:1px solid #d8d8d8;min-height:40px;font-size:14px;line-height: 40px;color:#333;
    text-decoration: none;
    &.noborder{
      border-right:none;
    }
  }
}
sxt-sc-view.leaflet-container{
  background-color: white;
}
md-slider{
  &.myslider{
    .md-focus-ring{
      opacity: 0;
    }
    &:not([md-discrete]){
      &:not([disabled]){

        &:focus {
          .md-focus-ring{
            -webkit-transform:scale(.8);
            transform:scale(.8)
          }
        }
        &:hover{
          .md-thumb{
            -webkit-transform:scale(.6);
            transform:scale(.6)
          }
        }
      }
    }
  }
}
.mapcheck{
  .leaflet-popup-content{
    margin:13px 5px;
  }
}

.downcaret{
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-top: 5px solid \9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}
.choose-datepicker{
  md-datepicker{
    margn-right:0;
    padding-right: 0;
    .md-datepicker-input{
      min-width:150px;
    }
  }
}
