<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.sxt.cordova" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>sxt</name>
  <description>公司自定插件</description>

  <platform name="android">
    <js-module name="sxt" src="www/sxt.cordova.js">
      <clobbers target="cordova.plugins.sxt"/>
    </js-module>
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="sxt">
        <param name="android-package" value="com.sxt.cordova.sxt"/>
        <param name="android-package" value="PlayActivity.java" />
      </feature>
    </config-file>
    <source-file src="src/android/sxt.java" target-dir="src/com/sxt/cordova"/>
    <source-file src="src/android/PlayActivity.java" target-dir="src/com/sxt/cordova"/>
    <source-file src="src/android/activity_play.xml" target-dir="res/layout"/>
  </platform>
  <platform name="ios">
    <js-module name="sxt" src="www/sxt.cordova.js">
      <clobbers target="cordova.plugins.sxt"/>
    </js-module>
    <config-file parent="/*" target="config.xml">
      <feature name="sxt">
        <param name="ios-package" value="sxt"/>
      </feature>
    </config-file>
    <header-file src="src/ios/sxt.h"></header-file>
    <source-file src="src/ios/sxt.m"></source-file>
  </platform>
</plugin>
