<div class="recheck slideTop" id="recheck" style="position: fixed;top:0;left:0;bottom:0;right:0;background: transparent;z-index:28;box-shadow:0 0 0 transparent;border-bottom: none;" ng-class="{'slidedown':slideShow}"></div>
<div class="slideTop" id="slideTop" ng-class="{'slidedown':slideShow}">
  <md-list style="margin-top: 0">
    <md-list-item>
      <label>问题描述</label>
      <p>{{data.value.ProblemDescription}}</p>
    </md-list-item>
    <md-list-item ng-if="role == 'zb'">
      <label>首验照片</label>
      <p>
          <span class="photo" ng-click="playImage(images.jl)">
            <i>照片</i><i>{{images.jl.length}}</i>
          </span>
      </p>
    </md-list-item>
    <md-list-item ng-if="role == 'zb'">
      <label>整改照片</label>
      <p>
          <span ng-if="Record.zb && images.zb.length" class="photo" ng-click="playImage(images.zb)">
            <i>照片</i><i>{{images.zb.length}}</i>
          </span>
        <md-button style="min-width: 40px;" class="addphoto" ng-click="addPhoto(warter)"><img src="app/main/xhsc/images/plus-gx.png" width="40"></md-button>
      </p>
    </md-list-item>
    <md-list-item ng-if="role == 'zb'">
      <label>备注</label>
      <p>
        <input placeholder="备注" style="border: none;" ng-model="Record.zb.Remark">
      </p>
    </md-list-item>
    <md-list-item ng-if="role == 'zb'">
      <label>整改状态</label>
      <p style="text-align: right;margin-right:70px;">
        {{data.value.Status==8?'未整改':'已整改'}}<md-switch ng-model="data.value.Status" ng-true-value="16" ng-false-value="1" class="md-secondary"></md-switch>
      </p>
    </md-list-item>
    <md-list-item ng-if="role == 'jl'||role==''">
      <label>整改前照片</label>
      <p>
          <span class="photo" ng-click="playImage(images.jl)">
            <i>照片</i><i>{{images.jl.length}}</i>
          </span>
        <!--<span class="photo">-->
        <!--<i>照片</i><i>2</i>-->
        <!--</span>-->
      </p>
    </md-list-item>
    <md-list-item ng-if="role == 'jl'||role==''">
      <label>整改后照片</label>
      <p>
          <span class="photo" ng-click="playImage(images.zb)">
            <i>照片</i><i>{{images.zb.length||0}}</i>
          </span>
      </p>
    </md-list-item>
    <md-list-item ng-if="role == 'jl'">
      <label>备注</label>
      <p>
        {{Record.zb.Remark || '无'}}
      </p>
    </md-list-item>
    <md-list-item ng-if="role == 'jl'">
      <label>复验状态</label>
      <p style="text-align: right;margin-right:70px;">
        {{data.value.Status==2?'合格':'不合格'}}<md-switch ng-model="data.value.Status" ng-true-value="2"  ng-false-value="4" class="md-secondary"></md-switch>
      </p>
    </md-list-item>
    <!--<md-list-item ng-if="role == 'zj'">-->
    <!--<label>整改后照片</label>-->
    <!--<p>-->
    <!--<span class="photo" ng-click="playImage()">-->
    <!--<i>照片</i><i>{{Record.zb.images.length||0}}</i>-->
    <!--</span>-->
    <!--</p>-->
    <!--</md-list-item>-->
    <md-list-item ng-if="role=='zj'">
      <label>状态 </label>
      <p style="text-align: right;margin-right:70px;">
        {{data.value.Status==2?'合格':'不合格'}}<md-switch ng-model="data.value.Status" ng-true-value="2"  ng-false-value="4" class="md-secondary"></md-switch>
      </p>
    </md-list-item>
  </md-list>
  <div layout="row">
    <md-button flex ng-click="cancel()" style="padding:6px 0;margin:0;border-right:1px solid #dedede;border-radius:0;">取消</md-button>
    <md-button flex ng-click="submit()" style="padding:6px 0;margin:0;">确定</md-button>
  </div>
  <!--<md-button flex ng-click="submit()" style="width: 100%;padding:6px 0;margin:0;">确定</md-button>-->
</div>
