/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
#splash-screen{
  background:rgb(245, 245, 245);;
  .logo{
    background-color:transparent;
    box-shadow:none;
  }
}

.active {
  .cls-1 {
    fill: #ff0000!important;
    stroke: #ffffff!important;
    stroke-width: 2px;
    fill-rule: evenodd;
  }

}
