<md-content layout-fill layout="column">
  <div flex layout="row" class="cjwt">
    <div flex="40" layout="column" style="background: #f0f0f0;">
      <md-content style="background: #f0f0f0;">
        <md-list class="p-0">
          <md-list-item ng-click="select()" class="active">
            <p>aaa</p>
          </md-list-item>
          <md-list-item ng-click="select()">
            <p>aaa</p>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
    <div flex layout="column">
      <md-content layout="column" flex>
        <div style="border-bottom: 1px solid #dedede;" class="cjwt-list ph-8" layout="row" layout-align="start center" ng-click="check()">
          <div layout="column" layout-align="start center" class="circle" flex="none">SC</div>
          <div layout="column" layout-align="start center" flex style="white-space: nowrap;overflow: hidden;display: block;">
            <div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">常见问题常见问题常见问题常见问题常见问题常见问题常见问题常见问题常见问题常见问题</div>
          </div>
          <!--<div layout="column" layout-align="end center" flex="none">-->
          <!--<div layout="row" layout-align="center center">-->
          <!--<md-checkbox ng-model="vm.checked" class="mb-0"></md-checkbox>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </md-content>
    </div>
  </div>
</md-content>

