  <div layout="column" flex style="border-top:1px solid #dedede;">
  <div layout="row" layout-align="space-between center" class="ph-16 pv-10"
       style="background-color: #f5f5f5">
    <div ng-click="cancel()">取消</div>
    <div ng-click="submit()">确定</div>
  </div>
  <md-divider></md-divider>
  <div layout="row" layout-align="space-between center" class="ph-16 pv-10" ng-click="chooseQues()">
    <div class="pr-10" flex="none">问题</div>
    <div flex class="question" ng-model="">{{question}}</div>
  </div>
  <md-divider></md-divider>
  <div layout="row" class="ph-16 pv-10">
    <div layout="column" class="pr-10" flex="none">照片</div>
    <!--<div class="img-list ph-5 pv-10 white-bg"   sxt-image-view="photos"  is-container = "true">-->
      <!--<img src="{{item.url}}" ng-repeat="item in photos" style="width: 60px;height: 70px;border: #DDDDDD 1px solid;" class="p-5 mh-10">-->
    <!--</div>-->

    <div class="img-list">
      <span ng-repeat="item in photos" class="photos" sxt-image-view="photos" is-container = "true" >
          <md-icon md-font-icon="icon-minus-circle"ng-click="remove($event,item)"
                   style="font-size: 16px; color: #ff0000;" class="remove"></md-icon>
        <img src="{{item.url}}"></span>
    </div>
    <div class="img-list">
      <span ng-click="addPhoto()"><img class="camera" src="app/main/szgc/images/add-photo.png" width="40"></span>
    </div>
  </div>
  <md-divider></md-divider>
  <label flex class="ph-16 pt-10">补充描述</label>
  <div layout="row" class="ph-16 pv-10">
    <textarea  style="width: 100%;padding:5px;border:1px solid #dedede;height: 100px;" placeholder="请输入补充描述" ng-model="description"></textarea>
  </div>
</div>
