.applicationPage1{
  img{
    height: 70px;
    width: 70px;
  }
  a{
    text-decoration: none;
    color: black;
    margin-bottom: 12px;
    width: 100%;
  }
  .wrap{
    clear: both;
  }
  .fl{
    float: left;
  }

}
@media screen and (max-width: 600px){
  .applicationPage1{
    .fl{
      width: 33%;
    }
  }
}
@media screen and (min-width: 600px) {
  .applicationPage1{
    .fl{
      width: 25%;
    }
  }
}
