<!--<ms-gen-select></ms-gen-select>-->
<md-progress-circular id="toolbar-progress" ng-if="!vm.loaded" class="md-accent"
                      md-mode="indeterminate" md-diameter="28" style="margin-left: 8px;margin-top: 8px">
</md-progress-circular>

<div ng-if="vm.loaded"  class="applicationPage">
  <div ng-repeat="item in vm.yw" ng-if="vm.show(item)">
    <p  class="subtitle">{{item.name}}<p/>
    <div class="fl" ng-repeat="k in item.items" ng-if="k.right">
        <a ng-click="vm.click(k)"  layout="column" layout-align="center center">
          <img ng-src="{{k.img}}"/>
          <p>{{k.title}}</p>
        </a>
      </div>
    <div class="clear"></div>
  </div>
</div>

