
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span>{{(vm.cid && vm.cid!=0)?"合同材料管理":"材料管理" }}</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>

<md-content flex layout-fill class="white-bg" layout-padding >
  <form name="myForm" ng-submit="vm.save()">
    <md-input-container class="md-block" style="height: 58px;">
      <label>材料分类</label>
      <md-select name="MaterialClassId" required ng-model="vm.data.MaterialClassId" ng-disabled="vm.pageState">
        <md-option ng-value="item.Id" ng-repeat="item in vm.materialType">{{item.CategoryName}}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block">
      <label>材料名称</label>
      <input name="MaterialName" required type="text" ng-model="vm.data.MaterialName" ng-disabled="vm.pageState">
      <div ng-messages="myForm.MaterialName.$error" ng-show="myForm.MaterialName.$touched" role="alert">
        <div ng-message="required">
          <span>请材料分类.</span>
        </div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>型号</label>
      <input type="text" ng-model="vm.data.Model" ng-disabled="vm.pageState">
      <div class="hint">多个型号请用中文逗号"，"分隔</div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>规格</label>
      <input type="text" ng-model="vm.data.Specifications" ng-disabled="vm.pageState">
      <div class="hint">多个规格请用中文逗号"，"分隔</div>
    </md-input-container>
    <md-input-container class="md-block" ng-if="!vm.pageState">
      <label>厂家/品牌</label>
      <input type="text" ng-model="vm.data.Brands">
      <div class="hint">多个厂家/品牌请用中文逗号"、"分隔</div>
    </md-input-container>

    <md-chips ng-if="vm.pageState" ng-model="vm.Brands" name="fruitName" readonly="true"
              md-removable="true" md-max-chips="5">
      <md-chip-template>
        <strong>{{$chip}}</strong>
      </md-chip-template>
    </md-chips>

    <div layout="row" flex>
      <md-button type="submit" class="md-primary md-raised">
        保存
      </md-button>
      <md-button ui-sref="app.material.materialLibrary({cid:vm.cid!=0?vm.cid:null})" class="md-primary md-raised">
        返回
      </md-button>
    </div>
  </form>
</md-content>

