<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span>合同管理</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>
<md-content flex layout-fill class="white-bg" layout-padding>
  <form name="myForm" flex ng-submit="vm.save()">
    <div layout="row">
      <md-input-container class="md-block" style="height: 58px;" flex="100">
        <label>乙方（总包）</label>
        <md-select name="PartnerId" required ng-model="vm.data.PartnerId" md-on-close="vm.clearSearchTerm()"
                   data-md-container-class="selectdemoSelectHeader">
          <md-select-header class="demo-select-header">
            <input ng-model="vm.searchTerm"
                   type="search"
                   placeholder="搜索.."
                   class="demo-header-searchbox md-text">
          </md-select-header>
          <md-option ng-value="item.Id" ng-repeat="item in vm.Partners | filter:vm.searchTerm">{{item.OUName}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="100" class="md-block">
        <label>合同名称</label>
        <input type="text" name="Name" required ng-model="vm.data.Name">
        <div ng-messages="myForm.Name.$error" ng-show="myForm.Name.$touched" role="alert">
          <div ng-message="required">
            <span>请输入合同名称.</span>
          </div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex="100" class="md-block">
        <label>合同编号</label>
        <input type="text" name="Number" required ng-model="vm.data.Number">
        <div ng-messages="myForm.Number.$error" ng-show="myForm.Number.$touched" role="alert">
          <div ng-message="required">
            <span>请输入合同编号.</span>
          </div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container class="md-block" style="height: 58px;" flex="100">
        <label>材料库</label>
        <md-select name="MaterialTypeId" required ng-model="vm.MaterialIds" multiple>
          <md-option ng-value="item.Id" ng-repeat="item in vm.materialClass">{{item.CategoryName}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <md-button type="submit" class="md-primary md-raised">
      保存
    </md-button>
    <md-button ui-sref="app.material.contracts" class="md-primary md-raised">
      返回
    </md-button>
  </form>
</md-content>
