<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span>材料进场计划</span>
    </h2>
    <span flex="5"></span>
    <md-select style="font-size:13px;margin-right:20px;" name="projectId" ng-model="vm.ProjectId">
      <md-option ng-value="p.ProjectID" ng-selected="p.selected" ng-repeat="p in vm.projects">{{p.ProjectName}}
      </md-option>
    </md-select>
    <md-select style="font-size:13px;margin-right:20px;" name="sectionId" ng-model="vm.RegionId">
      <md-option ng-value="p.RegionID " ng-selected="p.selected" ng-repeat="p in vm.regions">{{p.RegionName}}
      </md-option>
    </md-select>
    <md-select style="font-size:13px;margin-right:20px;" name="sectionId" ng-model="vm.SectionId">
      <md-option ng-value="p.RegionID" ng-selected="p.selected" ng-repeat="p in vm.sections">{{p.RegionName}}
      </md-option>
    </md-select>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-font-icon="icon-plus" ui-sref="app.material.plan"></md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-content flex layout="column" ms-scroll>
  <table class="simple">
    <thead>
    <tr>
      <th style="min-width: 60px;padding-left: 12px;">序号</th>
      <th>计划名称</th>
      <!--<th>材料/设备名称</th>-->
      <!--<th>型号</th>-->
      <!--<th>规格</th>-->
      <th>进场计划时间</th>
      <th style="text-align: center;">进场计划数量</th>
      <th>使用部位</th>
      <th>合同编号</th>
      <th style="min-width: 80px;">供货方式</th>
      <th style="min-width: 70px;">状态</th>
      <th style="width: 160px; text-align: center;"><span class="pl-16">管理</span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.data">
      <td ng-bind="$index+1" style="min-width: 60px;">1</td>
      <td>{{item.PlanName}}</td>
      <!--<td>{{item.MaterialName}}</td>-->
      <!--<td>{{item.Model}}</td>-->
      <!--<td>{{item.Specifications}}</td>-->
      <td>{{item.PlanTime | date:'yyyy-MM-dd'}}</td>
      <td style="text-align: center;">{{item.PlanCount + item.Unit}}</td>
      <td>{{item.Position}}</td>
      <td>{{item.Contract}}</td>
      <td>
        <!--{{item.SupplyType}}-->
        <label ng-if="item.SupplyType == 1">甲供</label>
        <label ng-if="item.SupplyType == 2">认质认价</label>
        <label ng-if="item.SupplyType == 4">甲指乙供</label>
      </td>
      <td>
        <!--{{item.Status}}-->
        <label ng-if="item.Status == 1">未进场</label>
        <label ng-if="item.Status == 2">未验收</label>
        <label ng-if="item.Status == 4">已关闭</label>
      </td>
      <td class="actions">
        <md-button class="md-icon-button" aria-label="Settings" ui-sref="app.material.plan({id:item.Id})" ng-hide="item.Status!=1" style="margin: 0;">
          <md-icon md-font-icon="icon-pencil" class="icon s24"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.delete(item.Id)" ng-hide="item.Status!=1" style="margin: 0;">
          <md-icon md-font-icon="icon-delete" class="icon s24"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Settings" ui-sref="app.material.batchDetail({planId:item.Id})" style="margin: 0;">
          <md-icon md-font-icon="icon-document" class="icon s24"></md-icon>
        </md-button>
      </td>
    </tr>
    </tbody>
  </table>
</md-content>
<div layout="row">
  <span flex></span>
  <md-select ng-model="pageing.pageSize" class="pageSZ">
    <md-option value="10">10</md-option>
    <md-option value="20">20</md-option>
    <md-option value="40">40</md-option>
    <md-option value="80">80</md-option>
    <md-option value="100">100</md-option>
  </md-select>
  <div style="text-align: right;margin-right: 15px"
       paging page="pageing.page"
       page-size="pageing.pageSize"
       total="pageing.total"
       paging-action="vm.pageAction('bar', page, pageSize, total)">
  </div>
</div>
