
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span>材料进场计划</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>

<md-content flex layout-fill class="white-bg" layout-padding >
  <form>
    <div layout="row">
      <md-input-container class="md-block" flex="40">
        <label>项目</label>
        <md-select name="projectId" ng-model="vm.data.ProjectId">
          <md-option ng-value="p.ProjectID" ng-repeat="p in vm.projects">{{p.ProjectName}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex="30">
        <label>分期</label>
        <md-select name="sectionId" ng-model="vm.data.RegionId">
          <md-option ng-value="p.RegionID " ng-selected="p.selected" ng-repeat="p in vm.regions">{{p.RegionName}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex="30">
        <label>标段</label>
        <md-select name="sectionId" ng-model="vm.data.SectionId">
          <md-option ng-value="p.RegionID" ng-selected="p.selected" ng-repeat="p in vm.sections">{{p.RegionName}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container class="md-block" style="height: 58px;" flex="40">
        <label>材料/设备名称</label>
        <md-select name="MaterialId"  ng-model="vm.data.Material">
          <md-option ng-value="item"  ng-selected="item.selected" ng-repeat="item in vm.materials" ng-click="vm.init(item)">{{item.MaterialName}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" style="height: 58px;" flex="30">
        <label>规格</label>
        <!--<input type="text" ng-disabled="true" ng-model="vm.Specifications">-->
        <md-select name="Specifications"  ng-model="vm.data.Specifications">
          <md-option ng-value="item"  ng-selected="item.selected" ng-repeat="item in vm.Specifications">{{item}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" style="height: 58px;" flex="30">
        <label>型号</label>
        <!--<input type="text" ng-disabled="true" ng-model="vm.Model">-->
        <md-select name="Specifications"  ng-model="vm.data.Model">
          <md-option ng-value="item"  ng-selected="item.selected" ng-repeat="item in vm.Models">{{item}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <md-input-container class="md-block">
      <label>计划进场时间</label>
      <md-datepicker ng-model="vm.data.PlanTime" md-open-on-focus></md-datepicker>
    </md-input-container>
    <md-input-container class="md-block">
      <label>计划进场数量 </label>
      <input type="number" ng-model="vm.data.PlanCount" min="0">
    </md-input-container>
    <md-input-container class="md-block">
      <label>计量单位</label>
      <input type="text" ng-model="vm.data.Unit">
    </md-input-container>
    <md-input-container class="md-block">
      <label>使用部位</label>
      <input type="text" ng-model="vm.data.Position">
    </md-input-container>
    <md-input-container class="md-block" style="height: 58px;">
      <label>供货方式</label>
      <md-select ng-model="vm.data.SupplyType">
        <md-option ng-value="item.type" ng-repeat="item in vm.SupplyType">{{item.name}}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block">
      <label>合同编号</label>
      <input type="text" ng-model="vm.data.Contract">
    </md-input-container>
  </form>
  <div layout="row" flex>
    <md-button ng-click="vm.save()" class="md-primary md-raised">
      保存
    </md-button>
  </div>
</md-content>

