<md-toolbar class="md-hue-1" ng-if="!vm.isMobile">
  <div  class="md-toolbar-tools">
    <h4>
      <span>工序验收</span>
    </h4>
  </div>
</md-toolbar>
<div ng-if="!vm.isMobile||vm.isiPad">
  <md-card style="background-color: white;" md-theme-watch>
    <md-card-content>
      <div flex layout="row">
        <md-input-container md-theme="default" flex>
          <label>项目</label>
          <md-select md-on-open="vm.getProjects()" ng-model="vm.projectId">
            <md-option ng-click="vm.clearRegion()" ng-repeat="item in vm.projects" ng-value="item.ProjectID">
              {{item.ProjectName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div style="width: 20px"></div>
      <div flex layout="row">
        <md-input-container md-theme="default" flex>
          <label>分期</label>
          <md-select md-on-open="vm.getAreas(vm.projectId)" ng-model="vm.regionId">
            <md-option ng-click="vm.clearSection()" ng-repeat="item in vm.regions" ng-value="item.RegionID">
              {{item.RegionName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div style="width: 20px"></div>
      <div flex layout="row">
        <md-input-container md-theme="default" flex>
          <label>标段</label>
          <md-select md-on-open="vm.getSections(vm.regionId)" ng-model="vm.sectionId">
            <md-option ng-click="vm.getData(item.RegionID)" ng-repeat="item in vm.sections" ng-value="item.RegionID">
              {{item.RegionName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>
   <form method="post" action="http://emp.chngalaxy.com:9091/api/MaterialPlan/GetMaterialReportXls" target="_blank">
   <!--<form method="post" action="http://localhost:5000/api/MaterialPlan/GetMaterialReportXls" target="_blank">-->
              <input id="export" type="hidden" name="table" />
              <input id="tital" type="hidden" name="tital" value="材料验收统计" />
              
              <md-button class="md-raised md-primary" type="submit" ng-click="vm.printBatchCount()" ng-if="vm.isiPad == null">Excel导出</md-button>
          </form>
  <div layout="row" flex>
    <div id="divReport" style="margin: 24px 16px;overflow:auto;">
    <table class="materialReport">
      <thead>
      <tr>
        <th style="border: 1px solid #ddd">进场计划</th>
        <th style="border: 1px solid #ddd">材料设备名称</th>
        <th style="border: 1px solid #ddd">计划进场时间</th>
        <th style="border: 1px solid #ddd">计划进场数量</th>
        <th style="border: 1px solid #ddd">使用部位</th>
        <th style="border: 1px solid #ddd">合同编号</th>
        <th style="border: 1px solid #ddd">供货方式</th>
        <th style="border: 1px solid #ddd">型号</th>
        <th style="border: 1px solid #ddd">规格</th>
        <th style="border: 1px solid #ddd">厂家品牌</th>
        <th style="border: 1px solid #ddd">实际进场数量</th>
        <th style="border: 1px solid #ddd">有无封样</th>
        <th style="border: 1px solid #ddd">进场时间</th>
        <th style="border: 1px solid #ddd">供货方</th>
        <th style="border: 1px solid #ddd">进场验收时间</th>
        <th style="border: 1px solid #ddd">验收人</th>
        <th style="border: 1px solid #ddd">验收情况</th>
        <th style="border: 1px solid #ddd">送检需要</th>
        <th style="border: 1px solid #ddd">不合格处理</th>
        <th style="border: 1px solid #ddd">送检时间</th>
        <th style="border: 1px solid #ddd">送检人</th>
        <th style="border: 1px solid #ddd">检验单编号</th>
        <th style="border: 1px solid #ddd">报告日期</th>
        <th style="border: 1px solid #ddd">报告单编号</th>
        <th style="border: 1px solid #ddd">检验情况</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="item in vm.source">
        <td style="border: 1px solid #ddd; min-width: 200px; min-height: 70px;height: 70px;" rowspan="{{item.colp}}" ng-if="item.colp">{{item.PlanName}}</td>
        <td style="border: 1px solid #ddd" rowspan="{{item.colp}}" ng-if="item.colp">{{item.MaterialName}}</td>
        <td style="border: 1px solid #ddd" rowspan="{{item.colp}}" ng-if="item.colp">{{item.PlanTime | date:'yyyy-MM-dd'}}</td>
        <td style="border: 1px solid #ddd" rowspan="{{item.colp}}" ng-if="item.colp">{{item.PlanCount}}</td>
        <td style="border: 1px solid #ddd" rowspan="{{item.colp}}" ng-if="item.colp">{{item.Position}}</td>
        <td style="border: 1px solid #ddd" rowspan="{{item.colp}}" ng-if="item.colp">{{item.Contract}}</td>
        <td style="border: 1px solid #ddd" rowspan="{{item.colp}}" ng-if="item.colp">{{item.SupplyType==1?'甲供':item.SupplyType==2?'认质认价':'甲指乙供'}}</td>
        <td style="border: 1px solid #ddd">{{item.Model}}</td>
        <td style="border: 1px solid #ddd">{{item.Specifications}}</td>
        <td style="border: 1px solid #ddd">{{item.Brand}}</td>
        <td style="border: 1px solid #ddd">{{item.ApproachCount!=null?item.ApproachCount:''}}</td>
        <td style="border: 1px solid #ddd">{{item.IsPacking!=null?item.IsPacking?'有':'无':''}}</td>
        <td style="border: 1px solid #ddd;min-width: 150px;">{{item.ApproachTime|date:'yyyy-MM-dd hh:mm'}}</td>
        <td style="border: 1px solid #ddd">{{item.Supplier}}</td>
        <td style="border: 1px solid #ddd;min-width: 150px;">{{item.CheckTime|date:'yyyy-MM-dd hh:mm'}}</td>
        <td style="border: 1px solid #ddd">{{item.CurrentInspectorName}}</td>
        <td style="border: 1px solid #ddd">{{item.WgCheck!=null?item.WgCheck?'合格':'不合格':''}}</td>
        <td style="border: 1px solid #ddd">{{item.IsInspection!=null?item.IsInspection?'需要':'不需要':''}}</td>
        <td style="border: 1px solid #ddd">{{item.Opinion}}</td>
        <td style="border: 1px solid #ddd;min-width: 150px;">{{item.InspectionTime|date:'yyyy-MM-dd hh:mm'}}</td>
        <td style="border: 1px solid #ddd">{{item.Inspectioner}}</td>
        <td style="border: 1px solid #ddd">{{item.CheckList}}</td>
        <td style="border: 1px solid #ddd;min-width: 150px;">{{item.ReportTime|date:'yyyy-MM-dd hh:mm'}}</td>
        <td style="border: 1px solid #ddd">{{item.Report}}</td>
        <td style="border: 1px solid #ddd">{{item.LabCheck!=null?item.LabCheck?'合格':'不合格':''}}</td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
  </div>
</div>
<div layout="row">
  <span flex></span>
  <md-select ng-model="pageing.pageSize" class="pageSZ">
    <md-option value="10">10</md-option>
    <md-option value="20">20</md-option>
    <md-option value="40">40</md-option>
    <md-option value="80">80</md-option>
    <md-option value="100">100</md-option>
  </md-select>
  <div style="text-align: right;margin-right: 15px"
       paging page="pageing.page"
       page-size="pageing.pageSize"
       total="pageing.total"
       paging-action="vm.pageAction('bar', page, pageSize, total)">
  </div>
</div>


