<md-progress-circular id="toolbar-progress" ng-if="!vm.rendered" class="md-accent" md-mode="indeterminate" md-diameter="28">
</md-progress-circular>
<div ng-show="vm.rendered">
  <md-card ng-if="!vm.isMobile" style="background-color: white;" md-theme-watch>
    <md-card-content>
      <div flex layout="row">
        <md-input-container md-theme="default" flex>
          <label>项目</label>
          <md-select ng-model="vm.projectId">
            <md-option ng-click="vm.clearRegion(item.ProjectID)" ng-repeat="item in vm.projects" ng-value="item.ProjectID">
              {{item.ProjectName}}
            </md-option>
          </md-select>
        </md-input-container>
        <div style="width: 20px"></div>
        <md-input-container md-theme="default" flex>
          <label>分期</label>
          <md-select md-on-open="vm.getAreas(vm.projectId)" ng-model="vm.regionId">
            <md-option ng-click="vm.clearSection(item.RegionID)" ng-repeat="item in vm.regions" ng-value="item.RegionID">
              {{item.RegionName}}
            </md-option>
          </md-select>
        </md-input-container>
        <div style="width: 20px"></div>
        <md-input-container md-theme="default" flex>
          <label>标段</label>
          <md-select md-on-open="vm.getSections(vm.regionId)" ng-model="vm.sectionId">
            <md-option ng-click="vm.getData(item.RegionID)" ng-repeat="item in vm.sections" ng-value="item.RegionID">
              {{item.RegionName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div flex layout="row">
        <md-input-container md-theme="default" flex>
          <label>开始时间</label>
          <md-datepicker ng-model="vm.date.sDate" md-open-on-focus></md-datepicker>
        </md-input-container>
        <md-input-container md-theme="default" flex>
          <label>结束时间</label>
          <md-datepicker ng-model="vm.date.eDate" md-open-on-focus></md-datepicker>
        </md-input-container>
        <md-input-container md-theme="default" flex>
          <md-button class="md-raised md-primary" ng-click="vm.cx()">查询</md-button>
        </md-input-container>
      </div>
  </md-card>
  <md-card ng-if="vm.isMobile && !vm.isShowData" style="background-color: white;" md-theme-watch>
    <md-card-content>
      <div flex layout="row">
        <md-input-container md-theme="default" flex>
          <label>项目</label>
          <md-select ng-model="vm.projectId">
            <md-option ng-click="vm.clearRegion(item.ProjectID)" ng-repeat="item in vm.projects" ng-value="item.ProjectID">
              {{item.ProjectName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div flex layout="row">
        <md-input-container md-theme="default" flex>
          <label>分期</label>
          <md-select md-on-open="vm.getAreas(vm.projectId)" ng-model="vm.regionId">
            <md-option ng-click="vm.clearSection(item.RegionID)" ng-repeat="item in vm.regions" ng-value="item.RegionID">
              {{item.RegionName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div flex layout="row">
        <md-input-container md-theme="default" flex>
          <label>标段</label>
          <md-select md-on-open="vm.getSections(vm.regionId)" ng-model="vm.sectionId">
            <md-option ng-click="vm.getData(item.RegionID)" ng-repeat="item in vm.sections" ng-value="item.RegionID">
              {{item.RegionName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div flex layout="row">
        <md-input-container md-theme="default" flex="100">
          <label>开始时间</label>
          <md-datepicker ng-model="vm.date.sDate" md-open-on-focus></md-datepicker>
        </md-input-container>
      </div>
      <div flex layout="row">
        <md-input-container md-theme="default" flex="100">
          <label>结束时间</label>
          <md-datepicker ng-model="vm.date.eDate" md-open-on-focus></md-datepicker>
        </md-input-container>
      </div>
      <div flex layout="row">
        <md-button flex style="margin: 12px auto;" class="md-raised md-primary" ng-click="vm.cx()">查询</md-button>
      </div>
      <!--<div layout="row">
        <md-button style="margin: 12px auto;" class="md-raised md-primary" flex="{{!vm.isMobile?50:100}}" ng-click="vm.cx()"> 确定</md-button>
      </div>-->
      <!--<div flex layout="row">

      </div>
      <div style="width: 20px"></div>
      <div flex layout="row">

      </div>-->

    </md-card-content>
  </md-card>
  <form ng-if="!vm.isMobile" method="post" action="http://emp.chngalaxy.com:9091/api/MaterialPlan/GetMaterialReportXls" target="_blank">
    <!--<form method="post" action="http://localhost:5000/api/MaterialPlan/GetMaterialReportXls" target="_blank">-->
    <input id="export" type="hidden" name="table" />
    <input id="tital" type="hidden" name="tital" value="材料验收统计" />

    <md-button class="md-raised md-primary" type="submit" ng-click="vm.printBatchCount()">Excel导出</md-button>
  </form>

  <!--<md-contentflex layout="column" ms-scroll>-->

</div>

<!--<div ng-if="vm.isMobile && vm.isShowData" style="position: absolute;right: 8px">-->
  <!--<md-button class="md-fab md-mini" ng-click="vm.goBack()">-->
    <!--<md-icon md-svg-src="app/main/xhsc/images/icon-comeback.svg"></md-icon>-->
  <!--</md-button>-->
<!--</div>-->

<md-tabs ng-if="vm.isShowData" flex layout="column">
  <md-tab flex layout="column" label="材料验收">
    <md-tab-content class="download" style="padding: 0px" ms-scroll>
      <div id="divReport" flex style="margin: 24px 0;">
        <table class="materialReport">
          <thead>
            <tr>
              <th style="border: 1px solid #ddd;width:25%;min-width: 120px">项目</th>
              <th style="border: 1px solid #ddd;width:10%;">分期</th>
              <!--<th style="border: 1px solid #ddd;width:10%;">标段</th>-->
              <th style="border: 1px solid #ddd;width:20%;min-width: 170px">进场计划</th>
              <th style="border: 1px solid #ddd;width:20%;">材料设备名称</th>
              <th style="border: 1px solid #ddd;width:10%;">合同编号</th>
               <th style="border: 1px solid #ddd;width:10%;">计划进场时间</th>
              <th style="border: 1px solid #ddd;width:10%;">状态</th>
              <th style="border: 1px solid #ddd;width:5%;">查看</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="item in vm.source">
              <td style="border: 1px solid #ddd;">{{item.ProjectName}}</td>
              <td style="border: 1px solid #ddd;">{{item.RegionName}}</td>
              <!--<td style="border: 1px solid #ddd;">{{item.SectionName}}</td>-->
              <td style="border: 1px solid #ddd;">{{item.PlanName}}</td>
              <td style="border: 1px solid #ddd">{{item.MaterialName}}</td>
              <td style="border: 1px solid #ddd">{{item.Contract}}</td>
              <td style="border: 1px solid #ddd">{{item.PlanTime|date:'yyyy-MM-dd'}}</td>
              <td style="border: 1px solid #ddd">
                <label ng-if="item.Status == 1">未进场</label>
                <label ng-if="item.Status == 2">未验收</label>
                <label ng-if="item.Status == 4">未送检</label>
                <label ng-if="item.Status == 8">未归档</label>
                <label ng-if="item.Status == 16">未批示</label>
                <label ng-if="item.Status == 32">未退场</label>
                <label ng-if="item.Status == 64">已完成</label>
                <label ng-if="item.Status == 128">分批进场</label>
              </td>
              <td style="border: 1px solid #ddd">
                <!--<md-button class="md-icon-button" aria-label="Settings" ui-sref="app.material.batchDetail({planId:item.PlanId})" style="margin: 0;">-->
                  <!--<md-icon md-font-icon="icon-document" class="icon s24"></md-icon>-->
                <!--</md-button>-->
                <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.pop(item)" style="margin: 0;">
                  <md-icon md-font-icon="icon-document" class="icon s24"></md-icon>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-tab-content>
  </md-tab>
</md-tabs>
<div ng-show="vm.rendered && vm.isShowData" layout="row">
  <span flex></span>
  <md-select ng-model="pageing.pageSize" class="pageSZ">
    <md-option value="10">10</md-option>
    <md-option value="20">20</md-option>
    <md-option value="40">40</md-option>
    <md-option value="80">80</md-option>
    <md-option value="100">100</md-option>
  </md-select>
  <div style="text-align: right;margin-right: 15px" paging page="pageing.page" page-size="pageing.pageSize" total="vm.total"
    paging-action="vm.pageAction('bar', page, pageSize, total)">
  </div>
</div>
