<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span>材料分类管理</span>
    </h2>
    <span flex></span>
  </div>
</md-toolbar>

<md-content flex layout-fill class="white-bg" layout-padding >
  <form name="myForm" ng-submit="vm.save()">
    <md-input-container class="md-block">
      <label>分类名称</label>
      <input name="CategoryName" type="text" ng-model="vm.data.CategoryName" required>
      <div ng-messages="myForm.CategoryName.$error" ng-show="myForm.CategoryName.$touched" role="alert">
        <div ng-message="required">
          <span>请输入分类名称.</span>
        </div>
      </div>
    </md-input-container>
    <div layout="row" flex>
      <md-button type="submit" class="md-primary md-raised">
        保存
      </md-button>
    </div>
  </form>

</md-content>

