<link rel="stylesheet" href="/app/assets/bootstrap.min.css">
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h2>
      <span>{{(vm.cid && vm.cid!=0)?"合同材料管理":"材料管理" }}</span>
    </h2>
  </div>
</md-toolbar>
<div class="row" style="padding:0px 15px;">
  <md-content flex layout-fill class="white-bg" layout-padding id="treeCls">
    <script type="text/ng-template" id="nodes_renderer.html">
      <div ui-tree-handle class="tree-node tree-node-content ng-scope angular-ui-tree-handle">
        <span class="pull-right treespan">
          <a data-nodrag ng-if="node.level==1 && !vm.cid" ng-click="vm.alertPromat(node,$event)"><span class="glyphicon">批量管理</span></a>
          <a data-nodrag ng-if="node.level==1 && !vm.cid"><span class="glyphicon" ng-click="vm.addMaterial(node)">新增</span></a>
          <a data-nodrag ng-click="vm.btnEdit(node,true,$event)" ng-if="!vm.cid"><span class="glyphicon">编辑</span></a>
          <a data-nodrag ng-click="vm.btnEdit(node,true,$event)" ng-if="vm.cid && node.level==2"><span class="glyphicon">编辑</span></a>
        <a data-nodrag ng-click=" vm.btnRemove(node)" ng-if="!vm.cid"><span class="glyphicon">删除</span></a>
        </span>
        <a ng-if="node.level != 2">
          <span class="glyphicon" ng-class="{'glyphicon-plus': !collapsed,'glyphicon-minus': collapsed}" ng-click="vm.toggleClick(node,this)"></span>
        </a>
        <span class="nodetitle">{{node.title}}<i class="fa fa-refresh fa-spin"></i></span>
      </div>
      <ol ui-tree-nodes ng-model="node.nodes" ng-class="{hidden: !collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
      </ol>
    </script>

    <div ng-if="!vm.cid">
      <a class="angular-ui-tree-handle" data-nodrag style="padding-top: 3px;padding-bottom: 3px;">
        <span class="glyphicon glyphicon-plus" ng-click="vm.showPrompt(null,false,$event)">&nbsp;新增材料库</span>
      </a>
    </div>

    <div style="margin-top: -10px;">
      <div ui-tree data-drag-enabled="false" id="tree-root">
        <ol ui-tree-nodes ng-model="data">
          <li ng-repeat="node in data.nodeList" ui-tree-node ng-include="'nodes_renderer.html'" class="ng-scope angular-ui-tree-node"></li>
        </ol>
      </div>
    </div>
</md-content>
</div>
