
<section layout="column" flex>
  <div flex="none" layout="row">
    <md-progress-circular flex="none" ng-if="vm.build.loading" md-mode="indeterminate" md-diameter="20px"></md-progress-circular> <h4 flex style="text-align: center">{{vm.build.name}}</h4>
  </div>
  <div flex sxt-msk-charts="vm.treeId" build="vm.build" procedures="vm.procedures" >
  </div>
  <md-sidenav layout="column" class="md-sidenav-right" md-is-open="vm.build.isOpen" md-component-id="procedure_right">
    <md-toolbar flex="none" class="md-theme-indigo">
      <h4 class="md-toolbar-tools">选择工序(点击左侧灰色区关闭)</h4>
    </md-toolbar>
    <md-tabs flex layout="column" md-border-bottom >
    <md-tab ng-repeat="g in vm.types|sxtProcedureS" label="{{g.name}}({{g.ps.length}})">
      <md-tab-content flex layout-fill layout="column">
        <md-list>
          <section ng-repeat="c in g.children|sxtProcedureS">
            <md-subheader class="md-primary">{{c.name}}({{c.ps.length}})</md-subheader>
            <md-list-item ng-repeat="p in c.ps" ng-click="vm.itemChecked1(p)" >
              <p> {{p.ProcedureName}}</p>
              <md-checkbox class="md-secondary" ng-click="vm.itemChecked(p)" ng-model="p.checked"></md-checkbox>
            </md-list-item>
          </section>
        </md-list>
      </md-tab-content>
    </md-tab>
  </md-tabs>
</md-sidenav>
  <md-sidenav layout="column" class="md-sidenav-right" md-component-id="zt_right">

      <floor-layer-detail flex sxtfloor="vm.build" single="true" sell-line="vm.sellLine" floor-num="vm.build.floors" bdetail-data="vm.data.data"></floor-layer-detail>

  </md-sidenav>
  <div style="position: fixed; top:45px; right:0px;">
    <md-button class="md-fab md-mini"  ng-click="vm.openGx()">
      工序
    </md-button>
  </div>﻿
  <div style="position: fixed; bottom:50px; right:0px;">
    <md-button class="md-fab md-mini"  ng-click="vm.openZt()">
      主体
    </md-button>
  </div>﻿
  </section>

