.home_bg{
  background:url("app/main/szgc/images/bg_home.png") center no-repeat;
  background-size: contain;
}
#subtoolbar{
  height:50px;
  line-height:50px;
  background:#f8f8f8;
  border-bottom:1px solid #b2b2b2;
  .md-button{
    margin:6px 1px;
    padding:0;
    min-width:68px;
    color:#e93030;
    &.md-vanke-theme:not([disabled]):hover{
      background:none;
    }
    &:not([disabled]):hover{
      background:none;
    }
  }
  .hr{
    background:#bfbfbf;
    width:1px;
    height:20px;
  }
}
#detail{
  padding:5px;
  .md-title{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .005em;
  }
  md-list{
    md-list-item{
      .md-avatar{
        height:20px;
        width:60px;
        margin-bottom:4px;
      }
      &.md-no-proxy{
        padding:0;
      }
      &.md-3-line{
        min-height:30px;
        .md-avatar{
          margin-top:4px;
        }
        .md-list-item-text{
          margin:4px 0;
        }
      }
    }
  }

}
.barstyle{
  md-list-item .md-avatar{
    width: auto!important;
    margin-left: 10px;
  }
  md-list-item.md-3-line, md-list-item.md-3-line > .md-no-style{
    min-height: 40px!important;
  }
  md-list-item .md-avatar{
    height: 28px!important;
  }
  md-list md-list-item.md-3-line .md-list-item-text{
    margin: 8px 0 !important;
  }
  md-list-item.md-3-line > .md-avatar{
    margin-top: 9px!important;
  }

}
#ybgc{
  span{
    height:40px;
    line-height: 40px;
  }
}
//.yhydDiv{
//  .md-button{
//    text-align: center;
//   // height:30px;
//   min-width:47px;
//
//  }
//  .btn{
//
//    color: white;
//  }
//
//  div{
//    text-align: center;
//  }
//}

.yhyd {
  text-align:center ;
  margin:0 5px;
  margin-bottom:10px;

}
.yhyd{

  div{
    text-align: center;
  }

  .md-button{
    text-align: center;
    // height:30px;
    min-width:47px;

  }


}
.yhyd
{
  .btn{
    font-weight:normal;
    font-size:12px;
    padding: 5px 10px;
  }
  span{
    color:#0b93d5;
    //margin-top:5px;
    display:block;
  }

  .btnUp{
    background-color:#0b93d5 ; color: white;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    width: 40px;
    height: 20px;
  }
  .btnDown{
    //margin-top: -6px;
    color:white;
    background-color:#0b93d5;
    opacity: 0.5;
    width: 40px;
    height: 20px;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px

  }
  &.bhg {
    .btnUp{
      background-color:orange ; color: white;
    }
    .btnDown{
      color: orange;
    }
  }
}


