<md-content flex layout="column" ng-show="!vm.searBarHide" class="menu-toggle-list">
    <sxt-projects-jd ng-model="vm.project.pid" object-scope="vm" region-type="vm.project.type" region-name="vm.project.typeName" project-id="vm.project.projectId" project-name="vm.project.projectName" id-tree="vm.project.idTree" name-tree="vm.project.nameTree" >
      <div class="md-padding" layout="row">
        <md-button type="submit" ng-disabled="vm.project.type!=64" flex ng-click="vm.searBarHide=true"  class="md-raised md-primary"> 确定  </md-button>
      </div></sxt-projects-jd>
  </md-content>
<md-content flex layout="column" ng-show="vm.searBarHide" class="gridListyhyd">
  <md-grid-list ng-hide="vm.showPlayer" md-cols-xs="2" md-gutter="8px" md-cols-sm="3" md-cols-md="3" md-row-height-gt-md="1:1" md-row-height="2:2">
    <md-grid-tile ng-disabled="true">
      <img src="assets/images/icon/icon-1.png" />
      <md-grid-tile-footer >
        <h3>房屋设计图纸</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-disabled="true">
      <img src="assets/images/icon/icon-2.png" />
      <md-grid-tile-footer >
        <h3>房屋装修图纸</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-click="vm.play(2)">
      <img src="assets/images/icon/icon-3.png" />
      <md-grid-tile-footer>
        <h3>隐蔽工程照片</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile  ng-click="vm.play(3)">
      <img src="assets/images/icon/icon-4.png" />
      <md-grid-tile-footer >
        <h3>质量验收记录</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-disabled="true">
      <img src="assets/images/icon/icon-5.png" />
      <md-grid-tile-footer>
        <h3>维修改造记录</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-disabled="true">
      <img src="assets/images/icon/icon-6.png" />
      <md-grid-tile-footer>
        <h3>部品信息</h3>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
 <div flex layout="column" ng-show="vm.showPlayer" class="md-padding">
   <div flex-auto="" layout="row">
   <sxt-procedure flex ng-model="vm.project.procedureId" name-value="vm.project.procedureName" region-type="64" ></sxt-procedure>
     <md-input-container flex>
       <label>部位</label>
       <md-select ng-model="vm.project.partion" >
         <md-option ng-repeat="item in vm.project.partions" ng-value="item">
           {{item.desc}}
         </md-option>
       </md-select>
     </md-input-container>
   </div>
   <div flex sxt-dplayer="vm.images">

   </div>
 </div>
  <div style="position: absolute; top:0px; right:0px;">
    <toggle-menu inst="vm.searBarHide"></toggle-menu></div>
</md-content>
