<div layout="row" class="mbtn" style="background:#e93030;" flex="none">
    <span flex>&nbsp;</span>
    <div flex="none">
      <button>待办</button><button class="active">其它</button>
    </div>
    <span flex></span>
</div>
<md-content flex  >
  <md-list style="overflow: hidden;" class="slide-del" ng-repeat="item in vm.messages">
    <md-list-item layout="row" class="slideli">
      <md-checkbox style="margin-right:0;" ng-show="vm.showCheck" ng-model="item.checked"></md-checkbox>
      <div class="slidelist" layout="row">
        <div class="circle" flex="none"><span>{{item.name}}</span></div>
        <div flex>
          <h3 style="padding-right: 105px;">{{item.title}}<span>{{item.time|date:'MM-dd HH:mm'}}</span></h3>
          <p style="word-break: break-all;">{{item.description}}</p>
        </div>
      </div>
      <div style="position: absolute;right:-160px;top:0;height:100%;overflow: hidden;">
        <md-button style="min-width:80px;height: 100%;background: #c8c7cd;color:#fff;padding:0;margin:0;font-size:0;-webkit-text-size-adjust:none;border-radius: 0;"><img src="app/main/xhsc/images/plus.png"><div style="font-size: 14px;">更多</div>
        </md-button><md-button style="min-width:81px;height: 100%;background: #ff3534;color:#fff;padding:0;margin:0;font-size:0;-webkit-text-size-adjust:none;border-radius:0;"><img src="app/main/xhsc/images/plus.png"><div style="font-size: 14px;">删除</div></md-button>
      </div>
    </md-list-item>
  </md-list>
</md-content>
<div class="inner-footerbar" flex="none" ng-show="vm.showSend && vm.showCheck">
  <md-toolbar>
    <md-button ui-sref="app.xhsc.rychoose">转发</md-button>
  </md-toolbar>
</div>
