<md-progress-circular id="toolbar-progress" ng-if="!vm.show" class="md-accent"
                      md-mode="indeterminate" md-diameter="28" style="margin-left: 8px;margin-top: 8px">
</md-progress-circular>

<md-content class="floor-list md-hue-1">
  <div class="right engineer">
    <div layout="column" ng-repeat="m in vm.souce">
      <div style="border-bottom: 1px solid #d8d8d8;">
        <h2 class="md-title" style="color:#e93030;font-size:16px;margin:16px;">{{m.RegionName}}</h2>
      </div>
      <md-list>
        <md-list-item ng-repeat="b in m.Children" style="float: left;width: 25%">
          <md-button ui-sref="app.xhsc.scPiclst({projectID:b.RegionID})">
            <p>{{b.RegionName}}</p>
          </md-button>
        </md-list-item>
      </md-list>
    </div>
  </div>
</md-content>


