.sxt-select-header{
  md-input-container{
    margin: 5px;
    .md-errors-spacer{
      display: none;
    }
  }
}
.opacity0{
  opacity: 0;
  &.opacity{
    opacity: 1;
  }
}

.nomargin{
  md-select{
    margin:0 0 26px 0;
  }
}
.nomar{
  md-select{
    margin:0;
  }
}
.body-background{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color: rgba(33,33,33,0);
  display: none;
  transition: opacity 450ms;
}
.body-background{
  &.on{
    background-color: rgba(33,33,33,0.48);
  }
}
.tasks-list{
  md-select{
    &.md-pink-theme{
      .md-select-value{
        &.md-select-placeholder{
          color:#fff;
        }
      }
      &:not([disabled]):focus{
        .md-select-value{
          color:#fff;
        }
      }
    }
  }
  md-input-container{
    .md-errors-spacer{
      min-height: 0;
    }
  }
}
.create-plan{
  md-input-container{
    .md-errors-spacer{
      min-height: 0;
    }
  }
}
table{
  &.simple{
    thead,tbody{
      tr{
        th{
          font-size: 14px;
          min-width: 100px;
          font-weight: bold;
          color:#000;
        }
        &.active{
          background: rgb(255,255,204);
        }
        td{
          font-size: 12px;
          padding:8px;
          input{
            padding:5px 0;
          }
          .md-button{
            font-size:12px;
          }
        }
      }
    }
  }
}
#gantt-chart .centera .content-card .content .gantt .gantt-row-label .gantt-valign-content span.gantt-label-text{
 // width:100px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.gantt-column-duration{
  width:80px;
}
.gxselected{
  color:red;
}
table{
  &.simple{
    &.milestone{
      tbody{
        tr{
          td{
            padding-top:16px;
            padding-bottom: 16px;
          }
        }
      }
    }
  }
}
.pcalendar{
  .md-calendar td{
    position: relative;
  }
  .md-calendar-scroll-container{
    width: 100%;
  }
  .md-calendar-date-selection-indicator{
    position: relative;
  }

  .md-calendar-month .md-calendar-date .md-calendar-date-selection-indicator:before{
    content:"";
    width:4px;
    height:4px;
    border-radius: 50%;
    background: #f00;
    position: absolute;
    top:5px;
    left:50%;
    margin-left:-2px;
  }

  .md-calendar-date,.md-calendar-day-header th{
    min-width: 44px;
    width:auto;
  }
  .md-calendar-scroll-container,.md-calendar-scroll-mask{
    height: 260px;
  }
}
.md-pink-theme.md-hue-2 .pcalendar .md-calendar-month .md-calendar-date.md-calendar-date-event .md-calendar-date-selection-indicator:before{
  content:"";
  width:4px;
  height:4px;
  border-radius: 50%;
  background: #f00;
  position: absolute;
  top:5px;
  left:50%;
  margin-left:-2px;
}
.md-vanke-theme.md-hue-1 .pcalendar .md-calendar-month .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator:before, .md-vanke-theme.md-hue-1 .md-calendar-month .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator:before,
.md-pink-theme.md-hue-2 .pcalendar .md-calendar-month .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator:before, .md-pink-theme.md-hue-2 .md-calendar-month .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator:before{
  background: #fff;
}
.md-vanke-theme.md-hue-1 .pcalendar .md-calendar-month .md-calendar-date-disabled .md-calendar-date-selection-indicator:before,.md-vanke-theme.md-hue-1 .md-calendar-month .md-calendar-date.md-calendar-date-today.md-calendar-date-disabled .md-calendar-date-selection-indicator:before{
  width: 0;
}


md-calendar{
  &.pcalendar{
    table{
      width: 100%;
    }
  }
}

.report{
  border-collapse: collapse;
  tr{
    th{
      padding: 5px;
    }
    td,th{
      border:1px solid #dedede;
      span{
        word-break: break-all;
        padding: 5px;
        display: block;
      }
    }
  }
  table{
    tr{
      &:first-child{
        td{
          border-top:none;
          &:first-child{
            border-bottom: none;
          }
        }
      }
      &:last-child{
        td{
          border-bottom: none;
        }
      }
      td{
        &:first-child{
          border-left:none;
        }
        &:last-child{
          border-right:none;
        }
      }
    }
  }
}
.md-button{
  &.md-minbtn{
    min-width: 50px;
    min-height: 24px;
    line-height: 24px;
  }
}

.white-placeholder{
  ::-webkit-input-placeholder { /* WebKit browsers */
    color:rgb(245,245,245);
  }
}
table.simple.p6 tbody tr td{
  padding:6px;
}
