.sxt-select-header{
  md-input-container{
    margin: 5px;
    .md-errors-spacer{
      display: none;
    }
  }
}
.tasks-list{
  md-select{
    &.md-pink-theme{
      .md-select-value{
        &.md-select-placeholder{
          color:#fff;
        }
      }
      &:not([disabled]):focus{
        .md-select-value{
          color:#fff;
        }
      }
    }
  }
}
.create-plan{
  md-input-container{
    .md-errors-spacer{
      min-height: 0;
    }
  }
}
