<ui-view layout="column" flex style="background-color: rgb(244, 244, 246)">
  <div class="gxtest">
    <md-list>
      <md-list-item>
        <label>工序</label>
        <p style="margin-left: 16px">{{vm.gxname}}{{vm.is('app.xhsc.gxresult.gxdetail')}}</p>
      </md-list-item>
      <md-list-item>
        <label>监理单位</label>
        <p style="margin-left: 16px">{{vm.allRelations[0].SupervisionOUName}}</p>
      </md-list-item>
      <md-list-item>
        <label>施工单位</label>
        <p style="margin-left: 16px">{{vm.allRelations[0].MainContractorOUName}}</p>
      </md-list-item>
      <md-list-item>
        <label>责任人</label>
        <p style="margin-left: 16px">{{vm.allRelations[0].MainContractorName}}</p>
        <!--<p ng-click="vm.rych()">&nbsp;<span ng-repeat="res in vm.responsers">{{res.name}}，</span></p>-->
      </md-list-item>
      <md-list-item>
        <label style="width: 100px;">最迟整改时间</label>
        <p style="text-align: right;">
          <md-input-container class="md-block" style="margin:0">
            <md-select ng-model="vm.time">
              <md-option ng-repeat="time in vm.times" ng-value="time.value">
                {{time.time}}
              </md-option>
            </md-select>
          </md-input-container>
        </p>
      </md-list-item>
      <md-list-item>
        <label>备注</label>
        <p>
          <input style="border:none;width:100%;" ng-model="vm.params.Remarks" placeholder="备注">
        </p>
      </md-list-item>
    </md-list>
    <md-button flex style="display: block;width:100%;margin:10px 0;padding:6px;border:1px solid #d8d8d8;background: #fff;" ng-disabled="!vm.Isfail" ng-click="vm.submitResult()">确认提交</md-button>
  </div>
</ui-view>
