<div flex ng-if="vm.role==0" class="gxbg" layout="column" ms-scroll>
  <div class="gxheadzb">
    <ul>
      <li ng-click="vm.setModule(2)">
        <img src="app/main/xhsc/images/zbby.png">
        <p>总包报验</p>
      </li>
      <li ng-click="vm.setModule(4)">
        <img src="app/main/xhsc/images/zbzg.png">
        <p>总包整改</p>
      </li>
      <li ng-click="vm.upload()">
        <img src="app/main/xhsc/images/upload.png">
        <p>离线上传</p>
      </li>
    </ul>
  </div>
  <div flex style="background-color: white;">
    <md-progress-circular id="toolbar-progress" ng-if="!vm.isOver" class="md-accent"
                          md-mode="indeterminate" md-diameter="28" style="margin-left: 8px;margin-top: 8px">
    </md-progress-circular>
    <md-list ng-show="vm.isOver">
      <md-list-item ng-click="vm.zbzgAction(item)" layout="row" ng-repeat="item in vm.zglist|filter:{Status:4}">
        <div  layout="column" style="padding-bottom: 16px">
          <p style="padding-right: 20px;font-size:16px;line-height: 20px;padding-left:8px;margin-bottom: 0px">
            {{item.AcceptanceItemName}}<span style="margin-left:2%;color:white;background-color: #ff6d1f;font-size:12px;border-radius: 3px">总包整改</span>
          </p>
          <p style="color:#999;padding-right: 20px;margin:0;font-size:12px;padding-left:8px;"><span
            ng-repeat="area in item.Children" style="display: block;height: 24px"> {{area.RegionName}} </span></p>
        </div>
        <span flex></span>
        <md-button ng-click="vm.zbzgbtnAction(item,$event)" class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="app/main/xhsc/images/more_vert.svg"></md-icon>
        </md-button>
        <span class="border1px bottom1px"></span>
      </md-list-item>
    </md-list>
  </div>
</div>

<div flex ng-if="vm.role==2" class="gxbg" layout="column" ms-scroll>
  <div class="gxheadjl">
    <ul>
      <li ng-click="vm.setModule(16)">
        <img src="app/main/xhsc/images/jlys.png">
        <p>监理验收</p>
      </li>
      <li ng-click="vm.setModule(32)">
        <img src="app/main/xhsc/images/jlfy.png">
        <p>监理复验</p>
      </li>
      <li>
        <img src="app/main/xhsc/images/week.png">
        <p>周安全检查</p>
      </li>
      <li>
        <img src="app/main/xhsc/images/dynmic.png">
        <p>动态危险源</p>
      </li>
      <li ng-click="vm.upload()">
        <img src="app/main/xhsc/images/upload.png">
        <p>离线上传</p>
      </li>
    </ul>
  </div>
  <div flex style="background-color: white;">
    <md-progress-circular id="toolbar-progress" ng-if="!vm.isOver" class="md-accent"
                          md-mode="indeterminate" md-diameter="32" style="margin-left: 8px;margin-top: 8px">
    </md-progress-circular>
    <md-list ng-show="vm.isOver">
      <md-list-item layout="row" ng-click="vm.jlysAction(item)" ng-repeat="item in vm.Inspections">
        <div layout="column"  style="padding-bottom: 16px">
          <p  style="padding-right: 20px;font-size:16px;line-height: 20px;padding-left:8px;margin-bottom: 0px">
            {{item.AcceptanceItemName}}
            <span
              style="margin-left:2%;color:white;background-color: #359df5;font-size:12px;border-radius: 3px">监理验收</span>
          </p>
          <p style="color:#999;padding-left:8px;padding-right: 20px;margin:0;font-size:12px;">
            <span ng-repeat="area in item.Children" style="display: block;height: 24px"> {{area.RegionName}} </span>
          </p>
        </div>
        <span flex></span>
        <md-button ng-click="vm.jlysbtnAction(item,$event)" class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="app/main/xhsc/images/more_vert.svg"></md-icon>
        </md-button>
        <span class="border1px bottom1px"></span>
      </md-list-item>
      <md-list-item ng-click="vm.jlfyAction(item)" ng-repeat="item in vm.zglist|filter:{Status:16}">
        <div style="padding-bottom: 16px" layout="column">
          <p  style="padding-right: 20px;font-size:16px;line-height: 20px;padding-left:8px;margin-bottom: 0px">
            {{item.AcceptanceItemName}} <span
            style="margin-left:2%;color:white;background-color: #ff6d1f;font-size:12px;border-radius: 3px">监理复验</span>
          </p>
          <p tyle="color:#999;padding-right: 20px;margin:0;font-size:12px;padding-left:8px;"><span
            ng-repeat="area in item.Children" style="display: block;height: 24px"> {{area.RegionName}} </span></p>
        </div>
        <span flex></span>
        <md-button ng-click="vm.jlfybtnAction(item,$event)" class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="app/main/xhsc/images/more_vert.svg"></md-icon>
        </md-button>
        <span class="border1px bottom1px"></span>
      </md-list-item>
    </md-list>
  </div>
</div>

