<div flex="none" style="position: relative;" class="downcaret">
  <div layout="row" flex style="height:48px;border-bottom: 1px solid #d8d8d8;position: relative;z-index: 10;background: rgb(245,245,245);">
    <!--<md-button class="md-fab" style="line-height: 24px;width:36px;height:36px;position: absolute;left:10px;top:0;" ng-click="vm.nextRegion(true)">-->
    <!--<md-icon md-font-icon="icon-chevron-left"></md-icon>-->
    <!--</md-button>-->
    <p ng-click="vm.qyslide()" style="font-size:14px;padding:0 10px;text-align: center;margin: 0;height:48px;line-height:48px;width:70%;margin-left:auto;margin-right:auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
      {{vm.regionSelect.RegionName||'区域'}} <span class="caret"></span>
    </p>
    <!--<md-button class="md-fab" style="line-height: 24px;width:36px;height:36px;position: absolute;right:10px;top:0" ng-click="vm.nextRegion()">-->
    <!--<md-icon md-font-icon="icon-chevron-right"></md-icon>-->
    <!--</md-button>-->
  </div>
  <div flex layout="row" class="gxtest qyslide" ng-class="{'qydown':vm.qyslideShow}">
    <md-list layout="column" flex class="gxplist">
      <md-list-item flex ng-repeat="p in vm.pareaList">
        <p ng-click="vm.selectQy(p)">{{p.RegionName}}</p>
      </md-list-item>
    </md-list>
  </div>
</div>
<div class="mapcheck" layout="column" flex sxt-recheck-map="vm.Rectification.RectificationID" ct="vm.info" sxt-map-show="vm.slideShow" project-id="vm.regionSelect.AreaID" procedure="vm.Rectification.AcceptanceItemID" disable-inspect="vm.role=='zb'" disable-drag region-id="vm.regionSelect.AreaID">
  <div flex layout="row" layout-align="center center" ng-if="vm.info.loading"><md-progress-circular md-mode="indeterminate" ></md-progress-circular></div>
</div>
<sxt-recheck-popup slide-show="vm.slideShow" warter="vm.warter" slide-role="vm.role"></sxt-recheck-popup>
<div style="margin-top: 12px;padding:0 8px;margin-bottom:12px;" flex="none" layout="row"><span ng-click="vm.showQuesList()" style="background: url(app/main/xhsc/images/right.png) no-repeat right 2px;background-size:auto 14px;padding-right:12px;">问题列表详情</span><span flex></span><span ng-click="vm.showBaseInfor()" style="background: url(app/main/xhsc/images/right.png) no-repeat right 2px;background-size:auto 14px;padding-right:12px;">基本信息</span></div>

<sxt-ques-detail-up up-show="vm.showUp" selected-area="vm.regionSelect.AreaID" current-rectificationid="vm.RectificationID"></sxt-ques-detail-up>


