<ms-gen-select flex="none" areas="areas" procedure="procedure" current="current"></ms-gen-select>

<div class="mapcheck" layout="column" style="position: relative" flex sxt-week-accept="vm.info.current"
     procedure="current.procedure.AcceptanceItemID" ct="vm.info" region-id="current.region.RegionID" ng-if="vm.info.show">
  <div flex layout="row" layout-align="center center" ng-if="vm.info.loading">
    <md-progress-circular md-mode="indeterminate" md-diameter="28">
    </md-progress-circular>
  </div>
  <div style="position: absolute;z-index: 79;bottom: 0px;right: 0px" ng-show="vm.info.current">
    <md-button class="md-fab md-mini md-green" fast-click="vm.cancelCurrent($event)">
      <md-icon md-font-icon="icon-undo-variant"></md-icon>
    </md-button>
  </div>
</div>
<md-divider></md-divider>
<safe-slide-menu flex="none" style="height: 195px" ng-if="vm.info.show" layout="column" slide-data="vm.procedureData"
     current="vm.info.current" show-check="true" level="2"></safe-slide-menu>
<div style="display: none">
  <sxt-Week-accept-popup warter="vm.water"></sxt-Week-accept-popup>
</div>



