<md-tabs md-border-bottom flex layout="column" >
  <md-tab label="验收">
    <md-tab-content flex layout-fill layout="column">
      <md-content flex layout="column" ng-hide="is('app.szgc.ys.addnew')||is('app.szgc.ys.upload')" >
        <div ng-show="!vm.searBarHide">
          <div flex style="overflow: auto">
            <sxt-projects-jd ng-model="project.pid" object-scope="project" region-type="project.type" region-name="project.typeName" project-id="project.projectId" project-name="project.projectName" id-tree="project.idTree" name-tree="project.nameTree" on-queryed="project.onQueryed" is-more="project.isMore">
              <div class="md-padding" layout="row" ng-show="project.type==64">
                <md-button type="submit" flex ui-sref="app.szgc.ys.upload({projectid:project.pid,name:project.typeName,type:project.item.type.type_id||project.item.type,idTree:project.idTree,nameTree:project.nameTree})" class="md-raised md-primary"> 隐蔽工程照片  </md-button>
              </div>
              <md-list ng-hide="project.type==64">
                <md-subheader class="md-no-sticky">工序</md-subheader>
                <md-list-item>
                  <sxt-procedure style="width:100%" ng-model="project.procedureId" procedure-type-id="project.procedureTypeId" name-value="project.procedureName" region-type="project.type" class="md-block"></sxt-procedure>
                  <!--<sxt-procedure-type style="width:100%;" ng-model="project.procedureTypeId"></sxt-procedure-type>-->
                </md-list-item>
                <!--<md-list-item>-->
                <!--<sxt-select style="width:100%;" ng-model="project.procedureId" name-value="project.procedureName" sources="project.procedures" text-field="ProcedureName" value-field="ProcedureId"></sxt-select>-->
                <!--</md-list-item>-->
                <md-divider></md-divider>
<!--                <md-subheader class="md-no-sticky">验收状态</md-subheader>
                <md-list-item ng-repeat="state in project.states">
                  <p> {{state.title}}({{state.c}})</p>
                  <md-checkbox class="md-secondary" ng-click="checkState(state)"  ng-checked="state.selected"></md-checkbox>
                </md-list-item>-->
              </md-list>
            </sxt-projects-jd>
            <div class="md-padding" ng-hide="project.type==64" layout="row">

              <md-button type="submit" flex ng-click="vm.searBarHide=true"  class="md-raised md-primary"> 确定  </md-button>
            </div>
          </div>
        </div>
        <div  ng-show="vm.searBarHide" flex layout="column">
          <md-progress-circular md-mode="indeterminate" ng-show="vm.loading"></md-progress-circular>
          <div >
            <table class="simple" ms-responsive-table>
              <thead>
              <tr>
                <th>部位</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
              </thead>

              <tfoot>
              <tr>
                <td></td>
              </tr>
              </tfoot>

              <tbody>
              <tr ng-repeat="item in project.rows">
                <td class="name">{{item.$name}}</td>
                <td class="position">{{roleId=='zb'?item.MinPassRatio0 : item.stateName}}</td>
                <td class="office" ng-if="!hasTasks(item)">
                  <a class="btn btn-white btn-xs" ui-sref="app.szgc.ys.addnew({projectid:item.$id,name:item.$name,batchId:item.BatchRelationId,procedureTypeId:project.procedureTypeId,procedureId:project.procedureId,type:project.type,idTree:project.idTree,procedureName:project.procedureName,nameTree:project.nameTree})"  ng-if="roleId!='3rd' && item.ZbChecked!==false && isPartner">{{ (roleId=='zb' && !item.ZbCount)||(roleId=='jl' && !item.JLCount)?'录入': '复验'}}</a>
                  <a class="btn btn-white btn-xs" ui-sref="app.szgc.ys.addnew({projectid:item.$id,name:item.$name,batchId:item.BatchRelationId,procedureTypeId:project.procedureTypeId,procedureId:project.procedureId,type:project.type,idTree:project.idTree,procedureName:project.procedureName,nameTree:project.nameTree})" ng-if="roleId!='3rd' && !isPartner && item.checkedCount && (!item.MinPassRatio1 || item.MinPassRatio1<80) " >{{ item.CheckDate1?'复验': '抽验'}}</a>
                  <a class="btn btn-white btn-xs" ui-sref="app.szgc.report.viewBath.view({bathid:item.BatchRelationId})" ng-if="roleId!='3rd' && item.ZbChecked!==false && item.checkedCount" title="查看"></a>
                  <a class="btn btn-white btn-xs" ui-sref="app.szgc.ys.addnew({projectid:item.$id,name:item.$name,batchId:'new',procedureTypeId:project.procedureTypeId,procedureId:project.procedureId,type:project.type,idTree:project.idTree,procedureName:project.procedureName,nameTree:project.nameTree,flag:true,project_item_id:item.project_item_id})" ng-if="roleId!='3rd' && item.ZbChecked!==false && isPartner && !((roleId=='zb' && !item.ZbCount)||(roleId=='jl' && !item.JLCount))" >新增验收批</a>
                  <span ng-if="item.ZbChecked===false">已设为未验收</span>
                  <a class="btn btn-white btn-xs" ui-sref="app.szgc.ys.addnew({projectid:item.$id,name:item.$name,batchId:item.BatchRelationId?item.BatchRelationId:'',procedureId:project.procedureId,type:project.type,idTree:project.idTree,procedureName:project.procedureName,nameTree:project.nameTree,procedureTypeId:project.procedureTypeId})" ng-if="roleId=='3rd'">抽验</a>
                </td>
                <td ng-if="hasTasks(item)">已验未传</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </md-content>
      <div ng-show="is('app.szgc.ys')" style="position: absolute; top:0px; right:0px;z-index:99;">
        <md-button class="md-fab md-mini" ng-show="!vm.searBarHide && vm.isJdBack()" ng-click="vm.backJdSelect()">
          <md-icon md-font-icon="icon-arrow-left"></md-icon>
        </md-button>
        <toggle-menu inst="vm.searBarHide"></toggle-menu></div>

      <ui-view layout="column" flex ng-show="is('app.szgc.ys.addnew')||is('app.szgc.ys.upload')"></ui-view>

    </md-tab-content>
  </md-tab>
  <md-tab label="离线项目">
    <md-tab-content flex layout-fill layout="column">
<md-content flex layout="column">
<md-list md-cloak>
  <md-subheader class="md-no-sticky">已下载</md-subheader>
  <md-list-item ng-repeat="project in project.offlines">
    <p style="padding: 0 14px;" layout="column"><span> {{ project.name }} </span><b ng-if="project.indexing">正在索引 {{project.percent}} ({{project.current}}/{{project.total}})</b> </p>
    <md-divider></md-divider>
  </md-list-item>
  <md-subheader class="md-no-sticky">下载</md-subheader>
  <md-list-item ng-repeat="p in project.projects">
   <div flex layout="column"> <md-button  ng-click="loadProject_items(p)" style="text-align: left"> {{ p.name }} </md-button>
     <div ng-repeat="item in p.items" layout="row" style="padding-left: 20px;">
       <p flex style="margin: 0;line-height: 40px;">{{item.name}}  <b ng-if="item.downloading"> {{item.percent}} ({{item.current}}/{{item.total}})</b> </p>
       <md-button flex="none" class="md-icon-button md-primary" aria-label="download" ng-click="download($event, p,item)" >
         <md-icon md-font-icon="{{isOffline(item)?'icon-reload':'icon-download'}}" ></md-icon>
       </md-button>
     </div>
   </div>
    <md-divider></md-divider>
  </md-list-item>
  </md-list>
</md-content>
    </md-tab-content>
  </md-tab>
  <md-tab label="上传" md-on-select="requeryTasks()">
    <md-tab-content flex layout-fill layout="column">
      <md-content flex layout="column">
        <md-list md-cloak>
          <md-subheader class="md-no-sticky"><md-button class="md-secondary md-primary md-raised" ng-disabled="uploading" ng-click="upload()">{{uploading?'正在上传...':'上传'}}</md-button> <span ng-if="uploading">{{project.percent}} ({{project.current}}/{{project.total}})</span> </md-subheader>
          <md-list-item ng-repeat="task in project.tasks">
            <p> {{ task.name }} </p>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab-content>
  </md-tab>
</md-tabs>
