<md-tabs md-border-bottom flex layout="column" md-selected="vm.selectedIndex" >
  <md-tab label="验收">
    <md-tab-content flex layout-fill layout="column">
      <md-sidenav
        class="md-sidenav-left"
        md-component-id="nav_region",
        md-whiteframe="4" layout="column">
        <md-content flex layout="column" style="background: white">
            <sxt-projects-jd yj-flag="true" yj-flags="project.yj" flex ng-model="project.pid" object-scope="project" region-type="project.type" region-name="project.typeName" project-id="project.projectId" project-name="project.projectName" id-tree="project.idTree" name-tree="project.nameTree" on-queryed="project.onQueryed" is-more="project.isMore">
              <div class="md-padding" layout="row" ng-show="project.type==64">
                <md-button type="submit" flex ng-click="vm.closeNav('nav_region')" ui-sref="app.szgc.ys.upload({projectid:project.pid,name:project.typeName,type:project.item.type.type_id||project.item.type,idTree:project.idTree,nameTree:project.nameTree})" class="md-raised md-primary"> 隐蔽工程照片  </md-button>
              </div>
            </sxt-projects-jd>
            <div flex="none" class="md-padding" ng-hide="project.type==64" layout="row">
              <md-button ng-show="vm.yjButton(128)" type="submit" flex ng-click="vm.setYJ(128)"  class="md-raised md-primary">园建</md-button>
              <md-button ng-show="vm.yjButton(256)" type="submit" flex ng-click="vm.setYJ(256)"  class="md-raised md-primary">桩基</md-button>
              <md-button type="submit" flex ng-click="vm.closeNav('nav_region')"  class="md-raised md-primary">确定</md-button>
            </div>
        </md-content>
      </md-sidenav>
      <md-content flex layout="column" ng-hide="is('app.szgc.ys.addnew')||is('app.szgc.ys.upload')" >
        <div flex layout="column" ng-hide="is('app.szgc.ys.addnew')||is('app.szgc.ys.upload')">
        <md-list flex="none">
          <md-list-item ng-click="vm.openNav('nav_region')" layout="row"><p style="white-space: nowrap;" flex="none">项目：</p><p flex style="text-align:right; white-space: nowrap;overflow: hidden;text-overflow:ellipsis;direction: rtl;">{{project.nameTree}}</p></md-list-item>
          <md-divider></md-divider>
          <md-list-item ng-click="vm.openNav('nav_procedure')" layout="row"><p flex="none">工序：</p><p flex style="text-align:right;text-overflow:ellipsis;direction: rtl;">{{project.procedureName}}</p></md-list-item>
          <md-divider></md-divider>
        </md-list>

          <md-progress-circular md-mode="indeterminate" ng-show="vm.loading"></md-progress-circular>
          <div flex ng-if="!vm.loading && project.type!==128 && project.type!==256">
            <md-subheader class="no-padding">
              <div layout="row" class="div-table">
                <div flex="20"><div style="padding:0 0 0 6px">部位</div></div>
                <div flex="20">批</div>
                <div flex="20">状态</div>
                <div flex="40">操作</div>
              </div>
            </md-subheader>
              <div layout="row" class="div-table-row" ng-repeat="item in project.rows">
                <div flex="20" class="name"><div style="padding:0 0 0 6px">{{item.$name}}</div></div>
                <div flex="20">{{item.BatchNo}}</div>
                <div flex="20" class="position">{{roleId=='zb'?item.MinPassRatio0 : item.stateName}}</div>
                <div flex="40" class="office" ng-if="!hasTasks(item)">
                  <a class="btn btn-white btn-xs" ui-sref="app.szgc.ys.addnew({projectid:item.$id,name:item.$name,batchId:item.BatchRelationId,procedureTypeId:project.procedureTypeId,procedureId:project.procedureId,type:project.type,idTree:project.idTree,procedureName:project.procedureName,nameTree:project.nameTree,checkRequirement:project.CheckRequirement})"  ng-if="roleId!='3rd' && item.ZbChecked!==false && isPartner">{{ (roleId=='zb' && !item.ZbCount)||(roleId=='jl' && !item.JLCount)?'录入': '复验'}}</a>
                  <a class="btn btn-white btn-xs" ui-sref="app.szgc.ys.addnew({projectid:item.$id,name:item.$name,batchId:item.BatchRelationId,procedureTypeId:project.procedureTypeId,procedureId:project.procedureId,type:project.type,idTree:project.idTree,procedureName:project.procedureName,nameTree:project.nameTree,checkRequirement:project.CheckRequirement})" ng-if="roleId!='3rd' && !isPartner && item.checkedCount " >{{ item.CheckDate1?'复验': '抽验'}}</a>
                  <a class="btn btn-white btn-xs" ui-sref="app.szgc.report.viewBath.view({bathid:item.BatchRelationId})" ng-if="roleId!='3rd' && item.ZbChecked!==false && item.checkedCount" title="查看"></a>
                  <a class="btn btn-white btn-xs" ui-sref="app.szgc.ys.addnew({projectid:item.$id,name:item.$name,batchId:'new',procedureTypeId:project.procedureTypeId,procedureId:project.procedureId,type:project.type,idTree:project.idTree,procedureName:project.procedureName,nameTree:project.nameTree,flag:true,project_item_id:item.project_item_id,checkRequirement:project.CheckRequirement})" ng-if="roleId!='3rd' && item.ZbChecked!==false && isPartner && !((roleId=='zb' && !item.ZbCount)||(roleId=='jl' && !item.JLCount))" >新增验收批</a>
                  <span ng-if="item.ZbChecked===false">已设为未自检</span>
                  <a class="btn btn-white btn-xs" ui-sref="app.szgc.ys.addnew({projectid:item.$id,name:item.$name,batchId:item.BatchRelationId?item.BatchRelationId:'',procedureId:project.procedureId,type:project.type,idTree:project.idTree,procedureName:project.procedureName,nameTree:project.nameTree,procedureTypeId:project.procedureTypeId,checkRequirement:project.CheckRequirement})" ng-if="roleId=='3rd'">抽验</a>
                </div>
                <div flex="40" ng-if="hasTasks(item)">已验未传</div>
              </div>
          </div>

          <div flex sxt-area-yj-add="project.data.items" project="project" role-id="roleId" ng-if="!vm.loading && (project.type===128 || project.type===256) && is('app.szgc.ys')">
          </div>

        </div>

      </md-content>
<!--      <div ng-show="is('app.szgc.ys') && project.type!=64" style="position: absolute; top:0px; right:0px;z-index:99;">
        <md-button class="md-fab md-mini" ng-show="!vm.searBarHide && vm.isJdBack()" ng-click="vm.backJdSelect()">
          <md-icon md-font-icon="icon-arrow-left"></md-icon>
        </md-button>
        <toggle-menu  inst="vm.searBarHide"></toggle-menu></div>-->

      <ui-view layout="column" flex ng-show="is('app.szgc.ys.addnew')||is('app.szgc.ys.upload')"></ui-view>
      <md-sidenav
        class="md-sidenav-right"
        md-component-id="nav_procedure",
        md-whiteframe="4" layout="column">
        <md-content flex layout="column" style="background: white">

                <sxt-procedure flex layout="column" on-select="vm.closeNav('nav_procedure')" ng-model="project.procedureId" procedure-type-id="project.procedureTypeId" name-value="project.procedureName" region-type="project.type2" check-requirement="project.CheckRequirement" class="md-block"></sxt-procedure>

          <div class="md-padding" layout="row">

            <md-button type="submit" flex ng-click="vm.closeNav('nav_procedure')"  class="md-raised md-primary">确定</md-button>
          </div>
        </md-content>
      </md-sidenav>
    </md-tab-content>
  </md-tab>
  <md-tab ng-if="vm.hasMaterial" label="材料">
    <md-tab-content flex layout-fill layout="column">
      <md-content flex layout-fill layout="column" ng-hide="is('app.szgc.ys.material') || is('app.szgc.ys.detail')" >
        <md-list flex>
          <div flex ng-repeat="item in mlCheckData">
            <div class="md-padding" layout="row" style="padding: 0 8px">
              <p flex>{{ item.CheckTime }}</p>
              <md-button class="md-secondary md-primary" ui-sref="app.szgc.ys.material({id:item.Id})" ng-show="(item.WgCheck == 1 && item.IsInspection == 1 && item.Report == 0)">追加送检报告</md-button>
            </div>
            <md-list-item class="md-3-line" ng-click="goMaterialDetail(item.Id)">
              <img ng-src="{{getImgURl(item.imgUrl)}}" style="width: 80px; height: 80px; padding: 8px 8px 8px 0" />
              <div class="md-list-item-text" layout="column">
                <h3>{{ item.RegionNameTree }}</h3>
                <h4>{{ item.Material }}</h4>
                <p>{{ item.Number + item.Unit }}</p>
              </div>
              <md-divider></md-divider>
            </md-list-item>
          </div>
        </md-list>

      </md-content>
      <div class="md-padding" layout="row" style="position:relative; width:100%; background-color: white;" ng-hide="is('app.szgc.ys.material') || is('app.szgc.ys.detail')">
        <md-button  flex ui-sref="app.szgc.ys.material" class="md-raised md-primary">添加材料验收</md-button>
      </div>
      <ui-view layout="column" flex ng-show="is('app.szgc.ys.material') || is('app.szgc.ys.detail')"></ui-view>
    </md-tab-content>
  </md-tab>
  <md-tab label="离线项目">
    <md-tab-content flex layout-fill layout="column">
      <md-content flex layout="column">
        <md-list md-cloak>
          <md-subheader class="md-no-sticky">已下载</md-subheader>
          <md-list-item ng-repeat="project in project.offlines">
            <p style="padding: 0 14px;" layout="column"><span> {{ project.name }} </span><b ng-if="project.indexing">正在索引 {{project.percent}} ({{project.current}}/{{project.total}})</b> </p>
            <md-divider></md-divider>
          </md-list-item>
          <md-subheader class="md-no-sticky">下载</md-subheader>
          <md-list-item ng-repeat="p in project.projects">
            <div flex layout="column"> <md-button  ng-click="loadProject_items(p)" style="text-align: left"> {{ p.name }} </md-button>
              <div ng-repeat="item in p.items" layout="row" style="padding-left: 20px;">
                <p flex style="margin: 0;line-height: 40px;">{{item.name}}  <b ng-if="item.downloading"> {{item.percent}} ({{item.current}}/{{item.total}})</b> </p>
                <md-button flex="none" class="md-icon-button md-primary" aria-label="download" ng-click="download($event, p,item)" >
                  <md-icon md-font-icon="{{isOffline(item)?'icon-reload':'icon-download'}}" ></md-icon>
                </md-button>
              </div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab-content>
  </md-tab>
  <md-tab label="上传" >
    <md-tab-content flex layout-fill layout="column">
      <md-content flex layout="column">
        <md-list md-cloak>
          <md-subheader class="md-no-sticky"><md-button class="md-secondary md-primary md-raised" ng-disabled="uploading" ng-click="upload()">{{uploading?'正在上传...':'上传'}}</md-button> <span ng-if="uploading">{{project.percent}} ({{project.current}}/{{project.total}})</span> </md-subheader>
          <md-list-item ng-repeat="task in project.tasks">
            <p> {{ task.name }} </p>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab-content>
  </md-tab>
</md-tabs>
