.sxt-num-input{
  background: #ffffff;
  //width:218px;
  //width: 168px;
  width:340px;
 // border: solid 1px silver;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 3px 14px rgba(0,0,0,.4);
  .md-button{
    min-width:80px;
    margin: 5px;
      line-height: 80px;
      height: 80px;

  }
  .mslider{
    >div{
      >div{
        border-bottom: solid 1px silver;
        border-right: solid 1px silver;
        &:last-child{
          border-right: 0;
        }
        span{
          color:#000000;
        }
        .md-button{
          cursor: pointer;
        }
      }
      &:last-child{
        >div{
          border-bottom: 0!important;
        }
      }
    }
    //&:last-child{
    //  >div{
    //    border-bottom: 0!important;
    //  }
    //}
  }
  .nomargin{
    md-slider{
      margin: 0;
      &[md-vertical]{
        min-height: 200px;
      }
    }
  }
}
.sxtnumdowndown{
  span {
    line-height: 30px;
  }

}
