



<md-content flex layout="column" >
  <canvas id="can" width="768" height="800"></canvas>
  <img id="canvasimg" width="768" height="800" style="display:none;">
  <span  flex>
<img id="img" src="app/main/xhsc/images/bg1.jpg" style="display: none;position:absolute;top:0%;left:0%;" >
   <md-button  class="md-primary md-raise" ng-click="erase()" >清除</md-button>

        <!--<md-button style="background:blue;" id="blue" ng-click="color(this)"></md-button>-->
        <!--<md-button style="background:red;"  id="red" ng-click="color(this)"></md-button>-->

   <md-button  class="md-primary md-raise" ng-click="save()"  style="float: right">保存 </md-button>
 </span>

</md-content>
