<md-content flex layout="column" class="photodraw">
  <div flex style="text-align: center"><canvas></canvas></div>
  <div flex="none" layout="row" style="background:#efefef;border-top:1px solid silver;" class="photo-btn">
    <md-button  class="md-primary md-raise" ng-click="cancel()" >取消</md-button>

    <span flex></span>
    <md-button class="md-icon-button" aria-label="red"  ng-click="setColor('red')" ng-style="{'border-bottom-width':is('red')}" style="border-bottom: solid 1px red;">
      <md-icon md-font-icon="icon-checkbox-blank-circle" style="color: red"></md-icon>
      </md-button>
    <md-button class="md-icon-button" aria-label="blue"  ng-click="setColor('blue')" ng-style="{'border-bottom-width':is('blue')}" style="border-bottom: solid 1px blue;">
      <md-icon md-font-icon="icon-checkbox-blank-circle" style="color: blue" ></md-icon>
      </md-button>
    <md-button class="md-icon-button" aria-label="black" ng-click="setColor('black')" ng-style="{'border-bottom-width':is('black')}" style="border-bottom: solid 1px black;">
      <md-icon md-font-icon="icon-checkbox-blank-circle" style="color: black" ></md-icon>
      </md-button>
    <span flex></span>
    <md-button  class="md-primary md-raise" ng-click="erase()" >清除</md-button>
    <md-button  class="md-primary md-raised md-mini " ng-click="save()"  style="float: right">保存 </md-button>
  </div>
</md-content>
