<div class="sxt-num-input" layout="column">
  <div layout="row">
    <div layout="column" class="mslider">
      <div flex layout="row">
        <div flex="33"><md-button ng-click="ck('ac')">AC</md-button></div>
        <div flex="33"><md-button ng-click="ck('+-')">+/-</md-button></div>
        <div flex="33"><md-button ng-click="ck(-1)">←</md-button></div>
      </div>
      <div flex layout="row">
        <div flex="33"><md-button ng-click="ck(7)">7</md-button></div>
        <div flex="33"><md-button ng-click="ck(8)">8</md-button></div>
        <div flex="33"><md-button ng-click="ck(9)">9</md-button></div>
      </div>
      <div flex layout="row">
        <div flex="33"><md-button ng-click="ck(4)">4</md-button></div>
        <div flex="33"><md-button ng-click="ck(5)">5</md-button></div>
        <div flex="33"><md-button ng-click="ck(6)">6</md-button></div>
      </div>
      <div flex layout="row">
        <div flex="33"><md-button ng-click="ck(1)">1</md-button></div>
        <div flex="33"><md-button ng-click="ck(2)">2</md-button></div>
        <div flex="33"><md-button ng-click="ck(3)">3</md-button></div>
      </div>
      <div flex layout="row">
        <div flex="66" layout="column"><md-button ng-click="ck(0)" flex>0</md-button></div>
        <div flex="33"><md-button ng-click="ck('.')">.</md-button></div>
      </div>
    </div>
    <div layout="column" class="nomargin">
      <md-slider-container flex style="background:#fff;position: relative;left: -1px;border-left:1px solid silver;">
        <md-input-container>
          <!--<input flex type="number" ng-model="value2" aria-label="bass" aria-controls="bass-slider">-->
        </md-input-container>
        <md-slider ng-model="value2" min="{{min}}" max="{{max}}" step="{{step}}" aria-label="bass" class="md-primary"
                   md-vertical></md-slider>
      </md-slider-container>
    </div>
  </div>
  <div layout="row" style="background: #ddd;;border-top:1px solid silver;">
    <div flex="100" layout="column"><md-button ng-click="ck('ok')" flex>确定{{value2}}</md-button></div>
  </div>
</div>

