
<md-tabs md-dynamic-height md-border-bottom>
  <md-tab ng-click="vm.tab('')" label="全部">

  </md-tab>
  <md-tab ng-click="vm.tab('unprocessed')" label="未关闭">


  </md-tab>
  <md-tab ng-click="vm.tab('closed')" label="已关闭">

  </md-tab>
  <md-tab ng-click="vm.tab('my')" label="我创建的">


  </md-tab>
  </md-tabs>



<md-content layout="column" flex style="background: #f5f5f5;height: 100%;" class="is-list">
  <div ng-if="!vm.show" style="width: 100%;text-align: center;padding-top: 50%;height: 100%;">
  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-diameter="48"  class="md-accent" ></md-progress-circular>
  </div>
  <div  style="color: #808080;font-size: 14px;padding-top: 10px;">加载中</div>
</div>
  <div ng-if="vm.show">
  <div layout="column" ng-if="vm.count!=0"  style="height: 100%;">
    <md-card layout="row" style="min-height: 130px;" flex ng-repeat="item in vm.data | itemFilter:vm.data.type:vm.data.userid">
      <md-card-title class="p-0 m-0" style="background-color: white;" id="{{item.status}}">

        <md-card-title-text>
          <div class="p-10" layout="row" layout-align="space-between center"><div style="white-space: nowrap" class="mr-10">{{item.created_at}}</div><div>{{item.room.title}}</div></div>
          <md-divider></md-divider>
          <div class="p-10" layout="row" layout-align="space-between center" ng-click="vm.qdetail(item)"><div class="mr-10"  style="max-height:50px;overflow: hidden;line-height: 25px;">{{item.third_issue.title}}</div>
            <div><md-icon md-font-icon="icon-chevron-right"></md-icon></div>
          </div>
          <md-divider></md-divider>
          <span class="p-10">责任单位:{{item.partner.title}}</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
  </div>


  <div class="img-list" ng-if="vm.count==0"  style="width: 100%;text-align: center;padding-top: 50%;height: 100%;">
    <img  src="app/main/szgc/images/null.jpg" style="width: 120px;height: 120px;">
    <div  style="color: #808080;font-size: 14px;padding-top: 10px;">暂无数据</div>
  </div>
  </div>
</md-content>

