

    <md-content layout="column" flex id="statistic">
      <div flex="10" style="text-align: center;" >
        <md-datepicker ng-model="vm.myDate" md-placeholder="Enter date"
                       md-open-on-focus style="text-align: right;"></md-datepicker>

      </div>

      <div flex="10" style="text-align:center;"><span style="font-size: 18px;" class="p-5">{{vm.problem.number}}个问题</span><span style="font-size: 12px;" class="p-5">{{vm.problem.number1}}个未关闭</span><span style="font-size: 12px;" class="p-5">{{vm.problem.number2}}个已关闭</span></div>
      <md-divider></md-divider>
  <div flex="80">
        <md-tabs  md-border-bottom >
          <md-tab ng-click="vm.tab(0)"  label="问题分类排行">
            <md-content layout="column" flex id="problem">
              <bar-chart  config="vm.data.config" data="vm.data.data" ></bar-chart>
            </md-content>
          </md-tab>
          <md-tab ng-click="vm.tab(2)" label="责任单位排行" id="responsibility"  >
            <md-content>
              <bar-chart config="vm.data.config" data="vm.data.data1"></bar-chart>
            </md-content>
        </md-tabs>
  </div>

</md-content>
